<div class="modal fade" id="modal-customer-contact" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" data-bind="text: titleLabel"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

                <div class="col-12 wss-step1-table-scroll">
                    <table class="table table-hover">
                        <tbody>
                            <!-- ko if: contactList().length == 0 -->
                            <tr>
                                <td colspan="2"><span data-bind="text: noItemsLabel"></span></td>
                            </tr>
                            <!-- /ko -->
                            <!-- ko if: contactList().length > 0 -->
                                <!-- ko foreach: contactList -->
                                <tr data-bind="click: $component.selectCustomer.bind($data, $data), css: {'wss-step1-table-selected': $data.active()}">
                                    <td data-bind="text: $data.name"></td>
                                    <td data-bind="text: $data.company"></td>
                                    <td><a id="deleteCustomer" href="#!" data-bind="click: $component.deleteCustomer.bind($data, $data)"><i class="fas fa-trash ml-2"></i></a></td>
                                </tr>
                                <!-- /ko -->
                            <!-- /ko -->
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-return" class="btn" data-bind="text: cancelLabel, click: $component.cancel.bind($data)"></button>
                <button type="button" id="btn-submit" class="btn btn-primary" data-bind="text: confirmLabel, click: $component.confirm.bind($data)"></button>
            </div>
        </div>
    </div>
</div>