#*
This velocity template is not being actively used, we can't programatically override the default template that is using Hippo for sending e-mails when users submit forms.

It can be used though to place it manually on every form to override the default one.

This template is mainly the same as the default one but with some visual changes to make it more readable.*#
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    #macro(getRadioGroupValue $field)
    #* @vtlvariable name="field" type="com.onehippo.cms7.eforms.hst.model.AbstractField" *#
        #foreach($key in $field.multiValues.keySet())
            #if ($key == $field.label)
                #set ($collection = $field.multiValues.get($key))
                #if ($collection && $collection[0])
                    #if ($field.getDisplayValue($collection[0]))
                        $field.getDisplayValue($collection[0])
                    #else
                        $collection[0]
                    #end
                #end
            #end
        #end
    #end

    #macro(displayField $field, $ancestor)
    #* @vtlvariable name="field" type="com.onehippo.cms7.eforms.hst.model.AbstractField" *#
        #if (!$ancestor.isConditional() || $form.checkCondition($ancestor))
            #if (!$field.isConditional() || $form.checkCondition($field))
                #if ($field.isMultiple())
                    #if ($field.type=="checkboxgroup")
                    <tr>
                        <td colspan="2">$field.labelOrName</td>
                    </tr>
                        #foreach($checkedValue in $field.multiValues.get($field.label))
                        <tr>
                            <td></td>
                            #if ($field.getDisplayValue($checkedValue))
                                <td>$field.getDisplayValue($checkedValue)</td>
                            #else
                                <td>$checkedValue</td>
                            #end
                        </tr>
                        #end
                    #else
                    <tr><td colspan="2">
                        <table>
                            <thead>
                            <tr><th align="left" colspan="2">$field.labelOrName</th></tr>
                            </thead>
                            <tbody>
                                #set($multiValues = $field.multiValues)
                                #foreach($key in $multiValues.keySet())
                                <tr>
                                    <td>$key</td>
                                    #foreach($value in $multiValues.get($key))
                                        #if ($field.getDisplayValue($value))
                                            <td>$field.getDisplayValue($value)</td>
                                        #else
                                            <td>$value</td>
                                        #end
                                    #end
                                </tr>
                                #end
                            </tbody>
                        </table>
                    </td></tr>
                    #end
                #elseif ($field.type=='simpletextfield')
                <tr>
                    <td colspan="2">$field.labelOrName</td>
                </tr>
                #else
                <tr>
                    <td>$field.labelOrName</td>
                    #if ($field.type=='radiogroup')
                        <td>#getRadioGroupValue($field)</td>
                    #else
                        #if ($field.value)
                            #if ($field.getDisplayValue($field.value))
                                <td>$field.getDisplayValue($field.value)</td>
                            #else
                                <td>$field.value</td>
                            #end
                        #else
                          <td></td>
                        #end
                    #end
                </tr>
                #end
            #end
        #end
    #end
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
        #if ($form.getTitle())
            <title>$form.getTitle()</title>
        #elseif($form.getDisplayName())
            <title>$form.getDisplayName()</title>
        #end
        <style>
            #formtable {
                font-family: "Open Sans", sans-serif;
                font-weight: 400;
                border-collapse: collapse;
                width: 100%;
            }

            #formtable td, #formtable th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #formtable tr:nth-child(even){background-color: #f2f2f2;}
            
            #formtable th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #0074be;
                color: white;
            }
        </style>
    </head>
    <body>
        #if ($form.getTitle())
            <h1>$form.getTitle()</h1>
        #elseif($form.getDisplayName())
            <h1>$form.getDisplayName()</h1>
        #end
        #if($paragraph)
        <p>$paragraph</p>
        #end
        #if($includeFieldData)
            <table id="formtable">
                #foreach ($page in $form.getPages())
                    #foreach ($field in $page.getFields())
                        #if ($field.getType() == 'fieldgroup')
                            #if (($field.isConditional() && $form.checkCondition($field)) || !$field.isConditional())
                               <tr><th align="left" colspan="2">${field.getLabelOrName()}</th></tr>
                               #foreach ($groupField in $field.getFields())
                                  #displayField($groupField, $field)
                               #end
                            #end
                        #else
                            #displayField($field, $page)
                        #end
                    #end
                #end
            </table>
        #end
    </body>
</html>
