@import '../_colors';
@import '../_mixins';

.ask-smc-component {
    width: 100%;

    @include back-button;

    .form {
        div[name="group_hidden"]{
            display: none;
        }
    }
    .product {
        min-height: 100px;

        .image {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &.empty-product {
            display: none;
        }
    }

    .asksmcform {
        .icon-button {
            position: relative;
            border-radius: 50%;
            display: inline-block;

            &:hover {
                cursor: pointer;

                &:after {
                    position: absolute;
                    top: 1px;
                    bottom: 1px;
                    left: 1px;
                    right: 1px;
                    content: '';
                    border-radius: 50%;
                    box-shadow: 0 0 21px 1px rgba(0,68,111,0.81);
                }
            }
        }

        /*Feedback/confirmation*/
        .content-p {
            color: $blue;
            line-height: 20px;
            text-align: center;
            margin-top: 90px;
            height: 200px;
        }

        .form {
            min-height: 100px;
            margin-bottom: 75px;

            .form-group label {
                display: none;
            }

            .form-group__inputWrapper:after {
                top: 8px;
            }

            div[name="group_fullname"],
            div[name="group_phone"],
            div[name="address"],
            div[name="city_country"] {
                .eforms-field {
                    max-height: 85px;
                }
            }

            div[name="city_country"] {
                .eforms-field {
                    margin-bottom: auto;
                }
                .smc-dummy-placeholder {
                    margin-bottom: 15px;
                }
            }
            div[name="group_hidden"],
            div[name="group_send_copy_to_2"],
            div[name="group_send_copy_to_3"],
            div[name="group_send_copy_to_4"],
            div[name="group_send_copy_to_5"] {
                display: none;
            }





            /* Country Selector*/
            div[name="city_country"] {
                .form-group {
                    margin-left: 0;

                    @media (max-width: 767px) {
                        margin-top: 5px;
                        .smc-select select {
                            height: 42px;
                        }
                    }
                }
            }

            .oneline {
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: space-around;

                .eforms-field {
                    flex-grow: 1;
                    min-width: 25%;
                    margin-right: 3px;
                }
            }

            @media (min-width: 452px) {
                div[name="group_send_copy_to_1"],
                div[name="group_send_copy_to_2"],
                div[name="group_send_copy_to_3"],
                div[name="group_send_copy_to_4"],
                div[name="group_send_copy_to_5"] {
                    .eforms-field {
                        margin-right: 0px;
                    }
                }


            }

            @media (min-width: 992px) {
                .oneline {
                    .eforms-field:not(:last-child) {
                        margin-right: 15px;
                    }
                }
            }

            .form-group.smc-select {
                width: 100%;

                select {
                    &.is-valid {
                        border-color: $validation-green;
                    }
                    &.is-invalid {
                        border-color: $validation-red;
                    }
                }
            }

            button[type="submit"] {
                float: right;
                position: relative;
                margin-right: 0;
            }
        }


        /* Override for ASk SMC Component */
        .smc-form .form-group {
            width: auto;
            margin-right: 3px;
        }
    }

    .footer {
        position: fixed;
        bottom: 0;
        width: 98%;
        width: -webkit-calc(100% - 15px);
        width: -moz-calc(100% - 15px);
        width: calc(100% - 15px);
        height: 60px; /* Set the fixed height of the footer here */
        line-height: 60px;
        background-color: white;
        padding-top: 8px;
    }
}
