@import "colors";

@mixin smc-tabs() {
  .smc-tabs {
    font-family: "Montserrat", sans-serif;

    > ul {
      > li a {
        text-decoration: none;
        text-align: left;

        &:hover {
          text-decoration: none;
        }

        &.disabled::after {
          color: $font-gray;
        }
      }

      .nav-item {
        margin: 10px;
      }
    }

    > .tab-content {
      margin: 0;

      .tab-pane {
        margin: 20px 3rem;
      }
    }

    .simple-collapse {
      margin: 10px 0;

      a::after {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        font-family: "smc";
        content: "\6e";
        font-size: 18px;
        color: $blue;
      }
      a.active::after{
        content: "\68";
      }
    }
  }

  @media (min-width: 768px) {
    .tab-pane.active {
      margin-bottom: 50px;
    }

    .smc-tabs {
      > ul {
        flex-direction: row;
        justify-content: normal;

        &::after {
          content: '';
          width: 100%;
          height: 2px;
          background: linear-gradient(to right, $blue, rgba(0, 116, 190, 0));
          position: relative;
          top: 4px;
          left: 0;
        }

        > li {
          position: relative;

          a.active::after {
            opacity: 1;
            transition: opacity 0.5s ease-in;
          }

          a::after	{
            content: '';
            width: 100%;
            position: absolute;
            height: 6px;
            background: $blue;
            bottom: -15px;
            left: 0;
            opacity: 0;
            transition: opacity 0.5s cubic-bezier(0, 1, 0, 1);
          }
        }
      }
    }
  }
}