#main {
  padding: 20px;
}


.open-close-block {
  @media (min-width: 992px) {
    width: 101%;
    margin: 0 auto 0 -15px;
    .smc-filters__categories.filters-wrapper__item.simple-collapse.simple-collapse--generic.simple-collapse--filter {
      padding-top: 18px;
    }
  }
  box-shadow: 0 0 20px 0 rgba(0, 68, 111, 0.5);
  border-radius: 10px;
  padding: 5px 15px 5px;
  max-width: 10000px;

  .smc-flyout {
    display: block;
  }

  .filters-wrapper .simple-collapse.simple-collapse--generic.active > .simple-collapse__head:before,
  .filters-wrapper .simple-collapse.simple-collapse--generic > .simple-collapse__head:before {
    display: none;
  }

  .filters-wrapper .simple-collapse.simple-collapse--generic.active > .simple-collapse__head:after {
    position: absolute;
    content: '';
    background: url(../../../images/fixed-area/arrow-up.png) no-repeat;
    width: 18px;
    height: 9px;
    top: 50%;
    margin-top: -4px;
    right: 10px;
  }

  .filters-wrapper .simple-collapse.simple-collapse--generic > .simple-collapse__head:after {
    position: absolute;
    content: '';
    background: url(../../../images/fixed-area/arrow-down.png) no-repeat;
    filter: invert(42%) sepia(80%) saturate(7384%) hue-rotate(188deg) brightness(95%) contrast(100%);
    width: 18px;
    height: 9px;
    top: 50%;
    margin-top: -4px;
    right: 10px;
  }

  .simple-collapse__head {
    &:hover {
      color: #0074be !important;
    }
  }

  .list-navigation {
    margin: 5px 0 -18px 7px;
    padding: 0;
    list-style-type: none;
    position: relative;
    font-size: 15px;
    // min-height: 320px;

    @media (min-width: 768px) {
      width: 26%;
    }

    @media (min-width: 992px) {
      // min-height: 280px;
    }

    li {
      padding-bottom: 17px;

      &.active {
        > ul,
        .carousel-block {
          visibility: visible;
          opacity: 1;
          z-index: 5;
        }
      }

      &:hover {
        > ul,
        .carousel-block {
          visibility: visible;
          opacity: 1;
          display: block;
          margin: 0;
          left: 100%;
          top: 0;
          // bottom: 0;
        }

        @media (min-width: 768px) {

        }
      }

      a, .level-option {
        color: #4d4d4d;

        &:hover {
          text-decoration: none;
          color: #0074be !important;
        }
      }

      &.has-dropdown {
        > a, .level-option {
          position: relative;
          display: block;
          color: #4d4d4d;
          cursor: pointer;

          &:after {
            position: absolute;
            top: 50%;
            right: 0;

            margin-top: -8px;

            content: '';
            background: url(../../../images/fixed-area/arrow-right.png) no-repeat;
            width: 6px;
            height: 11px;
            opacity: 0.15;
          }
        }

        &:hover {
          > a, .level-option {
            &:after {
              color: #0074be !important;
              filter: invert(42%) sepia(80%) saturate(7384%) hue-rotate(188deg) brightness(95%) contrast(100%);
              opacity: 1;
            }
          }
        }

        &.active {
          > a, .level-option {
            color: #4D4D4D;

            &:after {
              color: #4D4D4D;
            }

            &:hover {
              > a, .level-option {
                color: #0074be !important;

                &:after {
                  color: #0074be !important;
                }
              }
            }
          }

        }
      }
    }

    ul {
      margin: 0 0 -17px 0;
      padding: 17px 0 0 10px;
      list-style-type: none;
      visibility: hidden;
      opacity: 0;
      background: #fff;
      display: none;

      @media (min-width: 768px) {
        width: 110%;
        position: absolute;
        top: 0;
        left: 0%;
        display: block;
        margin: 0 0 0 107%;
        padding: 0 0 0 36px;
        // min-height: 180px;
      }

      @media (min-width: 992px) {
        width: 100%;
        padding: 0 0 0 76px;
      }

      @media (min-width: 1200px) {
        width: 84%;
      }

      &:after {
        position: absolute;
        content: '';
        // top: -9999px;
        bottom: -9999px;
        top: 0;
        // bottom: 0;
        left: 20px;
        width: 2px;
        background: #cecece;
        display: none;

        @media (min-width: 768px) {
          display: block;
        }
      }

      &:before {
        position: absolute;
        content: '';
        top: -9999px;
        bottom: -9999px;
        left: 100%;
        right: -9999px;
        background: #fff;
      }

      .active & {
        z-index: 3;
      }

    }

    .download-list {
      a {
        position: relative;
        padding-right: 18px;

        &:after {
          position: absolute;
          content: '';
          bottom: 3px;
          right: 0;
          width: 11px;
          height: 11px;
          background: url(../../../images/fixed-area/icon-download.png) no-repeat;
        }
      }
    }

    .carousel-block {
      margin: 0;
      padding: 0;
      visibility: hidden;
      opacity: 0;
      background: #fff;
      display: none;

      @media (min-width: 768px) {
        margin: 0 0 0 107%;
        padding: 0 0 20px 40px;
        width: 232%;
        position: absolute;
        top: 0;
        left: 0%;
        display: block;
      }


      @media (min-width: 992px) {
        display: flex !important;
        justify-content: space-between;
        padding: 0 0 0 40px;
        min-height: 220px !important;
      }

      &:after {
        position: absolute;
        content: '';
        top: -9999px;
        bottom: -9999px;
        left: 20px;
        width: 2px;
        background: #cecece;
        display: none;

        @media (min-width: 768px) {
          display: block;
        }
      }

      #video-carousel {
        width: 100%;
        padding: 15px 0;

        @media (min-width: 992px) {
          width: 57%;
          padding: 0;
          align-self: flex-start;
        }

        @media (min-width: 1200px) {
          width: 54%;
        }

        .carousel-inner {
          padding: 0 9%;
        }

        .carousel-control-prev,
        .carousel-control-next {
          padding: 0;
          border: none;
          background: transparent;
          color: #4d4d4d;
          width: 20px;
        }

        .carousel-control-prev-icon {
          position: relative;
          display: block;
          text-align: center;

          &:after {
            position: absolute;
            content: '';
            top: 50%;
            right: 0;
            left: 0;
            margin-top: -8px;
            background: url(../../../images/fixed-area/arrow-left.png) no-repeat;
            width: 9px;
            height: 18px;
          }
        }

        .carousel-control-next-icon {
          position: relative;
          display: block;
          text-align: center;

          &:after {
            position: absolute;
            top: 50%;
            right: 0;
            left: 0;
            margin-top: -8px;
            content: '';
            background: url(../../../images/fixed-area/arrow-right02.png) no-repeat;
            width: 9px;
            height: 18px;
          }
        }

        .visually-hidden {
          display: none;
        }
      }

      .text-holder {
        width: 100%;
        color: #4d4d4d;

        @media (min-width: 992px) {
          width: 30%;
        }

        p {
          margin-bottom: 7px;
        }
      }
    }

    .icon {
      position: absolute;
      right: -186%;
      top: 0;
      display: none;

      @media (min-width: 1200px) {
        display: block;
        img {
          height: 177px;
        }
      }
    }

    .text-holder {
      a {
        color: #0074be !important;
      }
    }
  }

}

.modal {
  &.show {
    display: block;
  }

  .btn-close {
    border: none;
    padding: 0;
    margin: 8px 0 0 0;
    background: url(../../../images/fixed-area/icon-close.png) no-repeat;
    width: 15px;
    height: 15px;
  }

  &.video-modal {
    @media (max-width: 991px) {
      .modal-dialog {
        max-width: 575px;
      }
    }
    @media (min-width: 992px) {
      padding: 0 20px;
      .modal-dialog {
        max-width: 800px;
      }
    }
    @media (min-width: 1200px) {
      .modal-dialog {
        max-width: 993px;
      }

    }

    .modal-content {
      border-radius: 25px;
    }

    .modal-title {
      font-size: 15px;
      line-height: 20px;

      @media (min-width: 992px) {
        font-size: 20px;
        line-height: 27px;
      }
    }
  }

  .video-carousel {
    position: relative;
    display: block;
    box-sizing: border-box;
    font-size: 15px;
    line-height: 20px;

    .carousel-holder {
      //padding: 0 15%;
      overflow: hidden;
      position: relative;
      display: block;
      margin: 0;
      transform: translate3d(0, 0, 0);

      @media (min-width: 1200px) {
        //padding: 0 21%;
      }
    }

    .slick-track {
      position: relative;
      left: 0;
      top: 0;
      display: block;

      &:before,
      &:after {
        content: "";
        display: table;
      }

      &:after {
        clear: both;
      }
    }

    .slide {
      float: left;
      height: 100%;
      min-height: 1px;
      display: none;
      width: 100%;

      &.active {
        display: block;
      }

      img {
        display: block;
        margin-bottom: 10px;
      }
    }

  }

  .btn-arrow {
    position: absolute;
    top: 50%;
    left: 5%;
    color: #4d4d4d;
    width: 20px;
    height: 20px;
    font-size: 15px;

    //@media (min-width: 1200px) {
    //  left: 16%;
    //}

    &:after {
      position: absolute;
      top: 50%;
      right: 0;
      content: '';
      background: url(../../../images/fixed-area/arrow-left.png) no-repeat;
      width: 13px;
      height: 27px;
    }

    &.arrow-next {
      left: auto;
      right: 5%;

      //@media (min-width: 1200px) {
      //  right: 16%;
      //}

      &:after {
        background: url(../../../images/fixed-area/arrow-right02.png) no-repeat;
      }
    }

  }

  .slider-navigation {
    overflow: hidden;
    position: relative;
    display: block;
    margin: 20px 0 0;
    transform: translate3d(0, 0, 0);
    padding: 0 30px;

    .btn-arrow {
      left: 0;
      margin-top: -20px;


      @media (min-width: 992px) {
        margin-top: -30px;
      }

      &.arrow-next {
        left: auto;
        right: 0;
      }
    }

    .slick-current img {
      border: 1px solid #0074be;
    }
  }

  .holder {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
    width: 50%;
    padding: 0 10px;

    @media (min-width: 480px) {
      width: 25%;
    }

    @media (min-width: 992px) {
      width: 16.6%;

    }

    &.active {
      display: block;
    }

    img {
      display: block;
      margin-bottom: 10px;
    }

    @media (max-width: 991px) {
      p {
        font-size: 12px;
        line-height: 15px;
      }

      &:nth-child(5),
      &:nth-child(6) {
        display: none;
      }
    }

    @media (max-width: 480px) {

      &:nth-child(3),
      &:nth-child(4) {
        display: none;
      }
    }
  }
}

@media (max-width: 1499px) {
  iframe.lg {
    display: none;
  }
  iframe.sm {
    display: initial;
  }
  .slick-track img {
    height: 150px;
  }
}

@media (min-width: 1500px) {
  iframe.lg {
    display: initial;
  }
  iframe.sm {
    display: none;
  }
}

.list-navigation > li:hover ul,
.list-navigation > li:hover .carousel-block {
  margin: 0;
  left: 100%;
}

a.btn-arrow.arrow-prev.arrow-big.slick-arrow {
  z-index: 10;
}

.video-carousel .btn-arrow {
  cursor: pointer;
}

#video-carousel button {
  cursor: pointer;
}

#smc-flyout-scrollable-fixed-area {
  overflow-y: hidden;
}

.show-new-label span {
  float: right;
  padding-right: 25px;
  margin-top: -10px;
  vertical-align: middle;
}



