/**************************LKS CSS**********************************/

/**** eshop general elements ******/
.a-ko {
    color: #0074be!important;
    cursor: pointer;
}

.a-ko.active {
    color: white!important;
    cursor: pointer;
}

.a-kons {
    color: white!important;
    cursor: pointer;
}

.link-disabled {
    color:#4D4D4D!important;
    cursor: pointer;
    pointer-events: none;

}

.eshop-box-rounded {
    border-radius: 10px;
}

.basket-product-box .description,
.favourites-product-box .description {
    margin-left: 10px;
    font-weight: 700;
}

.basket-product-box {
    min-height: 48px;
}

.eshop .btn-outline-secondary {
    border: solid 2px #cccccc;
}

.eshop .btn-outline-primary {
    border-color: #0074be !important;
}

.eshop.btn-outline-primary:hover {
    border-color: #0074be !important;
    background-color: #0074be !important;
}

.btn-desactivated {
    background-color: #b8b8b8;
    color: white;
    cursor: auto;

}

.btn-desactivated:hover {
    box-shadow: none;
    color: white;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.dropdown-menu a:hover {
	background:#0074be;
	color: #fff !important;
}

.simple-collapse__bodyInner {
    padding: 20px;
}

.align-bottom {
    align-items: end;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.box-loading-trans {
    background-color: transparent !important;
    background: url("../images/loading.gif") no-repeat center center;
}

.box-loading-trans span,
.box-loading-trans label {
    visibility: hidden;
}

/* Bootstrap select fix */
select.form-control {
    height: auto !important;
}

.pointer {
    cursor: pointer;
}

.total-blue-box,
.total-gray-box {
    width: 450px;
    padding: 15px 20px;
    background-color: #0074be;
    color: white;
    border-radius: 0 0 12px 12px;
    margin-bottom: 15px;
    float: right;
}

.total-gray-box {
    width: 350px;
    background-color: #fff;
    color: #000;
    border-radius: 0 0 12px 12px;
    border: 1px solid #000;
    border-top: none;
    margin-bottom: 15px;
    float: right;
}

/**************************Eshop apps***************************/
.eshop-apps-selector {
    width: 415px;
    border: solid 2px #0074be;
    background: #FFFFFF;
    border-radius: 14px;
    position: fixed;
    z-index: 200;
    top: 50px;
    right: 20px;
    margin: 0 auto;
    padding: 15px 0 0;
    box-shadow: 0 0 20px 0 rgba(0, 68, 111, 0.81);
    display: none;
    max-width: 90%;
}

.eshop-apps-selector h2 {
    padding: 0 20px;
}

.eshop-apps-selector p {
    padding: 0 20px;
}

.eshop-apps-selector .smc-tabs__body {
    padding: 0 20px;
}

.eshop-apps-selector .smc-close-button {
    font-size: 30px;
    top: 10px;
    background: transparent;
    right: 10px;
}

.eshop-apps-selector ul {
    margin: 0px;
    list-style: none;
    padding-left: 20px;
}

.eshop-apps-selector ul>li,
.eshop-apps-selector ul>li :hover {
    margin-bottom: 5px;
    font-weight: 700;
    text-decoration: none;
    color: #0074be;
}

.eshop-apps-selector__footer {
    padding: 15px 20px;
}

.has-eshop-apps-select .eshop-apps-selector {
    display: block;
}

@media (min-width : 768px) {
    .eshop-apps-selector .smc-tabs__head {
        margin-bottom: 15px;
    }

    .eshop-apps-selector .smc-tabs__body {
        padding-bottom: 15px;
    }
}

/**************************Basket/Cart***************************/
.cart-selector {
    flex-flow: row;
    border: solid 2px #0074be;
    background: #FFFFFF;
    border-radius: 14px;
    position: fixed;
    z-index: 200;
    top: 50px;
    right: 20px;
    margin: 0 auto;
    padding: 15px 0 0;
    box-shadow: 0 0 20px 0 rgba(0, 68, 111, 0.81);
    display: none;
}

.cart-selector h2 {
    padding: 0 20px;
}

.cart-selector p {
    padding: 0 20px;
}

.cart-selector .smc-tabs__body {
    padding: 0 20px;
}

.cart-selector .smc-close-button {
    font-size: 30px;
    top: 10px;
    background: transparent;
    right: 10px;
}

.cart-selector ul {
    margin-left: 30px;
    list-style: none;
}

.cart-selector ul>li {
    margin-bottom: 5px;
}


.cart-selector__footer {
    padding: 15px 20px;
    border-top: 2px solid #0074be;
}

.cart-selector__footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.cart-selector__footer ul>li {
    margin-right: 30px;
}

.cart-selector__footer ul>li:nth-last-child(2) {
    flex-grow: 1;
}

.cart-selector__footer ul>li:last-of-type {
    margin-right: 0;
}

.cart-selector__footer.blue {
    background-color: #0074be;
    color: white;
    border-radius: 0 0 0 12px;
}

.cart__footer--bottom {
    bottom: 0px;
    position: absolute;
    width: 500px;
    right: 0;
}

.logged .cart__footer--bottom {
    bottom: 0px;
    position: absolute;
    width: 675px;
    right: 14px;
}

@media (min-width: 992px) {
    .has-cart-select .cart-selector {
        display: flex;
    }
}

@media (min-width: 768px) {
    .cart-selector .smc-tabs__head {
        margin-bottom: 15px;
    }

    .cart-selector .smc-tabs__body {
        padding-bottom: 15px;
    }
}

.cart__mega__left {
    width: 295px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 15px;
    border-right: 3px solid rgb(204, 204, 204);
}

.cart__mega__right {
    padding-top: 5px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
}

.cart__mega__right.eshop_cart {
    width: 650px;
}

.cart-selector .cart__mega__right ul {
    margin: 0;
    padding: 0;
}

.cart-selector .cart__mega__right ul li {
    border-bottom: solid 1px #ccc;
}

.cart-grid {
    overflow-y: scroll;
    width: 450px;
}

.logged .cart-grid {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 650px;
    height: 290px;
    border: solid 1px #0074be;
    padding-left: 5px;
}

.cart-grid__footer {
    border-top: 1px solid #000;
}

.cart-grid__footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.cart-grid__footer ul>li {
    margin-right: 30px;
}

.cart-grid__footer ul>li:nth-last-child(2) {
    flex-grow: 1;
}

.cart-grid__footer ul>li:last-of-type {
    margin-right: 0;
}

.total-blue-box {
    width: 450px;
    padding: 15px 20px;
    background-color: #0074be;
    color: white;
    border-radius: 0 0 12px 12px;
    margin-bottom: 15px;
    float: right;
}

.cart-grid__footer.blue {}

.cart__mega__right label {
    margin-bottom: 0;
}

.cart__mega__right .header .col-4,
.cart__mega__right .header .col-3,
.cart__mega__right .header .col-2,
.cart__mega__right .header .col-1 {
    padding: 0;
}

.cart__mega__right .cart-grid-header-block {
    border-bottom: 1px solid black;
    flex-grow: 0;
}

.cart-grid-header-block span,
.cart-grid-header-block label.header {
    font-weight: 700;
}

.cart__mega__right .cart-grid-list-block {
    flex-grow: 1;
    max-height: 320px;
    overflow-y: auto;
    margin-bottom: 15px;
}

.cart__mega__right .text-muted {
    font-style: italic;
}

.cart-grid-list-block .grid_line {
    min-height: 40px;
    align-items: center;
}

.cart__mega__right .add-to-list-block {
    flex-grow: 0;
}

.delete-all-button {
    padding-right: 10px;
}

.contact-info {
    color: #fff;
}

.contact-info:hover {
    text-decoration: underline;
    text-decoration-color: #fff;
}

/********************* TREE *************************/
.treeview-block {
    border-right: 1px solid #ddd;
}

.treeview ul {
    padding-left: 25px;
}

ul.treeview {
    list-style: none !important;
    margin-bottom: 30px;
}

.treeview li {
    list-style: none;
    margin-bottom: 5px;
    display: flex;
    height: 30px;
    align-items: center;
    padding-right: 10px;
}

.treeview i {
    margin-right: 5px;
}

.treeview span {
    background-color: gray;
    border-radius: 10px;
    font-size: 12px;
    color: white;
    margin-left: 4px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 3px;
}

.treeview a.folder-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.treeview .option {
    margin-left: 10px;
    margin-right: 0px;
}

.fa-folder {
    color: #0074be;
}

.treeview li.selected a,
.treeview li.selected .fa-folder {
    color: gray;
}

.folder-breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    justify-content: flex-start;
}

.folder-breadcrumbs i,
.folder-breadcrumbs li {
    margin-right: 5px;
}


ol.folder-breadcrumbs li:after {
    content: '\3E';
    margin-left: 0.3em;
    color: gray
}

ol.folder-breadcrumbs li:last-child:after {
    content: none;
}

.folder-breadcrumbs a:hover {
    text-decoration: none;
}

/*********************** Paginación *************************/
.eshop.pagination {
    margin-top: 15px;
    text-align: center;
    justify-content: center;
}

.eshop.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    position: center;
}

.eshop.pagination a.active {
    background-color: #0074be;
    color: white;
    border-radius: 5px;
}

.eshop.pagination a:hover:not (.active) {
    background-color: #ddd;
}

.eshop.pagination a.page-link {
    border: none;
}

/************************** Tabs ****************************************/
.eshop-tabs section {
    border-top: 1px solid #fff;
}

.eshop-tabs section.show {
    /*/border-top: 1px solid #0074be;*/
}

.eshop-option-tabs {
    margin-bottom: 0;
    text-align: end;
    display: flex;
    justify-content: flex-end;
}

.favourite-product-box .eshop-option-tabs {
    justify-content: flex-start;
}

.eshop-option-tabs>ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-flex;
    position: relative;
    vertical-align: bottom;
}

.eshop-option-tabs>ul>li {
    margin-right: 40px;
    position: relative;
    margin-bottom: 0;
    top: 15px;
    padding-bottom: 15px;
    white-space: nowrap;
}

.eshop-option-tabs>ul>li a:hover,
.basket-option-box a:hover,
.favourites-option-box a:hover {
    text-decoration: none;
}

.eshop-option-tabs>ul>li a.collapsed:hover::after,
.eshop-option-tabs>ul>li a:not(.collapsed)::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #0074be;
    height: 5px;
    content: '';
}

@media (max-width : 576px) {
    .eshop-option-tabs button {
        order: -1;
    }
}

/************************* all favourites page folder *****************************/

.favourite-folders-tree {
    max-height: calc(100vh - 300px);
    overflow-y: auto;
}

.folder {
    margin-bottom: 25px;
}

/**** Product selection ******/

.product-selection-item img {
    width: 100px;

}

.eshop .nopadding {
    padding: 0 !important;
}

/**** Basket  details******/
.basket-product-box-details {
    border-left: 1px solid #f5f5f5;
}

.row.m-3.basket-details-item {
    margin: 1rem 1rem -4.75rem 1rem !important;
}


.basket-details-item img {
    width: 57%;
    height: 95%;
    padding-bottom: 10%;
}

.basket-product-box-details.smc-tabs__head ul {
    /* Cambios 20/07 
	margin-left: 28%;*/
    margin-left: 15%;
}

.product-details-list {
    list-style: none;
}

.product-details-list label {
    font-size: 14px;
}

.basket-product-box-details .details-head {
    background-color: #f5f5f5;
    border-top-right-radius: 10px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
}

.basket-product-box-details .details-head.multiline {
    background-color: #fdffb7 !important;
}

.basket-product-box-details .date-block {
    border-bottom: 1px solid #ccc;
}

.basket-product-box-details .date-block.last {
    border-bottom: none;
}


.basket-product-box-details .option-label {
    margin-right: 10px;
}

.basket-product-box-details .value {
    font-weight: 700;
}

.basket-product-box-details .second-value {
    font-weight: normal;
    color: #bbb;
}

.basket-grand-total .option-label {
    font-weight: normal;
    font-size: 12px;
    font-style: italic;
}


.basket-grand-total .value {
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.basket-grand-total .second-value {
    font-weight: 700;
    color: #bbb;
    font-size: 18px;
    text-align: right;
    margin-left: 10px;
}

@media (max-width : 992px) {
    .basket-product-box-details {
        border: none;
    }

    .basket-product-box-details .details-head {
        border-radius: 0px;
    }

    .basket-product-box-details .details-head {
        margin-left: -14px !important;
    }
}

@media (max-width : 576px) {
    .eshop-option-tabs button {
        order: -1;
    }

    .basket-product-box-details .details-head,
    .product-details-list label {
        font-size: 12px !important;
    }

    .basket-product-box-details .date-block.last {
        border-bottom: 1px solid #ccc !important;
    }
}


/********************Basket steps ******************/
.basket-step {
    text-align: center;
    background: #fff;
    border: solid 2px #0074be;
    border-radius: 25px;
    text-align: center;
}

.basket-step p {
    font-weight: 600;
    font-size: 22px;
    color: #0074be;
    margin-top: 4px;
    margin-bottom: 4px;
    font-family: "Montserrat", sans-serif;
}

.basket-step.selected {
    background: #0074be;
}

.basket-step.selected p {
    color: #fff;
}


.basket-steps-container {
    margin-bottom: 51px;
}

.basket-line {
    border-bottom: solid 2px #0074be;
    top: 24px;
}

@media (max-width : 576px) {
    .basket-step p {
        font-size: 12px;
    }

    .basket-line {
        top: 16px;
    }
}

/********************Order ******************/
.order-delete-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.order-delete-column-totalprice {
    flex-grow: 1;
}

.input-disabled-wb {
    background-color: #FFF !important;
}

.order-terms-link {
    padding-left: 1.1em !important;
}

.unresizable-textarea {
    resize: none;
}

.textarea-addi-comments {
    height: 10em;
    margin-top: 1.4rem;
}

/********************Order status ******************/
.status_legend {
    display: inline-block;
}

.status_icon {
    border: 2px solid rgb(72, 72, 72);
    border-radius: 10px;
    height: 12px;
    width: 12px;
    background-color: #b8b8b8;
    background: #b8b8b8;
    display: inline-block;
}

/* Blue status */
.status_22,
.status_23,
.status_24,
.status_33,
.status_34,
.status_44 {
    background-color: #207CCA;
    background: #207CCA;
}

/* Yellow status */
.status_00,
.status_01,
.status_05,
.status_10,
.status_11 {
    background-color: #ffff00;
    background: #ffff00;
}

/* Green status */
.status_66 {
    background-color: #77CE5D;
    background: #77CE5D;
}

/* Red status */
.status_99 {
    background-color: #ff0000;
    background: #ff0000;
}

/* White status */
.status_77 {
    background-color: #fff;
    background: #fff;
}

/* Yellow/blue status */
.status_02,
.status_03,
.status_04,
.status_12,
.status_13,
.status_14 {
    background-color: #ffff00;
    background: #ffff00;
    background: -moz-linear-gradient(-45deg, #ffff00 0%, #ffff00 50%, #ffff00 50%, #207CCA 51%, #207CCA 100%);
    background: -webkit-linear-gradient(-45deg, #ffff00 0%, #ffff00 50%, #ffff00 50%, #207CCA 51%, #207CCA 100%);
    background: linear-gradient(135deg, #ffff00 0%, #ffff00 50%, #ffff00 50%, #207CCA 51%, #207CCA 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff00', endColorstr='#207CCA', GradientType=1);
}

/* Yellow/green status */
.status_06,
.status_16 {
    background-color: #ffff00;
    background: #ffff00;
    background: -moz-linear-gradient(-45deg, #ffff00 0%, #ffff00 50%, #ffff00 50%, #77CE5D 51%, #77CE5D 100%);
    background: -webkit-linear-gradient(-45deg, #ffff00 0%, #ffff00 50%, #ffff00 50%, #77CE5D 51%, #77CE5D 100%);
    background: linear-gradient(135deg, #ffff00 0%, #ffff00 50%, #ffff00 50%, #77CE5D 51%, #77CE5D 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff00', endColorstr='#77CE5D', GradientType=1);
}

/* Yellow/white status */
.status_07,
.status_17 {
    background-color: #ffff00;
    background: #ffff00;
    background: -moz-linear-gradient(-45deg, #ffff00 0%, #ffff00 50%, #ffff00 50%, #fff 51%, #fff 100%);
    background: -webkit-linear-gradient(-45deg, #ffff00 0%, #ffff00 50%, #ffff00 50%, #fff 51%, #fff 100%);
    background: linear-gradient(135deg, #ffff00 0%, #ffff00 50%, #ffff00 50%, #fff 51%, #fff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff00', endColorstr='#fff', GradientType=1);
}

/* Yellow/red status */
.status_09,
.status_19 {
    background-color: #ffff00;
    background: #ffff00;
    background: -moz-linear-gradient(-45deg, #ffff00 0%, #ffff00 50%, #ffff00 50%, #ff0000 51%, #ff0000 100%);
    background: -webkit-linear-gradient(-45deg, #ffff00 0%, #ffff00 50%, #ffff00 50%, #ff0000 51%, #ff0000 100%);
    background: linear-gradient(135deg, #ffff00 0%, #ffff00 50%, #ffff00 50%, #ff0000 51%, #ff0000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff00', endColorstr='#ff0000', GradientType=1);
}

/* Blue/green status */
.status_26,
.status_36,
.status_46 {
    background-color: #207CCA;
    background: #207CCA;
    background: -moz-linear-gradient(-45deg, #207CCA 0%, #207CCA 50%, #207CCA 50%, #77CE5D 51%, #77CE5D 100%);
    background: -webkit-linear-gradient(-45deg, #207CCA 0%, #207CCA 50%, #207CCA 50%, #77CE5D 51%, #77CE5D 100%);
    background: linear-gradient(135deg, #207CCA 0%, #207cca 50%, #207CCA 50%, #77CE5D 51%, #77CE5D 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#207CCA', endColorstr='#77CE5D', GradientType=1);
}

/* Blue/white status */
.status_27,
.status_37,
.status_47 {
    background-color: #207CCA;
    background: #207CCA;
    background: -moz-linear-gradient(-45deg, #207CCA 0%, #207CCA 50%, #207CCA 50%, #fff 51%, #fff 100%);
    background: -webkit-linear-gradient(-45deg, #207CCA 0%, #207CCA 50%, #207CCA 50%, #fff 51%, #fff 100%);
    background: linear-gradient(135deg, #207CCA 0%, #207cca 50%, #207CCA 50%, #fff 51%, #fff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#207CCA', endColorstr='#fff', GradientType=1);
}

/* Blue/red status */
.status_29,
.status_39,
.status_49 {
    background-color: #207CCA;
    background: #207CCA;
    background: -moz-linear-gradient(-45deg, #207CCA 0%, #207CCA 50%, #207CCA 50%, #ff0000 51%, #ff0000 100%);
    background: -webkit-linear-gradient(-45deg, #207CCA 0%, #207CCA 50%, #207CCA 50%, #ff0000 51%, #ff0000 100%);
    background: linear-gradient(135deg, #207CCA 0%, #207cca 50%, #207CCA 50%, #ff0000 51%, #ff0000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#207CCA', endColorstr='#ff0000', GradientType=1);
}

/* Green/white status */
.status_67 {
    background-color: #77CE5D;
    background: #77CE5D;
    background: -moz-linear-gradient(-45deg, #77CE5D 0%, #77CE5D 50%, #77CE5D 50%, #fff 51%, #fff 100%);
    background: -webkit-linear-gradient(-45deg, #77CE5D 0%, #77CE5D 50%, #77CE5D 50%, #fff 51%, #fff 100%);
    background: linear-gradient(135deg, #77CE5D 0%, #77CE5D 50%, #77CE5D 50%, #fff 51%, #fff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77CE5D', endColorstr='#fff', GradientType=1);
}

/* Green/red status */
.status_69 {
    background-color: #77CE5D;
    background: #77CE5D;
    background: -moz-linear-gradient(-45deg, #77CE5D 0%, #77CE5D 50%, #77CE5D 50%, #ff0000 51%, #ff0000 100%);
    background: -webkit-linear-gradient(-45deg, #77CE5D 0%, #77CE5D 50%, #77CE5D 50%, #ff0000 51%, #ff0000 100%);
    background: linear-gradient(135deg, #77CE5D 0%, #77CE5D 50%, #77CE5D 50%, #ff0000 51%, #ff0000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77CE5D', endColorstr='#ff0000', GradientType=1);
}

/* White/red status */
.status_79 {
    background-color: #fff;
    background: #fff;
    background: -moz-linear-gradient(-45deg, #fff 0%, #fff 50%, #fff 50%, #ff0000 51%, #ff0000 100%);
    background: -webkit-linear-gradient(-45deg, #fff 0%, #fff 50%, #fff 50%, #ff0000 51%, #ff0000 100%);
    background: linear-gradient(135deg, #fff 0%, #fff 50%, #fff 50%, #ff0000 51%, #ff0000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#ff0000', GradientType=1);
}

.status-details {
    cursor: pointer;
    color: #2473B8 !important;
    text-decoration: none !important;
}

.status-details:hover {
    text-decoration: underline !important;
}

.orderstatus-endbox {
    display: flex;
    flex-direction: row;
}

.orderstatus-endbox>:nth-child(1) {
    order: 1;
}

.orderstatus-endbox>:nth-child(2) {
    order: 2;
}

.orderstatus-endbox>:nth-child(3) {
    order: 3;
}

@media (max-width : 768px) {

    .orderstatus-endbox>:nth-child(1) {
        order: 3;
    }

    .orderstatus-endbox>:nth-child(2) {
        order: 2;
    }

    .orderstatus-endbox>:nth-child(3) {
        order: 1;
    }

}

.orderstatus-totalbox {
    background-color: #fff;
    color: #000;
    border-radius: 0 0 12px 12px;
    border: 1px solid #000;
    border-top: none;
    margin-bottom: 15px;
    padding: 15px 20px;
}

.table-text-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.table-description-field {
    max-width: 16em !important;
}

th.table-crd {
    max-width: 200px;
}

/*-- End order status --*/

/* ORDER */
.order-product-box label {
    font-size: 14px;
}

.order-product-box .stronge {
    font-weight: 700;
}

.delivery-option {
    color: #0074be;
    cursor: pointer;
}

/* Login */
.login-box {
    border: solid 2px #0074be;
    background: #FFFFFF;
    border-radius: 14px;
    box-shadow: 0 0 20px 0 rgba(0, 68, 111, 0.81);
}

#login-dialog {
    width: 400px;
    margin: 0 auto;
}

.align-right {
    text-align: right;
}

@media (max-width:576px) {
    #login-dialog {
        width: 80%;
    }
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    /*whatever width you want*/
}

/* Spinner */
.spinner-inside {
    margin: 0 auto;
    text-align: center;
    z-index: 100;
    position: absolute;
    left: calc(50% - 30px);
    top: calc(50% - 10px);
    bottom: 0;
}

.spinner-inside>div {
    width: 18px;
    height: 18px;
    background-color: #0076bd;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner-inside .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner-inside .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.spinner-button {
    margin: 0 auto;
    text-align: center;
    z-index: 100;
    position: absolute;
    right: 16px;
    bottom: 0;
    left: auto;
    top: auto;
}

.spinner-button>div {
    background-color: #ffffff !important;
    width: 8px !important;
    height: 8px !important;
}

.spinner-button-bg {
    left: 0 !important;
    position: relative !important;
}

.spinner-button-bg>div {
    background-color: #0076bd !important;
    width: 8px !important;
    height: 8px !important;
}

.spinner-datatable-min {
    min-height: 200px;
}

.datatable-loading-height {
    height: 200px;
}

/* Overlay inside products */
.overlay-inside {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.69);
    z-index: 10;
}

.overlay-inside-button {
    background-color: rgba(0, 0, 0, 0) !important;
}

.overlay-inside-button-bg {
    left: 0 !important;
}

.div-for-spinner {
    width: 40px;
    height: 10px;
    display: inline-block;
}

/* Overlay fixed */
.global-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(144, 144, 144, 0.5);
    z-index: 120;
}

/* Bootstrap select fix */
select.form-control {
    height: auto !important;
}

/* Jquery UI Datepicker z-index */
.ui-datepicker {
    z-index: 9999999 !important;
}

.span-partnumber-code {
    font-weight: bold;
}

.ko-hide {
    display: none
}


/** More info component */
.more-info-tab {
    position: relative;
    /** width: 250px; */
    bottom: 0;
}

.more-info-tab-item {
    position: absolute;
    z-index: 2;
    text-align: left;
    left: 0;

}

.more-info-tab-item .product-toolbar-item {
    left: -10px;
    top: -5px;
    width: 300px;
}

.more-info-tab-item .product-toolbar-item>div>h2 {
    color: transparent;
}

a.more-info-tab-item {
    z-index: 1;
    left: 2px;
    white-space: nowrap;
}

.more-info-tab-item .show-ask-smc::after {
    background-color: transparent;
}

.more-info-selected {
    z-index: 3 !important;
}

.eshop-option-tabs>ul>li a:not(.collapsed)::after {
    background: none;
}

.more-info-mobile h2.heading.heading-07 {
    display: none;
}

.prod-select-option-tabs>.row {
    justify-content: center;
}

.prod-select-option-tabs>div.row>ul {
    display: flex;
    align-items: flex-end;
    margin-bottom: -1rem;
}

.prod-select-option-tabs>div.row>ul>li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-flex;
    position: relative;
    vertical-align: bottom;
}

.prod-select-option-tabs>div.row>ul>li {
    margin-right: 40px;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0;
}

.prod-select-option-tabs>div.row>ul>li a:hover,
.basket-option-box a:hover,
.favourites-option-box a:hover {
    text-decoration: none;
}

.prod-select-option-tabs>div.row>ul>li a.collapsed:hover::after,
.prod-select-option-tabs>div.row>ul>li a:not(.collapsed)::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    content: '';
}

.prod-select-option-tabs a.more-info-tab-item {
    margin-top: -27px;
}

.prod-select-option-tabs .product-toolbar-item {
    top: -33px;
}

/* Form validation */
.form-validation {
    display: none;
    font-size: 70%;
}

input:not(:placeholder-shown):not(:focus):invalid+.form-validation {
    display: block;
}


@keyframes spinner-grow {
    0% {
        transform: scale(0);
    }

    50% {
        opacity: 1;
    }
}

.spinner-grow {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 0;
    animation: spinner-grow 0.75s linear infinite;
}

.spinner-grow-sm {
    width: 1rem;
    height: 1rem;
}

.validation-spinner {
    display: flex;
    align-items: center;
    padding-top: 24px;
}

.hide {
    display: none !important;
}

.loading-full {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 81;
    top: 0;
}

.partnumber-href {
    cursor: pointer;

}

.partnumber-name {
    margin-left: 15px;
}

.partnumber-href:hover {
    text-decoration: underline !important;
}

.pb-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-email {
    font-size: 0.8rem;
}


.noresize {
    resize: none;
}

/*
* Valve configurator - Simple special wizard
*/
@media (max-width : 991px) {
    .wss-title-steps-right:before {
        border-top: 12px solid transparent !important;
        border-bottom: 10px solid transparent !important;
    }

    .wss-title-steps-left:after {
        border-top: 12px solid transparent !important;
        border-bottom: 10px solid transparent !important;
    }
}

@media (min-width : 992px) {
    .wss-modal {
        max-width: 1100px!important;
    }
}

.wss-button-restablish {
    word-wrap: normal;
}

.wss-title-first-element {
    padding-left: 0.5rem !important;
    margin: 0.1rem !important;
}

.wss-title-element {
    padding-top: 0.25rem !important;
    padding-right: 0.5rem !important;
    padding-left: 1.5rem;
    margin: 1px;
}

.wss-title-current-step {
    background-color: #0074be;
    color: white;
}

.wss-title-non-current-step {
    background-color: #ccc;
    color: grey;
}

.wss-title-steps-right {
    position: relative;
    display: inline-block;
}

.wss-title-steps-right:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    left: 100%;
    border-top: 14px solid transparent;
    border-bottom: 13px solid transparent;
    z-index: 10;
    display: inline-block;
}

.wss-title-non-current-step.wss-title-steps-right:before {
    border-left: 10px solid #ccc;
}

.wss-title-current-step.wss-title-steps-right:before {
    border-left: 10px solid #0074be;
}

.wss-title-steps-left {
    position: relative;
    display: inline-block;
}

.wss-title-steps-left:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 10px solid white;
    border-top: 14px solid transparent;
    border-bottom: 13px solid transparent;
    z-index: 9;
    display: inline-block;
}

.wss-title-steps-inputs {
    font-size: 14px;
}

.wss-title-steps-button-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.wss-step1-table-selected {
    background-color: rgba(0, 0, 0, 0.2);
}

.wss-minimal-height {
    min-height: 300px;
}

.wss-step1-table-scroll {
    min-height: 300px;
    max-height: 300px;
    overflow-y: auto;
}

.wss-steps-iconsize {
    font-size: 15rem;
    color: #0074be;
}

.wss-step3-folderstree {
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 400px;
    max-height: 400px;
    border: 1px solid #ccc;
}

.wss-size {
    height: 680px;
}

.wss-new-version-text {
    border: 0;
    box-shadow: none;
    background-color: #ffffff!important;
}

a#sy-simple-especial.disabled {
    color: grey!important;
}

.simple-special-block {
    border-color: #2275BE;
    border-style: solid;
    border-radius: 9px;
    border-width: 4px;
    padding: 20px;
    background-color: #e0f0f6;
}

.simple-special-block span {
    font-weight: 600;
}

/* Valve configurator */
label.valve_notices, label.valve_notices_info {
    text-align: left;
	font-size: 8pt;
    border-width: 0;
}

label.valve_notices {
    color: red;
}

.valve_bom_list_invalid span {
    color: #ff0000;
}

span.valve.external_price_and_delivery {
    margin-right: 5px;
    text-size-adjust: 100%;
    float: right;
}

.more-info-tab-item h2.heading {
    display: none;
}

.prod-selection.more-info-tab-item {
    left: -5px;
    top: 55px;
}

.prod-selection .product-toolbar-component {
    min-width: 200px;
}

.prod-selection-tab .spinner-inside {
    min-width: 100px;
    top: -25px;
}

.layer-more-info {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.layer-more-info .product-toolbar-component {
    width: 40%;

}

.layer-more-info .product-toolbar-component ul {
    margin-left: 5px;
}

.partnumber-loading {
    z-index: 201;
}

.justify-space-between {
    justify-content: space-between;
}

.register-spinner {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
}

.column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.action-item {
    color: rgb(0, 116, 190);
    cursor: pointer;
}

.action-item:hover {
    color: rgb(0, 86, 179);
}

.pr-1r {
    padding-right: 1rem;
}

.eshop-apps-selector .badge:hover {
    margin-bottom: 0;
    color: white;
}

.overflow-break {
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-with-dots {
    display: block;
    max-width: 98%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    margin-bottom: 5px !important;
}

.other-pb-img {
    max-width: 160px;
    max-height: 80px;
}

.text-gray {
    color: #B2BABB
}

.options-cad {
    overflow-y: scroll;
    height: 60vh;
}

.options-cad--name {
    background-color: #0056B3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px;
    color: white;
}

.more-info-close {
    right: 10px;
    top: 10px;
    position: absolute;
}

_:-ms-fullscreen,
:root .mr-auto,
mx-auto {
    margin-right: 150px !important;
}


#pb-dialog,
.pb-form {
    padding: 10px;
    max-width: 500px;
    margin: auto;
}

.pb-inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
}

.detail-row {
    display: flex;
}

.detail-row>span:first-child {
    width: 33%;
}


.detail-row:nth-child(even) {
    background-color: rgba(230, 230, 230, 0.25);
}

a.nav-link:not(.collapsed) {
    color: black;
    border-bottom: 4px solid #0074BE;
}

li.smc-tabs__head--active {
    padding-bottom: 0 !important;
}

.eshop-tab-line {
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #0074BE, rgba(0, 116, 190, 0));
    margin: 10px;
}

.eshop-nav-link {
    display: block;
    padding: 0;
}

.eshop-option-tabs>ul>li {
    padding-bottom: 0px;
}

.eshop-box-shadow {
    box-shadow: 0 0 0 2px #0074be inset;
}

.sap-dot-availability {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    box-shadow:  0 0 10px  rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    border: 1px solid #7a7a7a;
}

.register-info-list, .register-info-list--title{
    margin: 0px 20px;
     width: auto;
 
 }
.register-info-list--item{
    color: black;
}



  .register-info-list--icon{
      color: #0074be;
      margin-right: 5px;
  }

  .register-info-list--link{
      display: flex;
      align-items: center;
      justify-content: flex-start;
  }
.image--center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .more-info-icon--title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .more-info-icon--close{
      cursor: pointer;
  }

  .eshop-box{
    border: 2px solid #0074be;
    border-radius: 10px;
    padding: 0;
    margin: 0 10px;
  }

  .center-row{
      align-items: center;
  }

  .legend-square{
    display: block;
    width: 50px;
    height: 30px;
    margin-right: 5px;;
    border: 1px solid #7a7a7a;
  }

  .bg-not-match{
      background-color: #E87E88;
  }

  .bg-repeated{
      background-color: #FFD761;
  }
  

/********* VC Configurator ***********/

.valve-configurator .category-tile__text {
    margin-bottom: 0px;
}

.valve-configurator .category-tile__text__inner {
    padding-bottom: 8px;
}

.valve-configurator .category-tile__text__accordion-trigger {
    top: 180px;
}

.smc-tabs__body .hide-configuration {
    background: white;
    z-index: 50;
}

.btn-import{
    margin-bottom: 0px;
}

.import-complete--error{
    align-items: center;
    margin-left: 0.75rem;
    border-top: 0 !important;
}

.import-row{
    margin-right: -15px;
    margin-left: -15px;
}

/* Customized elements */
.customized-manifold-selector {
    background: none repeat scroll 0 0 steelblue;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    margin: 20px 0 5px;
    text-align: center;
    text-decoration: none;
    height: 30px;
    width: 100%;
}

.m-fadeOut {
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
}

.m-fadeIn {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
}

.element-selected {
    background-color: #cacaca;
}
/* -- End Customized elements */
[data-configuration="invalid"]{
    cursor: default;
    color: gray !important;
}

#vcTabs .smc-tabs__head--active {
    pointer-events: none;
}

.empty-instances{
    max-width: 200px;
    font-size: 12px;
    font-weight: lighter;
    line-height: normal;
    color: #aaaaaa;
}

a.btn.btn-plus{
    padding: 0;
    background: #fff;
    border: 1px solid #ccc;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 4px;
    color: #0074be;
    transition-duration: 0.3s;
}

a.btn.btn-plus:hover {
    padding: 0;
    background: #0074be;
    border: 1px solid #0074be;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 4px;
    color: #fff;
    box-shadow: none;
}