/*Modal*/
.psi-sticky__sticker {
    display: none;
}
.product-sales-information__button__icon {
    margin-right: 10px;
    width: 20%;
    max-width: 20%;
}
figure.psi-sticky__button__image img {
    width: 100%;
    align-self: flex-start;
}

.modal#product-sales-information{
    z-index: 1051;
}

.modal#product-sales-information[style*="display: block;"] ,
.modal#product-sales-information_mobile[style*="display: block;"]{
    font-family: "Open Sans", sans-serif;
}
.modal#product-sales-information .modal-title,
.modal#product-sales-information_mobile .modal-title {
    padding: 10px 20px 0;
    margin-bottom: 0;
}
.modal#product-sales-information .modal-body,
.modal#product-sales-information_mobile .modal-body {
    padding: 40px;
}
.product-sales-information__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
}
.product-sales-information__button-wrapper {
    margin-bottom: 30px;
    width: 100%
}
.product-sales-information__button,
.product-sales-information__button:visited,
.product-sales-information__button:focus {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 15px;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    line-height: 2.1rem;
    text-align: center;
    text-decoration: none;
    color: #4d4d4d;
    background-color: white;
    box-shadow: 0 0 0 2px #0074be inset;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}
.product-sales-information__button:hover,
.product-sales-information__button:active {
    color: white;
    text-decoration: none;
    background-color: #0074be;
}
@media (min-width: 576px) {
    .modal#product-sales-information .modal-dialog,
    .modal#product-sales-information_mobile .modal-dialog {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .psi-sticky__fly {
        display: none;
    }
    .psi-sticky__sticker {
        display: block;
    }
    .modal#product-sales-information .modal-dialog,
    .modal#product-sales-information_mobile .modal-dialog {
        max-width: 720px;
    }
    .product-sales-information__button-wrapper {
        width: 48%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .product-sales-information__button-wrapper:nth-child(even) {
        margin-left: 4%;
    }
}
@media (min-width: 992px) {
    .modal#product-sales-information .modal-dialog,
    .modal#product-sales-information_mobile .modal-dialog {
        max-width: 960px;
    }
    .product-sales-information__button-wrapper {
        width: 32%;
    }
    .product-sales-information__button-wrapper  + .product-sales-information__button-wrapper {
        margin-left: 2%;
    }
    .product-sales-information__button-wrapper:nth-child(4n) {
        margin-left: 0;
    }
}
@media (min-width: 1200px) {
    .modal#product-sales-information[style*="display: block;"] ,
    .modal#product-sales-information_mobile[style*="display: block;"] {
        display: flex !important;
        align-items: center;
    }
    .modal#product-sales-information .modal-dialog,
    .modal#product-sales-information_mobile .modal-dialog  {
        max-width: 80% !important;
    }
}
@media (min-width: 768px) {
    .product-sales-information__button,
    .product-sales-information__button:visited,
    .product-sales-information__button:focus {
        padding: 30px 15px;
    }
}
/*sticky buttons*/
#product-sales-information__sticky-links {
    position: fixed;
    z-index: 99;
    top: 20%;
    display: block;
    transition: all .3s ease-in-out;
    display:none;
    width: 63px;
}
.psi-sticky__buttons{
    width: 63px;
    display: inline-flex;
    transition: all .3s ease-in-out;
}
@media (min-width: 768px) {
    #product-sales-information__sticky-links:hover .psi-sticky__buttons{
        width: 600px;
    }
}


.psi-sticky__buttons,
#product-sales-information__sticky-links:hover .psi-sticky__info {
    background-color: white;
    border-radius: 0 12px 12px 0;
    box-shadow: 0px 0px 7px 1px #0074be;
}
@media (min-width: 768px) {
    #product-sales-information__sticky-links:hover {
        width: 335px;
    }
}

.psi-sticky__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    line-height: 1.2rem;
    color: #4d4d4d;
    background-color: white;
    overflow: hidden;
}
@media (max-width: 767px) {
    .psi-sticky__button {
        box-shadow: 1px 0 1px 0 #aaaaaa;
    }
}

.psi-sticky__button,
.psi-sticky__button:visited,
.psi-sticky__button:focus,
.psi-sticky__button:hover,
.psi-sticky__button:active {
    text-decoration: none;
}
.psi-sticky__button:hover,
.psi-sticky__button:active {
    color: #0074be;
    font-weight: bold;
}
.psi-sticky__button__label,
.psi-sticky__button__icon {
    display: inline-block;
    padding: 12px 10px;
}
.psi-sticky__button__label {
    flex: 1 0 210px;
    min-width: 230px;
}
.psi-sticky__button__icon {
    width: 60px;
    font-size: 2rem;
    text-align: center;
    color: #aaaaaa;
    border-left: 1px solid red;
}
.psi-sticky__button:hover .psi-sticky__button__icon,
.psi-sticky__button:active .psi-sticky__button__icon {
    background-color: white;
}
.psi-sticky__button:first-child,
.psi-sticky__button:first-child .psi-sticky__button__icon {
    border-top-right-radius: 12px;
}
.psi-sticky__button:last-child,
.psi-sticky__button:last-child .psi-sticky__button__icon {
    border-bottom-right-radius: 12px;
}
.psi-sticky__info {
    margin-bottom: 20px;
    padding: 10px;
    transition: all .3s ease-in-out;
    max-height: 70px;
    overflow: hidden;
}
.psi-sticky__info__text {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: .95rem;
    position: relative;
    left: 65px;
    overflow: hidden;
    top: -21px;
    width: 230px;
}
.psi-sticky__info__icon {
    position: relative;
    top: 5px;
    left: 18px;
    font-size: 1.4rem;
    color: #0074be;
    background-color: white;
    border-radius: 50%;
    box-shadow: 1px 1px 3px 0 white;
    transition: all .3s ease-in-out;
}
.psi-sticky__info__icon:after {
    position: absolute;
    top: 94%;
    left: 28%;
    content: '';
    transform: rotateZ(25deg);
    border-top: 6px solid #0074be;
    border-right: 5px solid transparent;
    border-left: 1px solid transparent;
    transition: all .3s ease-in-out;
}
#product-sales-information__sticky-links:hover .psi-sticky__info .psi-sticky__info__icon {
    right: 10px;
}
#product-sales-information__sticky-links:hover .psi-sticky__info .psi-sticky__info__icon:after {
    border-top: 0;
}

a.psi-sticky__button i{
    margin-right: 20px;
}

figure.psi-sticky__button__image {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 60px;
    min-width: 60px;
    margin-right: 10px;
}

.has-sticky-header #product-sales-information__sticky-links{
    display: block;
}

.psi-sticky__mainList{
    min-width: 60px;
    padding: 12px 0px;
    height: auto;
    width: 340px;
}
.psi-sticky__childrenList{
    box-shadow: unset;
    margin: 12px 0px;
    width: 300px;
    min-width: 0px;
    flex: 1 2000 auto;
    border-left: 2px solid lightgray;
    display: none;
}
.psi-sticky__childrenList__child{
    height: 59.9px;
    margin-left: 10px;
    color: #4d4d4d;
}

.psi-sticky__button__label_first{
    color: #0074be;
}
.psi-sticky__childrenList__child:first-child{
    color: #0074be;
    font-weight: bold;
}

/*IE fix for modal being glued to left*/
@media all and (min-width: 1200px){
    .modal#product-sales-information .modal-dialog,
    .modal#product-sales-information_mobile .modal-dialog {
        width: 80%;
    }
}

/*IE Fix for image width*/
.catalogue__product__image .product-list-image {
    width: 100%;
}


/*This is used in the modal*/
.psi-modal__containers{
    width: 100%;
    margin: 10px;
}
@media (min-width: 768px) and (max-width: 1439px) {
    .psi-modal__containers{
        width: 45%;
    }
}
@media (min-width: 1440px) {
    .psi-modal__containers{
        width: 30%;
    }
}

.children-span{
    color: #4d4d4d;
    font-weight: bold;
}

.info-box__head_title {
    color: #0074be;
}
