.fixed_flag {
    position: fixed;
    z-index: 99;
    right: 0;
    top: 75vh;
}

#show-share-your-success,
#show-share-your-success:visited {
    padding: 15px;
    padding-left: 30px;
    color: white;
    background-color: #0076bd;
    border: 1px solid white;
    border-right: 0;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    transition: all .3s ease-in-out;
    font-size: 1.18rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}


#show-share-your-success:hover,
#show-share-your-success:active {
    color: #0076bd;
    background-color: white;
    border-color: #0076bd;
}

.new_product__information .tab-pane {
    padding: 10px;
}

.newproduct_info__tab__title {
    display: block;
    line-height: 2.15rem;
    margin-bottom: 20px;
    font-size: 1.85rem;
    font-weight: 700;
}

.newproduct_info__tab__section {
    margin-bottom: 40px;
}

.newproduct_info__tab__section__title {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.6rem;
    font-weight: 600;
}

.newproduct_info__tab__section__content__image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px
}

.newproduct_info__tab__section__content__image_label {
    display: block;
    padding: 10px 15px;
}

.newproduct_info__tab__section__content__image_label span {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

.selling_arguments__argument {
    margin-bottom: 20px;
}

.selling_arguments__argument__title {
    font-weight: 800;
    border-bottom: 1px solid #aaaaaa;
}

.selling_arguments__argument__part:nth-child(n+2) {
    margin-top: 8px;
}

.selling_arguments__argument__part--image {
    list-style: none;
    margin-top: 20px;
    text-align: right;
}

.selling_arguments__argument__part__title {
    font-weight: 800;
}

.new_product__information .related_products {
    list-style: none;
    padding-left: 0;
}

.new_product__information .related_products__product {
    padding: 10px;
    text-align: center;
    border-top: 2px solid #aaaaaa;
}

.new_product__information .related_products__product:last-child {
    border-bottom: 2px solid #aaaaaa;
}

.related_products__product .related_products__product__image,
.related_products__product .related_products__product__name,
.related_products__product .related_products__product__description {
    display: block;
    margin-bottom: 0;
    padding: 10px 20px;
}

.related_products__product .related_products__product__image {
    -ms-grid-column: 1;
    grid-area: image;
}

.related_products__product .related_products__product__name {
    -ms-grid-column: 1;
    grid-area: name;
}

.related_products__product .related_products__product__description {
    -ms-grid-column: 1;
    grid-area: description;
}

@media (min-width: 992px) {
    .new_product__information .related_products__product {
        display: -ms-grid;
        display: grid;
        align-items: center;
        -ms-grid-columns: 40% 1fr;
        grid-template-columns: 40% 1fr;
        grid-template-areas: 'image name' 'image description';
        text-align: left;
    }

    .related_products__product .related_products__product__image {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
    }

    .related_products__product .related_products__product__name {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }

    .related_products__product .related_products__product__description {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
}

@media (min-width: 1200px) {
    .new_product__information .related_products__product {
        -ms-grid-columns: 25% 30% 1fr;
        grid-template-columns: 25% 30% 1fr;
        grid-template-areas: 'image name description';
    }

    .related_products__product .related_products__product__image {
        -ms-grid-row-span: 1;
    }

    .related_products__product .related_products__product__name {
        -ms-grid-column: 2;
    }

    .related_products__product .related_products__product__description {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
}

.catalogue__product__additional_elements > ul {
    padding-left: 0;
}

.new_product__information a.nav-link:not(.collapsed) {
    border-bottom: none;
    color: #0074BE;
}

.new_product__image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-toolbar-item__content {
    position: relative;
}

.product-toolbar-item__content .product-toolbar-item__content,
.product-toolbar-item__content .product-toolbar-component-dropdown-plain .product-toolbar-item,
.product-toolbar-item__content .product-toolbar-component-dropdown-category-item .product-toolbar-item {
    position: static;
}

.new-products-detail-component .product-toolbar-item__content .product-toolbar-item__content:not(.opened) .list-items,
.new-products-detail-component .product-toolbar-item__content .product-toolbar-item__content:not(.opened) .list-items .product-toolbar-menu-item,
.new-products-detail-component .product-toolbar-item__content .product-toolbar-item__content .list-items .show-ask-smc {
    padding: 0 !important;
}

.new-products-detail-component .additional_element + .additional_element {
    margin-top: 6px;
}

.new-products-detail-component .product-toolbar-component .list-items .content-item {
    padding: 8px;
}

.catalogue__product .additional_element {
    color: #0074be;
    font-size: 1rem;
}

.new-products-detail-component .product-toolbar-title {
    cursor: pointer;
}

#show-sales-document-link {
    display: block;
    padding: 12px 20px;
    vertical-align: middle;
    font-weight: 600;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
    border: 2px solid #0074be;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-left: -10px;
    width: calc(100% + 20px);
}

#show-sales-document-link:focus,
#show-sales-document-link:hover {
    text-decoration: none;
    box-shadow: 0 0 21px 1px rgba(0, 68, 111, 0.81);
}

#show-sales-document-link:not([disabled]):not(.disabled):active,
#show-sales-document-link:not([disabled]):not(.disabled).active {
    color: #fff;
    background-color: #6c757d;
    background-image: none;
    border-color: #666e76;
    box-shadow: 0 0 0 0.2rem rgba(134, 142, 150, 0.5);
}

#show-sales-document-link .pl-2 {
    padding: 4px;
}

@media (max-width: 991px) {
    .new_product__information .smc-tabs__head {
        display: block;
        margin-top: 40px;
    }

    .new_product__information .nav-link:not(.collapsed).active {
        color: black;
        border-bottom: 4px solid #0074BE;
    }
}

.new_product__information table {
    max-width: 100%;
    width: 100%;
}

.new_product__information table .black {
    display: block;
    margin-top: 40px;
    padding-bottom: 6px;
    font-weight: 700;
    border-bottom: 1px solid #ccc;
}

.smc-tabs__head li a {
    font-weight: 600;
    font-size: 1.6rem;
}
.catalogue__product__additional_elements .product-toolbar-item__content .product-toolbar-item__content.opened,
.catalogue__product__additional_elements .show-images-additional-content.opened .product-toolbar-item__content,
.catalogue__product__additional_elements .product-toolbar-item__content .multilingual-documents-additional-content.opened {
    position: absolute;
    left: -2px;
    top: -2px;
    width: calc(100% + 4px);
}
.new-products-detail-component .catalogue__product__additional_elements {
    position: relative;
    z-index: 52;
}

@media (max-width: 991px) {
    .catalogue__product__additional_elements .product-toolbar-item__content .product-toolbar-item__content.opened,
    /* .catalogue__product__additional_elements .show-images-additional-content.opened .product-toolbar-item__content,
     .catalogue__product__additional_elements .product-toolbar-item__content .multilingual-documents-additional-content.opened*/

    .product-toolbar-component-dropdown-plain .product-toolbar-item__content.opened,
    .catalogue__product__additional_elements .product-toolbar-item__content .multilingual-documents-template-content{
        position: relative;
    }

    .product-toolbar-component-dropdown-plain .product-toolbar-item__content.opened:not(.feature-catalogues-template-content):not(.technical-documentation-template-content),
    .product-toolbar-component-dropdown-category-item .product-toolbar-item__content.opened:not(.feature-catalogues-template-content):not(.technical-documentation-template-content),
    .catalogue__product__additional_elements .product-toolbar-item__content .multilingual-documents-additional-content .multilingual-documents-template-content{
        border-color: transparent;
    }

    .product-toolbar-component-dropdown-plain .product-toolbar-item__content,
    .catalogue__product__additional_elements .product-toolbar-item__content .multilingual-documents-additional-content,
    .product-toolbar-component-dropdown-plain .product-toolbar-item__content.opened .heading {
        display: none;
    }
    .catalogue__product__additional_elements .product-toolbar-item__content .opened .multilingual-documents-additional-content.opened,
    .catalogue__product__additional_elements .product-toolbar-item__content .multilingual-documents-additional-content.opened {
        position: relative;
        padding-left: 16px;
    }
    .new-products-detail-component .product-toolbar-component .list-items .feature-catalogues-template-content > .content-item {
        padding: 8px 0 8px 16px;
    }
    .new-products-detail-component .product-toolbar-component .list-items .feature-catalogues-template-content > .content-body{
        padding: 0;
        padding-left: 8px;
    }
    .product-toolbar-component .list-items .content-item.feature-catalogues-change-language-js a.iconed-text,
    .product-toolbar-component .list-items .content-item.show-feature-catalogues a.iconed-text,
    .product-toolbar-component .list-items .content-item a.show-multilingual-documents.iconed-text,
    .product-toolbar-component .list-items .multilingual-documents-template-content a.iconed-text {
        padding: 0;
        padding-right: 4px;
    }
}

.product-toolbar-component-dropdown-plain .product-toolbar-item__content,
.catalogue__product__additional_elements .product-toolbar-item__content .multilingual-documents-additional-content{
    display: none;
}

.promo-img {
    height: 333px;
}