@import "../mixins";

.simple-collapse.simple-collapse--generic > .simple-collapse__head:before {
  content: "\6c";
  transform: rotate(90deg);
  top: -9px;
  transition: all .3s ease-in-out;
}

.filters-wrapper .simple-collapse.simple-collapse--generic.active > .simple-collapse__head:before {
  content: "\6c";
  transform: rotate(270deg);
  top: -9px;
  transition: all .3s ease-in-out;
}

.smc-filters__categories .simple-collapse > .simple-collapse__head:after {
  content: "\6c";
  transform: rotate(90deg);
  top: -9px;
  transition: all .3s ease-in-out;
}

.filters-wrapper .smc-filters__categories .simple-collapse.active > .simple-collapse__head::after{
  content: "\6c";
  transform: rotate(270deg);
  top: -9px;
  transition: all .3s ease-in-out;
}

.category-component {
  @include image;

  .image.medium {
    min-height: 0;

    img {
      width: auto;
    }
  }

  .serie-heading {
    .description {
      .collapsed {
        position: relative;
        overflow: hidden;
        padding-right: 15px;
      }

      .collapse-switch {
        position: absolute;
        right: 15px;
        bottom: 0;
      }

      .collapse-switch:before {
        content: "\68";
        font-family: "smc";
        font-size: 18px;
        line-height: 30px;
        color: $blue;
        cursor: pointer;
      }

      .collapse-switch[data-collapsed="true"]:before {
        content: "\6e";
        font-size: 25px;
      }
    }
  }
}

#image {
  max-height: 100%;
  width: auto;
}

/* Show filters column only in >992px width screen */
@media (min-width: 992px) {
  .smc-categories-sidebar {
    background-color: #F4F4F4;
    padding-top: 19px;
    border-radius: 10px;
  }

  .smc-categories-sidebar .smc-filters:nth-of-type(-n+1) .smc-flyout-scrollable {
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #aaaaaa;
  }

  .smc-flyout.smc-filters {
    padding-bottom: 15px;
  }
}

#dc_products {
  .dc_product {
    .text-01 {
      line-height: 20px;
    }

    .category-tile__footer,
    .dc_product_children .category-tile__footer,
    .product-item .category-tile__footer {
      padding-top: 30px;
      padding-bottom: 40px;
    }
  }

  @media (min-width: 768px){
    .dc_product {
      .category-tile__footer,
      .dc_product_children .category-tile__footer,
      .product-item .category-tile__footer {
        padding-top: 40px;
      }
    }
  }
}

.digital-catalog-grid {
  .dc_product, .dc_product_children {
    @include is-new-product-tag;
  }
}

.category-tile .category-tile__title.heading-07 {
  line-height: 24px;
}

#dc_products .dc_product .category-tile__text.text-01,
#dc_products .dc_product .category-tile__text.text-01 p {
  line-height: 21px;
}