#idbl_hto_wrapper {
    .idbl_hto--ccss {
        .idbl_hto__content__info {
            .form-control {
                height: 38px;
            }
        }
    }
}
.idbl_hto {
    &--ccss {
        .idbl_hto__content {
            @include prefix_grid(1fr 100px 84px, auto);
            grid-gap: 2px 6px;

            &__data {
                display: none;
                padding-bottom: 15px;
                .cylinder-info-container__configuration_details {
                    overflow-y: scroll;
                    height: 220px;
                }
                .sscw__selection_table_wrapper {
                    max-height: unset;
                    overflow-y: visible;
                }
            }
            &__title {
                display: block;
            }
            &__partnumber {
                @include prefix_grid_item(1, 2, 3);
                flex-wrap: wrap;
                align-items: flex-start;
                align-content: flex-start;
            }
            &__info {
                @include prefix_grid_item(1, 3, 2);
                margin-top: 0;
                padding-top: 0;
                padding-bottom: 0;
                @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                    /* IE10+ CSS styles go here */
                    padding-right: 6px;
                }
                .form-control {
                    padding-top: 6px;
                    padding-bottom: 6px;
                }
            }
            &__addtobasketbar {
                @include prefix_grid_item(3, 3);
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                .idbl_hto__content__info {
                    display: none;
                }
            }
            &__actions {
                &--switch {
                    @include prefix_grid_item(2, 4, 2);
                }

                &--buttons {
                    .spares-accesory-item__actions {
                        justify-content: flex-end;
                        flex-wrap: wrap;

                        .btn:nth-child(n+3) {
                            margin-top: 6px;
                        }
                    }
                }
            }

            .idbl_hto__partnumber {
                padding: 0;
                &__actions {
                    display: none;
                }
                &__accesories_wrapper {
                    display: flex;
                    width: auto;
                }
            }
        }
    }
    &--ccss &__partnumber {
        justify-content: flex-start;
        padding: 0;
        &__code {
            height: auto;
            &,
            &_wrapper {
                &:before,
                &:after {
                    display: none;
                }
            }
            &_wrapper {
                margin: 0;
                padding: 0;
                width: auto;
                max-width: 100%;
                background-color: transparent;
                border-width: 0;
                border-color: transparent;
            }
            &_status {
                display: none;
            }
        }
        &__accesories_wrapper {
            justify-content: flex-start;
            padding: 0;
        }
    }
}

@media (min-width: 480px){
    .idbl_hto {
        &--ccss {
            .idbl_hto__content {
                @include prefix_grid(minmax(min-content, 1fr) 128px 145px, auto);
                &__info {
                    @include prefix_grid_item(1, 3);
                }
                &__addtobasketbar {
                    @include prefix_grid_item(2, 3);
                }
                &__actions {
                    &--switch {
                        @include prefix_grid_item(3, 3);
                        align-items: flex-end;
                        .cylinder-info-container__partnumber_toggler {
                            padding-bottom: 0;
                        }
                    }

                    &--buttons {
                        .spares-accesory-item__actions {
                            .btn:nth-child(n+3) {
                                margin-top: 0;
                            }
                            .btn:nth-child(n+4) {
                                margin-top: 6px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px){
    #idbl_hto_wrapper {
        .idbl_hto--ccss {
            .idbl_hto__content__info {
                .form-control {
                    height: 48px;
                    line-height: 32px;
                }
            }
        }
    }
    .idbl_hto {
        &--ccss {
            .idbl_hto__content {
                @include prefix_grid(1fr 160px 160px, auto);
                &__addtobasketbar {
                    @include prefix_grid_item(2, 3);
                }
            }
        }
    }
}

@media (min-width: 992px){
    .idbl_hto {
        &--ccss {
            .idbl_hto__content {
                @include prefix_grid(1fr minmax(min-content, max-content) 20px 160px, auto);
                &__partnumber {
                    flex-wrap: wrap;
                    @include prefix_grid_item(1, 2, 1, 2);
                    .idbl_hto__content__title {
                        margin-bottom: 12px;
                    }
                }
                &__info {
                    @include prefix_grid_item(2, 2, 1, 2);
                }
                &__addtobasketbar {
                    @include prefix_grid_item(4, 2);
                }
                &__actions--buttons {
                    padding: 4px 0 0;
                }
                &__actions {
                    &--switch {
                        @include prefix_grid_item(3, 3, 2);
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px){
    .idbl_hto {
        &--ccss {
            .idbl_hto__content {
                @include prefix_grid(1fr minmax(300px, max-content) 160px 180px, auto);
                &__partnumber {
                    @include prefix_grid_item(1, 2);
                }
                &__info {
                    @include prefix_grid_item(2, 2);
                }
                &__addtobasketbar {
                    @include prefix_grid_item(3, 2);
                    align-items: flex-start;
                }
                &__actions {
                    &--buttons {
                        margin-top: 18px;
                    }
                    &--switch {
                        @include prefix_grid_item(4, 2);
                        align-items: flex-start;
                        margin-top: 18px;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px){
    #idbl_hto_wrapper {
        .idbl_hto--ccss {
            .idbl_hto__content {
                &__info {
                    .form-control {
                        padding: 6px;
                        font-size: 13px;
                    }
                }
            }
        }
    }
    .idbl_hto--ccss {
        .idbl_hto__content {
            &__title {
                font-size: 14px;
            }
            &__data {
                .cylinder-info-container__configuration_details__info {
                    font-size: 12px;
                }
                .sscw__selection_table__cell {
                    padding: 4px 10px;
                    font-size: 12px;
                }
            }
            &__actions--switch {
                font-size: 12px;
            }
        }
        .idbl_hto__partnumber {
            &__code,
            &__accesories {
                font-size: 12px;
            }
        }
    }
}

body.ie .idbl_hto--ccss .add-to-basket-bar-component .basket-actions-container {
    margin: 0;
}

@media (min-height: 700px) {
    .idbl_hto--ccss {
        .idbl_hto__content__data {
            .cylinder-info-container__configuration_details {
                height: 300px;
            }
        }
    }
}
@media (min-height: 900px) {
    .idbl_hto--ccss {
        .idbl_hto__content__data {
            .cylinder-info-container__configuration_details {
                height: 400px;
            }
        }
    }
}