
.cylinder-info-container__configuration_details__info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2rem;
}
.cylinder-info-container__configuration_details__info [class*="cylinder-info-container__configuration_details__info"] {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 50%;
  padding: 2px 10px;
  max-width: 50%;
}
.cylinder-info-container__configuration_details__info [class*="cylinder-info-container__configuration_details__info"] p {
  margin-bottom: .25rem;
}

.sscw__selection_table__heading--local_ecw_stock .sscw__selection_table__heading__title,
.sscw__selection_table__heading--unit_total_price .sscw__selection_table__heading__title,
.sscw__selection_table__heading--unit_total_net_price .sscw__selection_table__heading__title,
.sscw__selection_table__cell--local_ecw_stock .sscw__selection_table__cell__value,
.sscw__selection_table__cell--unit_total_price .sscw__selection_table__cell__value {
  text-align: right;
  padding-right: 10px;
}

.cylinder-info-container__configuration_details {
  display: block;
  .sscw__selection_table__cell__value {
    width: 100%;
    max-width: 100%;
  }
}

.sscw__selection_table,
 .sscw__selection_table__register,
 .sscw__selection_table__headings .sscw__selection_table__heading,
  .sscw__selection_table__register .sscw__selection_table__cell {
      display: block;
  }
  .sscw__selection_table__register:nth-child(odd) {
      background-color: #eee;
  }
  .sscw__selection_table__heading {
      padding: 5px 10px;
  }
  .sscw__selection_table__cell {
      padding: 10px;
  }
  .sscw__selection_table__register .sscw__selection_table__cell:before,
  .sscw__selection_table__register .sscw__selection_table__cell:after,
  .sscw__selection_table__cell__value {
    display: inline-block;
    padding-right: 10px;
    width: 120px;
    max-width: 120px;
    word-break: break-word;
  }
  .sscw__selection_table__register .sscw__selection_table__cell:before,
  .sscw__selection_table__register .sscw__selection_table__cell:after {
    font-weight: 600;
  }

@media (min-width: 768px) {
  .sscw__selection_table__register .sscw__selection_table__cell:before,
  .sscw__selection_table__register .sscw__selection_table__cell:after {
    width: 150px;
    max-width: 150px;
  }
}
@media (max-width: 991px) {
  .sscw__selection_table__headings {
    display: none;
  }
  .sscw__selection_table__register:last-child {
    margin-top: 20px;
    border-top: 2px solid #eee;
  }
  .sscw__selection_table__register .sscw__selection_table__cell:before {
    content: attr(data-cell-title);
  }
  .sscw__selection_table__register .sscw__selection_table__cell[data-cell-title-2]:after {
    content: attr(data-cell-title-2);
  }
  .sscw__selection_table__register .sscw__selection_table__cell[data-cell-title][data-cell-title-2] {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 120px 1fr;
    grid-template-columns: 120px 1fr;
    -ms-grid-rows: min-content min-content;
    grid-template-rows: min-content min-content;
  }
  .sscw__selection_table__register .sscw__selection_table__cell[data-cell-title-2]:before {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .sscw__selection_table__register .sscw__selection_table__cell[data-cell-title-2]:after {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .sscw__selection_table__register .sscw__selection_table__cell[data-cell-title-2] .sscw__selection_table__cell__value:first-child {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .sscw__selection_table__register .sscw__selection_table__cell[data-cell-title-2] .sscw__selection_table__cell__value:nth-child(2) {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
  }

  .sscw__selection_table__register:last-child .sscw__selection_table__cell.not-used {
      display: none;
  }

  .sscw__selection_table__register:last-child .sscw__selection_table__cell.sscw__selection_table__cell--unit_total_price .sscw__selection_table__cell__value {
    text-align: left;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .sscw__selection_table__register .sscw__selection_table__cell[data-cell-title][data-cell-title-2] {
    -ms-grid-columns: 150px 1fr;
    grid-template-columns: 150px 1fr;
  }
}

@media (min-width: 992px) {
   .sscw__selection_table {
      display: table;
      width: 100%;
  }
  .sscw__selection_table__headings,
  .sscw__selection_table__register {
      display: table-row;
  }
  .sscw__selection_table__headings .sscw__selection_table__heading,
  .sscw__selection_table__register .sscw__selection_table__cell {
      display: table-cell;
      vertical-align: middle;
  }
  .sscw__selection_table__headings .sscw__selection_table__heading,
  .sscw__selection_table__register .sscw__selection_table__cell {
      width: 15%;
  }
  .sscw__selection_table__register .sscw__selection_table__cell:before,
  .sscw__selection_table__register .sscw__selection_table__cell:after {
    display: none;
  }
  .sscw__selection_table__headings .sscw__selection_table__heading--description,
  .sscw__selection_table__register .sscw__selection_table__cell--description {
      width: 30%;
  }
  .sscw__selection_table__headings .sscw__selection_table__heading--part_number,
  .sscw__selection_table__register .sscw__selection_table__cell--part_number {
      width: 25%;
  }
  .sscw__selection_table__headings {
      color: white;
      font-weight: 800;
      background-color: #ccc;
  }
  .sscw__selection_table__register:last-child {
    background-color: white;
  }
  .sscw__selection_table__heading__title,
  .sscw__selection_table__register .sscw__selection_table__cell__value {
      display: block;
  }
}