.graphicalToolSprite {
	display: inline-block;
	overflow: hidden;
	background-repeat: no-repeat;	
	background-image: url(../../images/vcconfigurator/graphical_tools.png); 
}

#graphicalToolsContainer {
	/* width: 37px; */
	/* height: 238px; */
	background-position: -1px 1px;
	background-color: white;
	border-color: #2275BE;
	border-style: solid;
	border-radius: 9px;
	border-width: 2px;
	background-image: none;
}
/*
.ie #graphicalToolsContainer {
	border-width: 0px;
	background-image: url(../img/graphical_editor/graphics_tools_panel.png);
	background-position: 0 0;
	width: 37px;
	height: 238px;
	padding-left: 4px;
	padding-top: 5px;
}
*/

#graphicalToolsContainer span {
	margin-left: 6px;
	margin-top: 2px;
	width: 24px;
	height: 24px;
}

#graphicalToolsContainer #brush.disabled {
	color: gray;
	text-decoration: none;
}

#graphicalToolsContainer #brush.enabled {
	background-position: -34px 0px;
	text-decoration: none;
}

#graphicalToolsContainer #deleteStation.disabled {
	color: gray;
	text-decoration: none;
}

#graphicalToolsContainer #deleteStation.enabled {
	background-position: -102px 0px;
	text-decoration: none;
}

#deleteProduct.disabled {
	color: gray;
	text-decoration: none;
	cursor:auto;
}
#deleteProduct.disabled a:hover {
	color: gray;
	text-decoration: none;
}

span#deleteProduct:hover {
    /* text-decoration: underline; */
}
span#deleteProduct.disabled:hover {
    text-decoration: none;
}

#graphicalToolsContainer #deleteProduct.enabled {
	background-position: -170px 0px;
	text-decoration: none;
}

#graphicalToolsContainer #moveLeft.disabled {
	color: gray;
	text-decoration: none;
}

#graphicalToolsContainer #moveLeft.enabled {
	background-position: -238px 0px;
	text-decoration: none;
}

#graphicalToolsContainer #meassures.disabled {
	color: gray;
	text-decoration: none;
}

#graphicalToolsContainer #meassures.enabled {
	background-position: -306px 0px;
	text-decoration: none;
}

#graphicalToolsContainer #redoAction.disabled {
	color: gray;
	text-decoration: none;
}

#graphicalToolsContainer #redoAction.enabled {
	background-position: -374px 0px;
	text-decoration: none;
}

#graphicalToolsContainer #moveRight.disabled {
	color: gray;
	text-decoration: none;
}

#graphicalToolsContainer #moveRight.enabled {
	background-position: -442px 0px;
	text-decoration: none;
}

#graphicalToolsContainer #undoAction.disabled {
	color: gray;
	text-decoration: none;
}

#graphicalToolsContainer #undoAction.enabled {
	background-position: -510px 0px;
	text-decoration: none;
}

#graphicalToolsContainer #addStation.disabled {
	color: gray;
	text-decoration: none;
}

#graphicalToolsContainer #addStation.enabled {
	background-position: -578px 0px;
	text-decoration: none;
}

#graphicalToolsContainer #check.disabled {
	color: gray;
	text-decoration: none;
}

#graphicalToolsContainer #check.enabled {
	background-position: -646px 0px;
	text-decoration: none;
}

#graphicalToolsContainer #brush.active {
	background-position: -680px 0px;
	background-color: white;
	color: #FFC107;
}

#graphicalToolsContainer .enabled, #graphicalToolsContainer .active {
	cursor: pointer;
	cursor: hand;
}

#graphicalToolsContainer .disabled {
	cursor: auto;
}

#graphicalToolsContainer {
	/* float: right; */
	margin-top: 5px;
	position: relative;
	padding-left: 1px;
	width: 100%;
	left: 15px;
}

#borrarBoton{
	float: right;
    z-index: 1;
}

@media (max-width: 767px){
	.category-tile__text__inner {
	    display: block;
	}
}

@media (min-width: 481px) and (max-width: 767px) {
	#borrarBoton{
		float: none;
	}
}



#borrarBoton a,#borrarBoton a:hover {
	text-decoration: none;
}

section#summary, section#information{
	background-color: white;
    z-index: 100;
    position: relative;
}

i.fas, i.far{
	margin-right: 5px;
}
