.valve-configurator .select-option {
    min-height: 100px;
    border: 3px solid #666;
    border-radius: 15px;
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}

.valve-configurator .select-option p{
	    color: #666;
}
	
.valve-configurator .select-option.selected {
    border: 3px solid #0074be;
}

.valve-configurator .select-option.selected p{
    color: #0074be;
}

.valve-configurator .select-option.noactive {
    border: 3px solid #ccc;
}

.valve-configurator .select-option.noactive p{
    color: #ccc;
}

.selSeriesElement.sprite {
	display: inline-block;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url(../../images/vcconfigurator/sel_series_nvqc.png);
	margin-top: 15px;
	zoom: 0.85;
}

.selSeriesElement.boton.active {
	width: 81px;
	height: 55px;
	background-position: -686px -124px
}

.selSeriesElement.boton.noactive {
	width: 81px;
	height: 55px;
	background-position: -686px -67px
}

.selSeriesElement.circular.active {
	width: 66px;
	height: 66px;
	background-position: -6px -146px
}

.selSeriesElement.circular.noactive {
	width: 66px;
	height: 66px;
	background-position: -2px -76px
}

.selSeriesElement.circular.selected {
	width: 66px;
	height: 66px;
	background-position: -6px -10px
}

.selSeriesElement.dsub.active {
	width: 66px;
	height: 66px;
	background-position: -74px -146px
}

.selSeriesElement.dsub.noactive {
	width: 66px;
	height: 66px;
	background-position: -70px -76px
}

.selSeriesElement.dsub.selected {
	width: 66px;
	height: 66px;
	background-position: -74px -10px
}

.selSeriesElement.des_boton.noactive {
	width: 81px;
	height: 55px;
	background-position: -1158px -2px
}

.selSeriesElement.ex126.active {
	width: 66px;
	height: 66px;
	background-position: -142px -146px
}

.selSeriesElement.ex126.noactive {
	width: 66px;
	height: 66px;
	background-position: -138px -76px
}

.selSeriesElement.ex126.selected {
	width: 66px;
	height: 66px;
	background-position: -142px -10px
}

.selSeriesElement.ex250.active {
	width: 66px;
	height: 66px;
	background-position: -210px -146px
}

.selSeriesElement.ex250.noactive {
	width: 66px;
	height: 66px;
	background-position: -206px -76px
}

.selSeriesElement.ex250.selected {
	width: 66px;
	height: 66px;
	background-position: -210px -10px
}

.selSeriesElement.ex260.active {
	width: 66px;
	height: 66px;
	background-position: -210px -146px
}

.selSeriesElement.ex260.noactive {
	width: 66px;
	height: 66px;
	background-position: -206px -76px
}

.selSeriesElement.ex260.selected {
	width: 66px;
	height: 66px;
	background-position: -210px -10px
}

.selSeriesElement.ex500.active {
	width: 66px;
	height: 66px;
	background-position: -346px -146px
}

.selSeriesElement.ex500.noactive {
	width: 66px;
	height: 66px;
	background-position: -342px -76px
}

.selSeriesElement.ex500.selected {
	width: 66px;
	height: 66px;
	background-position: -346px -10px
}

.selSeriesElement.ex600.active {
	width: 66px;
	height: 66px;
	background-position: -414px -146px
}

.selSeriesElement.ex600.noactive {
	width: 66px;
	height: 66px;
	background-position: -410px -76px
}

.selSeriesElement.ex600.selected {
	width: 66px;
	height: 66px;
	background-position: -414px -10px
}

.selSeriesElement.flatribbon.active {
	width: 66px;
	height: 66px;
	background-position: -482px -146px
}

.selSeriesElement.flatribbon.noactive {
	width: 66px;
	height: 66px;
	background-position: -478px -76px
}

.selSeriesElement.flatribbon.selected {
	width: 66px;
	height: 66px;
	background-position: -482px -10px
}

.selSeriesElement.information {
	width: 26px;
	height: 25px;
	background-position: -1286px -38px
}

.selSeriesElement.information_disabled {
	width: 26px;
	height: 25px;
	background-position: -1623px -2px
}

.selSeriesElement.leadwire.active {
	width: 66px;
	height: 66px;
	background-position: -550px -146px
}

.selSeriesElement.leadwire.noactive {
	width: 66px;
	height: 66px;
	background-position: -546px -76px
}

.selSeriesElement.leadwire.selected {
	width: 66px;
	height: 66px;
	background-position: -550px -10px
}

.selSeriesElement.terminalblock.active {
	width: 66px;
	height: 66px;
	background-position: -618px -146px
}

.selSeriesElement.terminalblock.noactive {
	width: 66px;
	height: 66px;
	background-position: -614px -76px
}

.selSeriesElement.terminalblock.selected {
	width: 66px;
	height: 66px;
	background-position: -618px -10px
}

.selSeriesElement.nvqc1000.active {
	width: 170px;
	height: 40px;
	background-position: -1113px -94px
}

.selSeriesElement.nvqc1000.noactive {
	width: 170px;
	height: 40px;
	background-position: -939px -50px
}

.selSeriesElement.nvqc1000.selected {
	width: 170px;
	height: 40px;
	background-position: -769px -10px
}

.selSeriesElement.nvqc2000.active {
	width: 170px;
	height: 40px;
	background-position: -769px -136px
}

.selSeriesElement.nvqc2000.noactive {
	width: 170px;
	height: 40px;
	background-position: -1113px -50px
}

.selSeriesElement.nvqc2000.selected {
	width: 170px;
	height: 40px;
	background-position: -941px -10px
}

.selSeriesElement.nvqc3000.active {
	width: 170px;
	height: 40px;
	background-position: -941px -136px
}

.selSeriesElement.nvqc3000.noactive {
	width: 170px;
	height: 40px;
	background-position: -769px -94px
}

.selSeriesElement.nvqc3000.selected {
	width: 170px;
	height: 40px;
	background-position: -1113px -10px
}

.selSeriesElement.nvqc4000.active {
	width: 170px;
	height: 40px;
	background-position: -1113px -136px
}

.selSeriesElement.nvqc4000.noactive {
	width: 170px;
	height: 40px;
	background-position: -941px -94px
}

.selSeriesElement.nvqc4000.selected {
	width: 170px;
	height: 40px;
	background-position: -769px -52px
}

.active {
	cursor: pointer;
}