.valve-configurator .select-option {
    min-height: 100px;
    border: 3px solid #666;
    border-radius: 15px;
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}

.valve-configurator .select-option p{
	    color: #666;
}
	
.valve-configurator .select-option.selected {
    border: 3px solid #0074be;
}

.valve-configurator .select-option.selected p{
    color: #0074be;
}

.valve-configurator .select-option.noactive {
    border: 3px solid #ccc;
}

.valve-configurator .select-option.noactive p{
    color: #ccc;
}


.selSeriesElement.sprite {
    display: inline-block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url(../../images/vcconfigurator/sel_series_new.png);
    margin-top: 10px;
}

.selSeriesElement.boton.active {
    width: 81px;
    height: 55px;
    background-position: -1158px -116px
}

.selSeriesElement.boton.noactive {
    width: 81px;
    height: 55px;
    background-position: -1158px -59px
}

.selSeriesElement.bottom.active {
    width: 66px;
    height: 66px;
    background-position: -1090px -138px
}

.selSeriesElement.bottom.noactive {
    width: 66px;
    height: 66px;
    background-position: -1090px -70px
}

.selSeriesElement.bottom.selected {
    width: 66px;
    height: 66px;
    background-position: -1090px -2px
}

.selSeriesElement.circular.active {
    width: 66px;
    height: 66px;
    background-position: -1022px -138px
}

.selSeriesElement.circular.noactive {
    width: 66px;
    height: 66px;
    background-position: -1022px -70px
}

.selSeriesElement.circular.selected {
    width: 66px;
    height: 66px;
    background-position: -1022px -2px
}

.selSeriesElement.ip67.active {
    width: 66px;
    height: 66px;
    background-position: -954px -138px
}

.selSeriesElement.ip67.noactive {
    width: 66px;
    height: 66px;
    background-position: -954px -70px
}

.selSeriesElement.ip67.selected {
    width: 66px;
    height: 66px;
    background-position: -954px -2px
}

.selSeriesElement.dsub.active {
    width: 66px;
    height: 66px;
    background-position: -886px -138px
}

.selSeriesElement.dsub.noactive {
    width: 66px;
    height: 66px;
    background-position: -886px -70px
}

.selSeriesElement.dsub.selected {
    width: 66px;
    height: 66px;
    background-position: -886px -2px
}

.selSeriesElement.des_boton.noactive {
    width: 81px;
    height: 55px;
    background-position: -1158px -2px
}

.selSeriesElement.ex120.active {
    width: 66px;
    height: 66px;
    background-position: -818px -138px
}

.selSeriesElement.ex120.noactive {
    width: 66px;
    height: 66px;
    background-position: -818px -70px
}

.selSeriesElement.ex120.selected {
    width: 66px;
    height: 66px;
    background-position: -818px -2px
}

.selSeriesElement.ex126.active {
    width: 66px;
    height: 66px;
    background-position: -750px -138px
}

.selSeriesElement.ex126.noactive {
    width: 66px;
    height: 66px;
    background-position: -750px -70px
}

.selSeriesElement.ex126.selected {
    width: 66px;
    height: 66px;
    background-position: -750px -2px
}

.selSeriesElement.ex250.active {
    width: 66px;
    height: 66px;
    background-position: -682px -138px
}

.selSeriesElement.ex250.noactive {
    width: 66px;
    height: 66px;
    background-position: -682px -70px
}

.selSeriesElement.ex250.selected {
    width: 66px;
    height: 66px;
    background-position: -682px -2px
}

.selSeriesElement.ex260.active {
    width: 66px;
    height: 66px;
    background-position: -614px -138px
}

.selSeriesElement.ex260.noactive {
    width: 66px;
    height: 66px;
    background-position: -614px -70px
}

.selSeriesElement.ex260.selected {
    width: 66px;
    height: 66px;
    background-position: -614px -2px
}

.selSeriesElement.ex500.active {
    width: 66px;
    height: 66px;
    background-position: -546px -138px
}

.selSeriesElement.ex500.noactive {
    width: 66px;
    height: 66px;
    background-position: -546px -70px
}

.selSeriesElement.ex500.selected {
    width: 66px;
    height: 66px;
    background-position: -546px -2px
}

.selSeriesElement.ex510.active {
    width: 66px;
    height: 66px;
    background-position: -478px -138px
}

.selSeriesElement.ex510.noactive {
    width: 66px;
    height: 66px;
    background-position: -478px -70px
}

.selSeriesElement.ex510.selected {
    width: 66px;
    height: 66px;
    background-position: -478px -2px
}

.selSeriesElement.ex600.active {
    width: 66px;
    height: 66px;
    background-position: -410px -138px
}

.selSeriesElement.ex600.noactive {
    width: 66px;
    height: 66px;
    background-position: -410px -70px
}

.selSeriesElement.ex600.selected {
    width: 66px;
    height: 66px;
    background-position: -410px -2px
}

.selSeriesElement.flatribbon.active {
    width: 66px;
    height: 66px;
    background-position: -342px -138px
}

.selSeriesElement.flatribbon.noactive {
    width: 66px;
    height: 66px;
    background-position: -342px -70px
}

.selSeriesElement.flatribbon.selected {
    width: 66px;
    height: 66px;
    background-position: -342px -2px
}

.selSeriesElement.information {
    width: 26px;
    height: 25px;
    background-position: -1623px -32px
}

.selSeriesElement.information_disabled {
    width: 26px;
    height: 25px;
    background-position: -1623px -2px
}

.selSeriesElement.leadwire.active {
    width: 66px;
    height: 66px;
    background-position: -274px -138px
}

.selSeriesElement.leadwire.noactive {
    width: 66px;
    height: 66px;
    background-position: -274px -70px
}

.selSeriesElement.leadwire.selected {
    width: 66px;
    height: 66px;
    background-position: -274px -2px
}

.selSeriesElement.ip40.active {
    width: 66px;
    height: 66px;
    background-position: -206px -138px
}

.selSeriesElement.ip40.noactive {
    width: 66px;
    height: 66px;
    background-position: -206px -70px
}

.selSeriesElement.ip40.selected {
    width: 66px;
    height: 66px;
    background-position: -206px -2px
}

.selSeriesElement.mixed.active {
    width: 125px;
    height: 40px;
    background-position: -1496px -128px
}

.selSeriesElement.mixed.noactive {
    width: 125px;
    height: 40px;
    background-position: -1369px -128px
}

.selSeriesElement.mixed.selected {
    width: 125px;
    height: 40px;
    background-position: -1496px -2px
}

.selSeriesElement.mixed7000.active {
    width: 125px;
    height: 40px;
    background-position: -1496px -86px
}

.selSeriesElement.mixed7000.noactive {
    width: 125px;
    height: 40px;
    background-position: -1496px -44px
}

.selSeriesElement.mixed7000.selected {
    width: 125px;
    height: 40px;
    background-position: -1412px -173px
}

.selSeriesElement.pcwiring.active {
    width: 66px;
    height: 66px;
    background-position: -342px -138px
}

.selSeriesElement.pcwiring.noactive {
    width: 66px;
    height: 66px;
    background-position: -342px -70px
}

.selSeriesElement.pcwiring.selected {
    width: 66px;
    height: 66px;
    background-position: -342px -2px
}

.selSeriesElement.side.active {
    width: 66px;
    height: 66px;
    background-position: -138px -138px
}

.selSeriesElement.side.noactive {
    width: 66px;
    height: 66px;
    background-position: -138px -70px
}

.selSeriesElement.side.selected {
    width: 66px;
    height: 66px;
    background-position: -138px -2px
}

.selSeriesElement.sy3000.active {
    width: 125px;
    height: 40px;
    background-position: -1241px -44px
}

.selSeriesElement.sy3000.noactive {
    width: 125px;
    height: 40px;
    background-position: -1158px -172px
}

.selSeriesElement.sy3000.selected {
    width: 125px;
    height: 40px;
    background-position: -1241px -2px
}

.selSeriesElement.sy5000.active {
    width: 125px;
    height: 40px;
    background-position: -1241px -128px
}

.selSeriesElement.sy5000.noactive {
    width: 125px;
    height: 40px;
    background-position: -1241px -86px
}

.selSeriesElement.sy5000.selected {
    width: 125px;
    height: 40px;
    background-position: -1285px -172px
}

.selSeriesElement.sy7000.active {
    width: 125px;
    height: 40px;
    background-position: -1369px -44px
}

.selSeriesElement.sy7000.noactive {
    width: 125px;
    height: 40px;
    background-position: -1368px -86px
}

.selSeriesElement.sy7000.selected {
    width: 125px;
    height: 40px;
    background-position: -1369px -2px
}

.selSeriesElement.terminalblock.active {
    width: 66px;
    height: 66px;
    background-position: -70px -138px
}

.selSeriesElement.terminalblock.noactive {
    width: 66px;
    height: 66px;
    background-position: -70px -70px
}

.selSeriesElement.terminalblock.selected {
    width: 66px;
    height: 66px;
    background-position: -70px -2px
}

.selSeriesElement.top.active {
    width: 66px;
    height: 66px;
    background-position: -2px -138px
}

.selSeriesElement.top.noactive {
    width: 66px;
    height: 66px;
    background-position: -1px -69px
}

.selSeriesElement.top.selected {
    width: 66px;
    height: 66px;
    background-position: -1px -1px
}



.active {		
		cursor: pointer;		
}