#manifoldSpecialButton{
    background: none repeat scroll 0 0 steelblue;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: inline-block;
    margin: 20px 0 5px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}
#manifoldSpecialButton.disabled{
	cursor: default;
    opacity: 0.3;
    filter: alpha(opacity = 30); CURSOR: auto !important
}
.submenu_container{
	width: 100%; 
	background-color: #d7d7d7;
}
.submenu_text{
	padding-left: 30px; 
	font-size: 9pt;
}
#manifoldSpecialTableContainer{
    display: inline-block;
    margin: 20px 0;
    width: 100%;
}
#manifoldSpecialTableContainer, #manifoldSpecialTableContainer table{
	table-layout: fixed;
	display: inline-table;
}
#manifoldSpecialTableContainer .left_column{
	width: 440px;
}
#manifoldSpecialTableContainer .separation_column{
	width: 10px;
}
#manifoldSpecialTableContainer .right_column{
	width: 274px;
}
#manifoldSpecialTableContainer input{
	width: 100%;
}
.manifoldListContainer{
	border: 1px solid grey;
	height: 80px;
	float: left;
	width:100%
}
.manifoldSpecialTable{
    border-collapse: collapse;
    width: 100%;
}
.manifoldSpecialTable th{
	background-color: rgb(215, 215, 215);
}
.manifoldSpecialTable th:not(.last){
	border-right: 1px solid #999;
}
.manifoldSpecialTable td{
/* 	border-right: none !important; */
}
.manifoldSpecialTable .td_input
{
    background-color: rgb(234, 242, 252);
    border: 1px solid #aaa;
}

#manifoldBomInput div, #manifoldReferenceInput div {
    background-color: rgb(234, 242, 252);
    margin: 2px 5px;
}
.tableContainer{
    border: 1px solid #999;
    height: 80px;
    vertical-align: top;
}
.tableContainer th, .tableContainer td{
	padding: 3px;
}
.td_header{
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
}
.td_content{
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	white-space: nowrap;
}


.text, #manifoldSpecialTableContainer input{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 16px;
    color: #4d4d4d;
}
#manifoldSpecialTableContainer input{
    background-color: rgb(234, 242, 252);
    border: 0 none;
    padding: 0;
}

.manifoldSpecialButton:hover{
	background-color: rgb(36, 116, 182);
	color: white;
}
.selected, .selected div{
	background-color: rgb(37, 116, 185);
    color: white;
}

.numeric{
	text-align: right !important;
}
.separator_row {
    height: 5px;
}

/******************* TABLE CUSTOMIZED *********************/
#manifoldSpecialContainer{
	width: 100%;
	
}
#manifoldSpecialContainer .text:not(.td_content),
#manifoldSpecialContainer .submenu_text{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 16px;
	font-weight: 700;
}

.manifoldSpecialButton{
    color: #fff;
    float: left;
    margin-right: 10px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    white-space: normal;
    word-wrap: break-word;
    background: #0074be;
    border-color: #0074be;
    border: 2px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    padding: 12px 30px;
}
