@CHARSET "ISO-8859-1";

/*Panel contenedor*/
#sy_content_div {
	font-family: Arial;
	position: relative;
	width: 760px;
	margin-left: 20px;
	text-align: left;
}

#sy_title {
	height: 26px;
	widht: 776px;
}

.sy_header {
	text-align: left;
	margin: 10px 0px 0px 20px;
	width: 760px;
	float: left;
	color: #0869a7;
	clear: both;
	font-size: 13.5pt;
	font-weight: bold;
}

#path_div { /*Estilos texto*/
	text-align: left;
	font-size: 8pt;
	color: black;
	text-decoration: none;
	/*Posiciones y tama�os*/
	width: 760px;
	height: 16px;
}

.dc_breadcrumb {
	width: 760px;
	text-align: left;
	clear: both;
	margin-top: 5px;
	float: left;
	padding-top: 8px;
}

#sy_path_link, #sy_path_link:visited, #backLink a {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 8pt;
	color: #0554b1;
	outline-width: medium;
	outline-style: none;
	outline-color: invert;
}

#ik_serie_description {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 8pt;
	color: #0554b1;
	outline-width: medium;
	outline-style: none;
	outline-color: invert;
}

#debug_panel {
	width: 100%;
	height: 250px;
	background-color: #F8F6DD;
	overflow: auto;
}

#debug_panel p {
	font-size: 8pt;
	float: left;
	clear: both;
	margin-top: 0;
	margin-bottom: 0;
}

#meassures_div {
	position: relative;
	/* width: 760px; */
	/* height: 70px; */
	margin-top: 5px;
	padding-top: 8px;
	padding-bottom: 20px;
	clear: both;	
}


#graphical_editor_content_div {
	position: relative;
	width: 100%;
	height: 250px;
}

#graphical_editor_div { /*Para que salga uno al lado de otro*/
	display: inline-block;
	display: -moz-inline-stack;
	vertical-align: center;
	zoom: 1;
	*display: inline;
	_height: 20px;
	float: left;
	position: relative;
	width: 730px;
	height: 230px;
	overflow-x: auto;
	overflow-y: hidden;
}

#graphical_editor_tools_div { /*Para que salga uno al lado de otro*/
	float: right;
	position: relative;
	width: 30px;
	height: 196px;
	margin-top: 30px;
	background-image:
		url('../img/graphical_editor/graphics_tools_panel.png');
}

#notices_div {
	position: relative;
	width: 600px;
	/* 	height: 35px; */
	float: left;
	overflow-x: hidden;
	overflow-y: auto;
	/* 	padding-bottom: 15px; */
}

#notices_div.padding {
	padding-bottom: 15px;
}

#add_to_div { /*Para que salga uno al lado de otro*/
	display: inline-block;
	display: -moz-inline-stack;
	vertical-align: center;
	zoom: 1;
	*display: inline;
	_height: 20px;
	position: relative;
	width: 134px;
	height: 40px;
	/* 	float: right; */
	float: left;
	margin-left: 2px;
}

#tabs_div {
	position: relative;
	width: 760px;
	float: left;
}


#configurator_panel_div a {
	text-decoration: none;
}


#configurator_panel_div .disabled {
	cursor:auto;
}

#characteristic_option_div {
	margin: 0 0 10px 0;
}

div#cell_characteristic_group {
    margin-left: 40px;
    width: 100%;
}

#products_div {
	margin-top: 10px;
}

#span_products_div {
	float: left;
	overflow: auto;
	width: 90%;
	margin-left: 20px;
	margin-top: 4px;
}

#free_elements_div label, #free_elements_div input, #free_elements_div span, #free_elements_div div, .free_element_parts_heading{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 16px;
}

#free_elements_div label, .free_element_parts_heading{
	font-weight: 700;
}

#free_elements_div+#span_products_div {
	width: 40%;
}

#ik_product_characteristics_div {
	width: 100%;
	float: right;
}

/*T�tulo cabecera*/
.sy_configurator {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13.5pt;
	font-weight: bold;
	color: #0869a7;
	text-align: left;
	clear: both;
	padding-left: 10px;
	float: left;
}

.sy_title_line {
	width: 760px;
	height: 3px;
}

.sy_configurator_column {
	padding: 0px;
}

/*Cargando...*/
.sy_initial_loading {
	width: 760px;
	height: 700px;
}

#ik_loading {
	vertical-align: middle;
	text-align: center;
	width: 40%;
	height: 50px;
	/* 	border: 2px solid #2574B9; */
	float: left;
	/*--Bordes redondeados--*/
	/*Firefox*/
	-moz-border-radius: 7px;
	/*Chrome, Safari*/
	-webkit-border-radius: 7px;
	/*IE8*/
	-ms-border-radius: 7px;
	/*Konqueror*/
	-khtml-border-radius: 7px;
	/*Otros*/
	border-radius: 7px;
}

.ik_loading_image {
	margin: 10px;
	vertical-align: middle;
}

.ik_loading_text {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	vertical-align: middle;
}

.empty_div_to_center {
	width: 30%;
	float: left;
}

.empty_div_to_padding {
	height: 250px;
	float: top;
}

/*Editor gr�fico*/
.graphicSelected {
	border: 1px solid #2574B9;
	background-position: -1px -1px;
}

.ikGraphicHover {
	border: 2px solid gold;
	background-position: -2px -2px;
	cursor: pointer;
	cursor: hand;
}

.ik_info_label_div {
	text-align: center;
}

.ik_info_label {
	align: center;
	font-size: 8pt;
}

.ik_copy_tool_activated {
	url: ("../img/graphical_editor/copy_activate.png"), pointer;
}

/*Referencia*/
label.ik_reference { /*Para que salga uno al lado de otro*/
	display: inline-block;
	display: -moz-inline-stack;
	vertical-align: center;
	zoom: 1;
	*display: inline;
	_height: 20px;
	text-align: left;
	font-size: 8pt;
	width: 760px;
	border-width: 0;
	color: black;
	background: #d7d7d7;
}

/*Medidas*/
label.ik_meassures { /*Para que salga uno al lado de otro*/
	display: inline-block;
	display: -moz-inline-stack;
	vertical-align: center;
	zoom: 1;
	*display: inline;
	text-align: left;
	font-size: 7pt;
	border-width: 0;
	color: #2574B9;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

label.name_position {
	text-align: right;
}

label.value_position {
	text-align: left;
}

label.ik_red {
	color: red;
}

label.ik_blue {
	color: #2574B9;
}

/*Avisos*/
label.ik_notices, label.ik_notices_info {
	text-align: left;
	font-size: 8pt;
	border-width: 0;
}

label.ik_notices {
	color: red;
}

.ik_notices_small {
	float: top;
}

/*Productos configurables*/
a.product_list {
	text-align: left;
	font-size: 10pt;
	color: #2574B9;
	padding-left: 5px;
}

/*Caracter�sticas-opciones*/
.ik_characteristic_group { /*Para que salga uno al lado de otro*/
	display: inline-block;
	display: -moz-inline-stack;
	vertical-align: center;
	zoom: 1;
	*display: inline;
	_height: 24px;
	text-align: left; //
	font-size: 9pt;
	width: 100%;
	border-width: 0;
	background: #d7d7d7;
	margin-bottom: 4px;
	margin-top: 4px;
	padding-left: 1px;
}

div.ik_characteristic_group {
	width: 760px;
	margin-left: -10px;
}

label.ik_characteristic_group {
	padding-left: 30px;
	width: 730px;
}

#free_elements_div label.ik_characteristic_group {
	margin-left: -10px;
}

.ik_characteristic_group_with_info {
	text-align: left;
	font-size: 9pt;
	width: 100%;
	height: 24px;
	border-width: 0;
	background: #d7d7d7;
}

div.ik_characteristic_group_with_info {
	width: 760px;
	margin-left: -10px;
	line-height: 24px;
}

label.ik_characteristic_group_with_info {
	padding-left: 30px;
	width: 650px;
}

.product_information {
	float: right;
	margin-right: 12px;
	margin-top: 4px;
	width: 16px;
	cursor: pointer;
	cursor: hand;
}

.ik_characteristic_div {
	margin: 2px auto;
	align: left;
	height: 20px;
	vertical-align: center;
}

.ik_characteristic_radio_div {
	margin: 0 auto;
	align: left;
	height: 30px;
}

.ik_characteristic_radio_div SPAN {
	font-size: 7pt;
	float: left;
	width: 20px;
	text-align: center;
}

#free_elements_div { /*Para que salga uno al lado de otro*/
	display: inline-block;
	display: -moz-inline-stack;
	vertical-align: center;
	zoom: 1;
	*display: inline;
	_height: 20px;
	float: right;
	width: 100%;
}

#free_left_div { /*Para que salga uno al lado de otro*/
	display: inline-block;
	display: -moz-inline-stack;
	vertical-align: center;
	zoom: 1;
	*display: inline;
	_height: 20px;
	float: left;
	width: 49%;
}

.ik_free_element_div {
	margin: 0 auto;
	align: left;
	height: 40px;
}

.ik_free_element { /*Para que salga uno al lado de otro*/
	display: inline-block;
	display: -moz-inline-stack;
	vertical-align: center;
	zoom: 1;
	*display: inline;
	_height: 20px;
	text-align: left;
	font-size: 8pt;
	width: 20%;
	border-width: 0;
}

.ik_free_element_2 { /*Para que salga uno al lado de otro*/
	display: inline-block;
	display: -moz-inline-stack;
	vertical-align: center;
	zoom: 1;
	*display: inline;
	_height: 20px;
	text-align: left;
	font-size: 8pt;
	width: 30%;
	border-width: 0;
}

.ik_free_checkbox { /*Para que salga uno al lado de otro*/
	display: inline-block;
	display: -moz-inline-stack;
	vertical-align: center;
	zoom: 1;
	*display: inline;
	_height: 20px;
	text-align: left;
	font-size: 8pt;
	width: 80%;
	border-width: 0;
}

.ik_comboBox {
	text-align: left;
	font-size: 8pt;
	font-family: Arial, Helvetica, sans-serif;
	border-right: #9E9E9E 1px solid;
	border-top: #9E9E9E 1px solid;
	border-left: #9E9E9E 1px solid;
	border-bottom: #9E9E9E 1px solid;
	color: #000000;
	background-color: white;
	width: 66%;
	height: 20px;
	vertical-align: bottom;
	float: right;
}

.radio {
	width: 19px;
	height: 25px;
	padding: 0 5px 0 0;
	display: block;
	clear: left;
	float: left;
}

.ik_interval_selection {
	text-align: left;
	font-size: 8pt;
	font-family: Arial, Helvetica, sans-serif;
}

.ik_interval_selection_value {
	width: 20px;
	float: left;
}

.ik_interval_selection_group {
	float: left;
}

.ik_interval_selection_group label {
    width: 14px;
    font-size: 12px;
    margin-right: 5px;
    text-align: center;
    margin-bottom: 0px;
}

label.ik_sy_texto_desplegable { /*Para que salga uno al lado de otro*/
	display: inline-block;
	display: -moz-inline-stack;
	vertical-align: center;
	zoom: 1;
	*display: inline;
	_height: 17px;
	text-align: left;
	font-size: 8pt;
	border-width: 0;
	color: black;
	float: left;
	margin-left: 2px;
	padding-left: 2px;
	padding-top: 3px;
	width: 30.6%;
	height: 17px;
	background: none repeat scroll 0 0 #cdcdcd;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ik_sy_texto_incompatible_desplegable {
	/*Para que salga uno al lado de otro*/
	display: inline-block;
	display: -moz-inline-stack;
	vertical-align: center;
	zoom: 1;
	*display: inline;
	_height: 17px;
	text-align: left;
	font-size: 8pt;
	border-width: 0;
	color: red;
	float: left;
	margin-left: 2px;
	padding-left: 2px;
	padding-top: 3px;
	width: 30.6%;
	height: 17px;
	background: none repeat scroll 0 0 #cdcdcd;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ik_characteristic_radio_div .ik_sy_texto_desplegable {
	height: 23px;
	padding-top: 7px;
}

.ik_characteristic_radio_div .ik_sy_texto_incompatible_desplegable {
	height: 23px;
	padding-top: 7px;
}

select.ik_red {
	color: red;
}

select.ik_black {
	color: black;
}

.ik_option_red {
	color: red;
	font-weight: bold;
}

.ik_option_black {
	color: black;
}

.ik_state_image.correct {
    width: 25px;
    vertical-align: middle;
    text-align: center;
    margin-top: 0;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.ik_characteristic_radio_div .ik_state_image {
	float: left;
	margin-left: 2px;
	padding-top: 5px;
}

.even {
	background: #fff;
}

.odd {
	background: #fff;
}

.ik_select_product {
	color: #000;
	font-weight: bold;
	font-size: 10pt;
}

/*Reporte*/
.ik_report_panel_element {
	font-size: 8pt;
	text-align: left;
	font-family: Arial;
	cursor: pointer;
}

.ik_report_panel_element:hover {
	background: #FFD700;
}

.ik_report_panel_element.td {
	width: 175px;
}

tr.eliminar-ik_report_panel_element {
    cursor: pointer; 
}

tr.eliminar-ik_report_panel_element:hover{
   	background-color: #e9ecef;
}

/*
.ik_report_panel_basic_element {
	font-size: 8pt;
	text-align: left;
	font-family: Arial;
}*/

.ik_report_panel_basic_element.td {
	width: 175px;
}

.ik_report_section {
	background: #2574B9;
	color: white;
	font-weight: bold;
	font-size: 8pt;
	width: 740px;
	/*--Bordes redondeados--*/
	/*Firefox*/
	-moz-border-radius: 7px 7px 0px 0px;
	/*Chrome, Safari*/
	-webkit-border-radius: 7px 7px 0px 0px;
	/*IE8*/
	-ms-border-radius: 7px 7px 0px 0px;
	/*Konqueror*/
	-khtml-border-radius: 7px 7px 0px 0px;
	/*Otros*/
	border-radius: 7px 7px 0px 0px;
}

.ik_report_table {
	cell-padding: 0px;
	border-spacing: 0px;
	width: 740px;
}

/* WIZARD */
.ikBOMWizardContainer .ikWizardList>li {
	font-size: 12px;
	width: 143px;
}

.ikBOMWizardContainer .ikWizardList>li .ik_bom_buttons_WizardNumber {
	font-size: 20px;
}

.ikBOMWizardContainer .ikWizardList>li a {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
	width: 150px;
}

.clearfix {
	zoom: 1;
}

.ikBOMWizard_td_width {
	width: 740px;
}

.ik_bom_prices_table {
	cell-padding: 0px;
	border-spacing: 0px;
	width: 100%;
	table-layout: fixed;
}

#prices_bom_panel_div {
	width: 740px;
	overflow-x: auto;
	overflow-y: hidden;
}

.ik_bom_prices_section {
	table-layout: fixed;
	border-spacing: 0px;
	background: #2574B9;
	color: white;
	font-weight: bold;
	font-size: 8pt;
	width: 100%;
	/*--Bordes redondeados--*/
	/*Firefox*/
	-moz-border-radius: 7px 7px 0px 0px;
	/*Chrome, Safari*/
	-webkit-border-radius: 7px 7px 0px 0px;
	/*IE8*/
	-ms-border-radius: 7px 7px 0px 0px;
	/*Konqueror*/
	-khtml-border-radius: 7px 7px 0px 0px;
	/*Otros*/
	border-radius: 7px 7px 0px 0px;
}

.ik_bom_warning_section {
	table-layout: fixed;
	border-spacing: 0px;
	font-size: 8pt;
	width: 100%;
	color: red;
}

.ik_positions_circle_text {
	text-align: center;
	position: relative;
	top: 0;
	right: 0;
	padding: 5px;
}

.eliminar-ik_report_header {
	font-weight: bold;
}

.ik_report_column1 {
	width: 250px;
}

.ik_report_column2 {
	width: 172px;
}

.ik_report_column3 {
	width: 26px;
}

.ik_position_column {
	width: 13px;
	font-size: 6pt;
	text-align: center;
	padding: 0 !important;
}

.ik_positions_circle {
    background-color: #4d4d4d;
    width: 25px;
    height: 25px;
    display: block;
    padding: 4px 0 0 0;
    text-align: center;
    margin-top: 10px;
    color: #FFFFFF;
    border-radius: 25px;
    border: 1px solid #FFFFFF;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    -ms-border-radius: 25px;
    -khtml-border-radius: 25px;
    font-size: 8pt;
}

.ik_report_price {
	width: 1px;
}

.ik_report_price_text {
	width: 85px;
	text-align: right;
}

.ik_total_price_column_empty {
	width: 150px;
}

.ik_total_report_div {
	border-top: 1px solid #000;
	margin-right: 10px;
	margin-top: 10px;
}

.ik_report_specifications {
	color: #888888;
	float: left;
	margin: 10px;
}

table .ik_report_specifications {
	height: initial !important;
	border-top: none;
}

.ik_hidden_specifications {
	display: none;
	font-size: 8pt;
	text-align: left;
	font-family: Arial;
}

.ik_show_specifications {
	/* display: block;
	font-size: 8pt; */
	text-align: left;
	/* font-family: Arial; */
}

/*Para crear sel. series*/
.sel_series_titular {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	text-align: left;
	padding-top: 8px;
	clear: both;
	word-spacing: 0px;
}

.sy_titular_div {
	clear: both;
	display: block;
	margin-left: 20px;
	float: left;
	width: 760px;
	text-align: left;
	padding-top: 13px;
}

.sy_titular_img {
	display: inline-block;
}

.sel_series_description {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
}

.small_div {
	float: left;
	width: 30px;
	text-align: center;
}

.middle_div {
	float: left;
	width: 250px;
	text-align: center;
}

.big_div {
	float: left;
	width: 150px;
	text-align: center;
}

.div_50 {
	float: left;
	width: 50px;
	text-align: center;
}

.div_120 {
	float: left;
	width: 120px;
	text-align: center;
}

input.sel_series_button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	text-align: center;
	color: #000000;
	width: 120px;
	height: 37px;
}

img.sel_series_image {
	align: center;
	zoom: 100%;
}

img.sel_series_information {
	padding-top: 4px;
	zoom: 100%;
}

.sel_series_information:hover {
	cursor: pointer;
	cursor: hand;
}

/*BOM*/
.ik_bom_panel_element {
	font-size: 8pt;
	text-align: left;
	font-family: Arial;
}

.valid_false {
	color: red;
}

.ikSubOption_bom {
	display: block;
	font-size: 10px;
	color: #7C7C7C;
}

.ikSubOption_bom_no_valid {
	display: block;
	font-size: 10px;
	color: red;
}

.ik_bom_card_font {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: left;
}

.ik_bom_subfamily_card_font {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: left;
}

.ik_bom_card_column1 {
	width: 260px;
	min-width: 260px;
	max-width: 260px;
}

.ik_bom_card_column2 {
	width: 440px;
	min-width: 440px;
	max-width: 440px;
}

.ik_bom_card_column3 {
	width: 75px;
	min-width: 75px;
	max-width: 75px;
}

.ik_bom_card_column4 {
	width: 90px;
	min-width: 90px;
	max-width: 90px;
}

.ik_bom_card_column5 {
	width: 215px;
	min-width: 215px;
	max-width: 215px;
}

.ik_bom_card_column6 {
	width: 60px;
	min-width: 60px;
	max-width: 60px;
}

.ik_bom_card_column7 {
	width: 55px;
	min-width: 55px;
	max-width: 55px;
}

.ik_bom_card_column8 {
	width: 160px;
	min-width: 160px;
	max-width: 160px;
}

.ik_bom_card_column9 {
	width: 140px;
	min-width: 140px;
	max-width: 140px;
}

.ik_bom_card_column10 {
	width: 250px;
	min-width: 250px;
	max-width: 250px;
}

.ik_bom_card_column11 {
	width: 205px;
	min-width: 205px;
	max-width: 205px;
}

.ik_bom_card_column12 {
	width: 300px;
	min-width: 300px;
	max-width: 300px;
}

.ik_bom_card_column13 {
	width: 255px;
	min-width: 255px;
	max-width: 255px;
}

.ik_bom_card_column14 {
	width: 175px;
	min-width: 175px;
	max-width: 175px;
}

.ik_bom_column1 {
	width: 250px;
}

.ik_bom_column2 {
	width: 124px;
}

.ik_bom_column3 {
	width: 35px;
	text-align: right;
}

.ik_bom_column4 {
	width: 100px;
	text-align: right;
}

.ik_bom_column5 {
	width: 100px;
	text-align: right;
}

.ik_bom_column6 {
	width: 100px;
	text-align: right;
}

.ik_bom_column7 {
	width: 100px;
	text-align: right;
}

.ik_bom_column8 {
	width: 100px;
	text-align: right;
}

.ik_bom_column9 {
	width: 55px;
	text-align: right;
}

.ik_bom_column10 {
	width: 100px;
	text-align: right;
}

.ik_bom_column11 {
	width: 100px;
	text-align: right;
}

.ik_bom_warning_column1 {
	width: 738px;
}

.ik_bom_warning_column2 {
	width: 877px;
}

.ik_bom_warning_column3 {
	width: 920px;
}

.ik_bom_warning_column4 {
	width: 975px;
}

.ik_bom_warning_column5 {
	width: 1180px;
}

.ik_ss_info_section {
	table-layout: fixed;
	border-spacing: 0px;
	width: 100%;
}

.ik_ss_info_column {
	width: 226px;
}

.ik_ss_info_spacer {
	width: 20px;
}

.ik_ss_info_spacer2 {
	width: 10px;
}

.ik_ss_info_margin {
	margin-top: 12px;
}

/*Para crear las pesta�as */
.SY_tabs {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	text-decoration: none;
	margin-top: 6px;
	margin-left: 4px;
	float: left;
	overflow: hidden;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 100px;
	margin-top: 3px;
	margin-right: 7px;
}

.tabn_4 .SY_tabs {
	max-width: 200px;
}

.SY_tabs.selected {
	font-weight: bold;
}

.SY_tabs.click {
	color: #000000;
}

.SY_tabs.no_click {
	color: #555555;
}

.SY_tab_image_name {
	float: left;
	align: left;
	height: 22px;
	background-image: url('../img/Pestanas/normal_tab.png');
	cursor: hand;
	cursor: pointer;
}

.SY_tabs_width_large {
	/* width: 125px; */
	
}

.SY_tabs_width_small {
	/* width: 146px; */
	
}

div.SY_tab_image_name:first-child+div.SY_tab_image_name {
	width: 175px !important;
}

.ik_tab_state_image {
	margin-left: 3px;
	margin-top: 4px;
	float: left;
}

.SY_tab_image_name.selected {
	background-image: url('../img/Pestanas/selected_tab.png');
	cursor: default;
}

/*Botones*/
.ikSaveSYF { /*Para que salga uno al lado de otro*/
	/*	display: inline-block;*/
	display: none;
	vertical-align: center;
	zoom: 1;
	*display: inline;
	/* 	float: right; */
	float: left;
	margin-left: 1px;
	margin-right: 1px;
}

.ikAddToFavorite { /*Para que salga uno al lado de otro*/
	/*	display: inline-block;*/
	/* 	display: none; */
	vertical-align: center;
	zoom: 1;
	*display: inline;
	/* 	float: right; */
	float: left;
	margin-left: 1px;
	margin-right: 1px;
}

.ikAddToBasket { /*Para que salga uno al lado de otro*/
	/* 	display: none; */
	vertical-align: center;
	zoom: 1;
	*display: inline;
	/* 	float: right; */
	float: left;
	margin-left: 1px;
	margin-right: 1px;
}

.ikAddToText {
	font-size: 8pt;
	color: black;
	cursor: pointer;
	margin-top: 8px;
	margin-left: 3px;
	float: left;
	height: 24px;
}

.ikAddToImage {
	/* 	margin-top: 3px; */
	margin-left: 3px;
	float: left;
	cursor: pointer;
	cursor: hand;
}

#ikSaveSYF {
	/*Para que salga uno al lado de otro*/
	/*display: inline-block;	
	vertical-align: center; 
	zoom: 1; 
	*display: inline;
	float: left;
	margin-left: 1px;
	margin-right: 1px;
	text-decoration: underline;
	cursor: pointer;
	cursor: hand;
	font-size: 8pt;
	color: black;
	margin-top: 2px;
	margin-left: 3px;*/
	
}

.ikLink {
	margin-top: 37px;
	margin-left: 20px;
}

#ik_sy_open_text {
	font-size: 10pt;
	margin-top: 8px;
	margin-left: 20px;
	float: left;
}

div.fileinputs {
	position: relative;
}

div.fakefile {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

input.file {
	float: left;
	width: 255px;
	position: relative;
	text-align: right;
	-moz-opacity: 0;
	filter: alpha(opacity : 0);
	opacity: 0;
	z-index: 2;
}

#browse_button {
	margin-left: -15px;
	cursor: pointer;
	margin-top: 10px;
}

#upload-file-container {
	height: 16px;
}

#upload-file-container #file_input {
	filter: alpha(opacity = 0);
	opacity: 0;
}

form.special_form input {
	width: 241px;
	background: url("../img/resources/input_boxes.gif") no-repeat scroll 0
		-58px transparent;
	border: medium none;
	height: 24px;
	padding-left: 3px;
	padding-top: 2px;
}

#sy_submit_div {
	
}

#sy_submit_file {
	cursor: pointer;
	cursor: hand;
	float: left;
	width: 96px !important;
	background: url("../img/resources/input_boxes_small.gif") no-repeat
		scroll 0 -58px transparent !important;
	margin-top: 10px;
}

/*Herramientas gr�ficas*/
.ikCopyTool {
	vertical-align: center;
	margin-left: 3px;
	margin-top: 3px;
}

.ikAddTool {
	vertical-align: center;
	margin-left: 3px;
}

.ikDeleteTool {
	vertical-align: center;
	margin-left: 3px;
}

.ikMoveRightTool {
	vertical-align: center;
	margin-left: 3px;
}

.ikMoveLeftTool {
	vertical-align: center;
	margin-left: 3px;
}

.ikUndoTool {
	vertical-align: center;
	margin-left: 3px;
}

.ikRedoTool {
	vertical-align: center;
	margin-left: 3px;
}

.ikDeleteProductTool {
	vertical-align: center;
	margin-left: 3px;
}

.ikActivatedTool {
	cursor: pointer;
	cursor: hand;
}

.ikDeactivatedTool {
	cursor: default;
}

.ikCopying {
	cursor: url("../img/graphical_editor/brocha.cur"), help;
}

/*ICONOS*/
.dc_productToolbar {
	padding-top: 5px;
	clear: both;
	margin-top: 5px;
	border-top: 1px solid #cdcdcd;
}

.dc_productSheet {
	clear: both;
	margin-top: 5px;
	padding-top: 5px;
}

.dc_smallIcon {
	width: 16px;
	height: 16px;
	vertical-align: text-bottom;
	cursor: pointer;
	margin-right: 3px;
	margin-left: 3px;
}

.dc_disabledIcon {
	filter: alpha(opacity = 30);
	opacity: 0.3;
	cursor: auto !important;
}

.dc_hideIcon {
	display: none;
}

.dc_productToolbar1 {
	float: left;
}

.dc_productToolbar2 {
	float: right;
}

#ikDownloadCADenas, #ikPreviewCADenas {
	text-decoration: none;
	border: none;
}

a:link img, a:hover img, a:visited img, a:active img {
	border: none;
}

.askSMCAboutOverlay {
	z-index: 10000;
	border-bottom: #666 1px solid;
	text-align: left;
	border-left: #666 1px solid;
	padding-bottom: 0px;
	background-color: #ffffff;
	padding-left: 20px;
	width: 500px;
	padding-right: 20px;
	display: none;
	border-top: #666 1px solid;
	border-right: #666 1px solid;
	padding-top: 0px;
	-moz-box-shadow: 0 0 10px 3px #999;
	-webkit-box-shadow: 0 0 10px #999;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 0 0 10px 3px #999;
}

.askSMCAboutOverlay .close {
	background-image:
		url(http://eul0300728.eu.verio.net/portal_edit/WebContent/digital_catalog/images/close_overlay_button.png);
	position: absolute;
	width: 35px;
	height: 35px;
	cursor: pointer;
	right: -15px;
	top: -15px;
}

.askSMCAboutIframe {
	border-bottom: medium none;
	text-align: center;
	border-left: medium none;
	width: 500px;
	height: 545px;
	vertical-align: middle;
	border-top: medium none;
	border-right: medium none;
}

.askSMCAboutBody {
	margin: 0px;
}

.askSMCAboutContent {
	width: 500px;
	font-family: Arial, Helvetica, sans-serif;
	height: 545px;
	font-size: 8pt;
}

.askSMCAboutRequest {
	width: 100%;
	height: 100%;
}

.askSMCAboutHeader {
	margin: 10px 0px;
	float: left;
}

.askSMCAboutImg {
	width: 140px;
	float: left;
}

.askSMCAboutTitle {
	width: 360px;
	float: left;
}

.askSMCAboutTitle h3 {
	margin: 30px 0px 0px 20px;
	color: #2275be;
	font-size: 12pt;
}

.askSMCAboutForm {
	width: 100%;
	clear: both;
}

.askSMCAboutForm FORM {
	margin: 0px;
}

.askSMCAboutForm FORM SPAN.fieldLabel {
	margin: 0px 2px;
	font-size: 9pt;
	font-weight: bold;
}

.askSMCAboutForm FORM INPUT {
	border-bottom: #9e9e9e 1px solid;
	border-left: #9e9e9e 1px solid;
	padding-bottom: 2px;
	background-color: #f3f3f3;
	margin: 0px 0px 6px;
	padding-left: 2px;
	width: 98.9%;
	padding-right: 2px;
	font-family: Arial, Helvetica, sans-serif;
	height: 16px;
	ont-size: 9pt;
	order-top: #9e9e9e 1px solid;
	border-right: #9e9e9e 1px solid;
	padding-top: 2px
}

.askSMCAboutForm FORM TEXTAREA {
	border-bottom: #9e9e9e 1px solid;
	border-left: #9e9e9e 1px solid;
	padding-bottom: 2px;
	background-color: #f3f3f3;
	margin: 0px 0px 6px;
	padding-left: 2px;
	width: 98.9%;
	padding-right: 2px;
	font-family: Arial, Helvetica, sans-serif;
	height: 140px;
	font-size: 9pt;
	border-top: #9e9e9e 1px solid;
	border-right: #9e9e9e 1px solid;
	padding-top: 2px;
	resize: none;
}

.askSMCAboutForm FORM INPUT.submitBtn {
	border-bottom: #9e9e9e 1px solid;
	border-left: #9e9e9e 1px solid;
	background-color: #f3f3f3;
	margin: 0px 0px 16px;
	width: 70px;
	font-family: Arial, Helvetica, sans-serif;
	float: right;
	height: 22px;
	font-size: 9pt;
	border-top: #9e9e9e 1px solid;
	cursor: pointer;
	font-weight: bold;
	border-right: #9e9e9e 1px solid;
}

.askSMCAboutResponse {
	position: relative;
	text-align: center;
	width: 100%;
	height: 100%;
	color: #2275be;
	font-size: 11pt;
	font-weight: bold;
}

.askSMCAboutResponse DIV {
	position: absolute;
	margin-top: -27px;
	width: 100%; .
	height: 55px;
	top: 50%;
}

/*To top*/
.toTop {
	cursor: pointer;
}

.dc_footer {
	width: 760px;
	text-align: left;
	clear: both;
	font-size: 8pt;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	float: left;
}

.dc_link {
	color: #0554b1;
	text-decoration: none;
	outline-width: medium;
	outline-style: none;
	outline-color: invert;
	margin-left: 3px;
}

.dc_link:hover {
	text-decoration: underline;
}

.dc_line {
	width: 760px;
	height: 3px;
}

/*Reset*/
.ik_reset_default {
	text-decoration: none;
	padding-left: 7px;
	color: #2574B9;
}

/*iFrame*/
#overlay {
	height: 470px;
}

/* container for external content. uses vertical scrollbar, if needed */
div.contentWrap {
	height: 100%;
	overflow-y: auto;
}

/* the overlayed element */
.apple_overlay {
	/* must be initially hidden */
	display: none;
	/* place overlay on top of other elements */
	z-index: 10000;
	/* styling */
	background-color: #FFFFFF;
	width: 780px;
	border: 1px solid #666;
	padding: 0px 20px;
	text-align: left;
	/* CSS3 styling for latest browsers */
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0 0 10px 3px #999;
	-webkit-box-shadow: 0 0 10px #999;
	box-shadow: 0 0 10px 3px #999;
}

/* default close button positioned on upper right corner */
.apple_overlay .close {
	background-image: url(close_overlay_button.png);
	position: absolute;
	right: -15px;
	top: -15px;
	cursor: pointer;
	height: 35px;
	width: 35px;
}

:focus {
	-moz-outline-style: none;
}

.ik_cs_title {
	color: #2574B9;
	font-size: 19pt;
	font-weight: bold;
	font-family: Arial;
}

#ik_cs_graphics {
	display: inline-block;
	display: -moz-inline-stack;
	vertical-align: center;
	zoom: 1;
	*display: inline;
	_height: 20px;
	float: left;
	position: relative;
	width: 730px;
	height: 250px;
	overflow-x: auto;
	overflow-y: hidden;
}

.ik_cs_image {
	height: 185px;
}

.ik_cs {
	clear: both;
	padding-top: 20px;
}

.product_separator {
	/* 	border-top: 1px solid rgb(205, 205, 205); */
	/*     margin: 20px 0; */
	/*     width: 40%; */
	clear: both;
}

#free_elements_div+#span_products_div .product_separator {
	width: 100%;
}

/* Tabla customized */
#free_right_div {
	width: 49%;
	float: right;
}

.free_element_parts_table {
	margin-top: 0;
	height: 100px;
	font-size: 8pt;
	text-align: left;
	width: 80%;
	border: 1px solid;
}

.free_element_parts_heading.free_elements_table_left {
	width: 70%;
	border-right: 1px groove;
}

.free_elements_table_left {
	float: left;
}

.free_element_parts_table .free_element_parts_heading div,
	.free_element_parts_table .free_element_parts_body div {
	padding-left: 10px;
	padding-right: 5px;
	height: 20px;
	line-height: 20px;
}

.free_element_parts_table>.free_element_parts_heading {
	border-bottom: 1px groove;
	background-color: rgb(215, 215, 215);
}

.free_elements_table_right {
	text-align: right;
}

.free_element_part_add {
	margin-top: 10px;
	width: 80%;
	font-size: 8pt;
}

#element_part_quantity {
	width: 10%;
}

.free_element_part_add .input_container {
	text-align: right;
}

.free_element_part_add .input_container input {
	font-size: 8pt;
}

#element_part_reference {
	margin-right: 10px;
}

.free_element_part_add .button_container {
	text-align: center;
	margin-top: 10px;
}

.free_elements_button {
    color: #fff;
    float: left;
    margin-right: 10px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    white-space: normal;
    word-wrap: break-word;
    background: #0074be;
    border-color: #0074be;
    border: 2px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    padding: 12px 30px;
}

.free_elements_button:hover {
	background-color: rgb(37, 116, 185);
	color: white;
}

.element_part_selected {
	background-color: rgb(37, 116, 185);
	color: white;
}

.free_element_parts_table .free_element_parts_body {
	overflow-y: auto;
	height: 80px;
}

.free_element_parts_heading_quantity {
	padding-right: 40px !important;
}

.element_part_row .free_elements_table_left {
	padding-left: 10px;
}

.element_part_row .free_elements_table_right {
	padding-right: 10px;
}

#free_elements_div+#span_products_div {
	margin-top: -110px;
}

#free_left_div, #free_right_div {
	margin-top: 10px;
}

#ikEmailCADenas {
	display: none;
}

#backLink {
	cursor: pointer;
	float: right;
	font-size: 8pt;
	text-decoration: underline;
}

#configurator_panel_div.loading {
	background:
		url("{VIPDEPLOYMENT_URL}/WebContent/basket_v2/resources/ajax_wait.gif")
		no-repeat scroll center center transparent;
}

#configurator_panel_div.loading>* {
	visibility: hidden;
}

span.packageVersion {
	display: none;
}

div.dc_footer {
	margin-left: 0px !important;
}

#sy_overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 9999;
	opacity: 0.7;
	background:
		url('{VIPDEPLOYMENT_URL}/WebContent/basket_v2/resources/ajax_wait.gif')
		no-repeat scroll center center white;
	display: none;
}

.hide_jqv_errors div.formErrorContent, .hide_jqv_errors div.formErrorArrow
	{
	display: none !important;
}

#configurator_copy_placeholder {
	position: absolute;
	background-color: white;
	opacity: 0.3;
	filter: alpha(opacity = 30);
}

.sy_proccess_blue_cell {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	background-color: #C4DDF2;
	color: #2776B9;
}

a.sy_proccess_blue {
	color: #FFF;
}

a.sy_proccess_blue:hover {
	cursor: pointer;
	text-decoration: underline;
}

.sy_proccess_gray_cell {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	background-color: #E4E4E4;
	color: #FFF;
}

a.sy_proccess_gray {
	color: #FFF;
}

a.sy_proccess_gray:hover {
	text-decoration: none;
}

#ikOCC.dc_disabledIcon {
	cursor: pointer !important;
	opacity: 1;
}

.category-tile{
    min-height: auto;
    z-index: 0;
}

.category-tile:after{
	background: none;
}

.vc.empty-list > li {
    margin-bottom: 0px;
}

.main-header {
    z-index: 110;
}

.category-tile__text__inner{
	padding-bottom: 0px;
}
.category-tile__text__inner ul {
    padding-left: 2px;
}
.category-tile__text{
	margin-bottom: 0px;
	padding: 0px 0;
}