                                                                                                                                                                                                                                                               
.tabsSprite {float:left;display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../sprites/tabs.png);cursor: pointer;height: 22px;}
#tabsContainer .amarillo {width:16px; height:16px; background-position: -213px -38px}
#tabsContainer .amarillofondo {width:16px; height:16px; background-position: -213px -20px}
#tabsContainer .normal_tab {width: auto; max-width: 160px; height: 21px; background-position: -2px -26px}
#tabsContainer .normal_tab.tabn_4 {width: auto; max-width: 235px; height: 21px; background-position: -2px -26px}
#tabsContainer .normal_tab.tabn_6 {width: auto; max-width: 140px; height: 21px; background-position: -2px -26px}
#tabsContainer .report {width:16px; height:16px; background-position: -231px -2px}
#tabsContainer .rojo {width:16px; height:16px; background-position: -213px -2px}
#tabsContainer .rojofondo {width:16px; height:16px; background-position: -195px -38px}
#tabsContainer .selected_tab {/* width:191px; */ height: 22px; background-position: -1px -1px; cursor:default;}
#tabsContainer .separador {width:150px; height:1px; background-position: -2px -50px}
#tabsContainer .verde {width:16px; height:16px; background-position: -195px -20px}
#tabsContainer .verdefondo {width:16px; height:16px; background-position: -195px -2px}
#tabsContainer span.tabsSprite {margin-top: 3px;margin-left: 7px;}
#tabsContainer div.tabsSprite:first-child + div.tabsSprite { width: 175px !important; }
#configurator_panel_placeholder.hidden {display:none;}
.tabsDiv {float:left;display:inline-block; overflow:hidden; cursor: pointer;height: 21px;}
.tabsDiv {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: rgb(249, 249, 249);
    border-color: rgb(205, 205, 205) rgb(205, 205, 205) -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    color: rgb(171, 171, 171);
    /* padding: 3px 7px; */
    text-decoration: none;
    margin-right:5px;
}
.tabsDiv.selected_tab {
	background-color: rgb(255, 255, 255);
    border-bottom-color: white;
    border-top-color: rgb(205, 205, 205);
    border-left-color: rgb(205, 205, 205);
    border-right-color: rgb(205, 205, 205);
    color: rgb(5, 84, 177);
    cursor: default;
    font-weight: bold;
    height:20px;
}

.normal_tab span.SY_tabs:hover {
text-decoration: underline;
}

/* REFERENCE PANEL */
#sy_product_reference_wrapper {
	clear: both;
}
#sy_product_reference_wrapper.sy_ref {
	display:none;
}
#sy_product_status {
	float:left;
}
#sy_product_status {
	background-image: url("../sprites/tabs.png");
    background-repeat: no-repeat;
    margin-top: 2px;
    height: 25px;
    width: 25px;
}
#sy_product_status.sy_status_{
	display:none;
}
.sy_status_correct {
	background-position: -256px 0;
}
.sy_status_incomplete {
	background-position: -230px -19px;
}
.sy_status_with_errors {
    background-position: -256px -29px;
}
#sy_product_reference_placeholder {
	float: left;
	padding: 5px;
	clear:both;
	height:25px;
	line-height:25px;
}
#sy_product_reference_placeholder, #sy_product_reference_placeholder div {
	display:none;
}
#sy_product_reference_placeholder.no_elem, #sy_product_reference_placeholder.no_elem #no_elem {
	display: block;
	font-style: italic;
    font-weight: bold;
}
#sy_product_reference_placeholder.no_ref, #sy_product_reference_placeholder.no_ref #no_ref {
	display: block;
	font-style: italic;
    font-weight: bold;
}

#products_div {
	display: inline;
}
#products_div fieldset {
	margin-top: 10px;
	padding: 10px;
}
.product_element {
	width: 32%;
	float:left;
	display:inline;
}
a.product_list {
	text-decoration: none;
}
a.product_list:hover {
	text-decoration: underline;
}
.product_link_image {
    background-repeat: no-repeat;
    margin-top: 2px;
    height: 16px;
    width: 16px;
    float:left;
}
fieldset.p1 .product_link_image {
	background-image: url(../../images/vcconfigurator/sy_p1.png); 
}
fieldset.p2 .product_link_image {
	background-image: url(../../images/vcconfigurator/sy_p2.png); 
}
fieldset.p3 .product_link_image {
	background-image: url(../../images/vcconfigurator/sy_p3.png); 
}
fieldset.p4 .product_link_image {
	background-image: url(../../images/vcconfigurator/sy_p4.png); 
}
#products_wrapper {
	clear: both;    
	margin-left: 20px;
	width: 100%;
}
.product_link {
	height: 20px;
	line-height: 20px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*width: 210px;*/
}

/*
 * Project Information
 */
 #solicitorInformation * {
 	font-size: 8pt;
 }
.projectInformationTitle {
	color: #4682B4;
	float: left;
    font-size: 10pt;
    font-weight: bold;
}
.projectInformationFieldGroup {
	clear: both;
}
.projectInformationFieldGroup div {
	width: 49%;
	float: left;
}
.projectInformationField > * {
	width: 49%;
}
#project_information_panel{
	margin: 7px 0;
	width: 100%;
}
.projectInformationOptions .projectInformationButton {
    float: right;
    border: 1px solid #4682b4;
    color: #4682b4;
    margin: 0 4px;
    padding: 4px;
    width: 80px;
    text-align: center;
}
#project_information_panel .projectInformationOptions .projectInformationButton{
    background-color: #f3f3f3;
    border: 1px solid #9e9e9e;
    color: black;
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 9pt;
    font-weight: bold;
    margin: 0;
    padding: 4px 0;
    text-align: center;
    width: 100%;
    float: none;
}

#project_information_panel label {
    float: right;
    font-size: 9pt;
    font-weight: bold;
    margin: 0;
    text-align: right;
}
.input_container {
    width: 100% !important;
    background-color: #f3f3f3;
    border: 1px solid #9e9e9e;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 9pt;
    height: 100% !important;
}

#project_information_panel input, #project_information_panel textarea {
    /* background: none repeat scroll 0 0 rgba(0, 0, 0, 0); */
    background-color: #f3f3f3;
    border: medium none;
    margin: 1px;
    resize: none;
    width: 98%;
    padding: 1px 2px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 9pt;
}
#project_information_panel textarea {
    width: 99%;
}

/*TO AVOID INPUT OUTLINE BLUE BORDER WHEN INPUTS ARE FOCUSED IN GOOGLE CHROME*/
input:focus, select:focus, textarea:focus {
outline: none;
}

#project_information_panel .projectInformationField, #project_information_panel .projectInformationFieldGroup {
    margin: 3px 0;
    padding: 0 !important;
}
.empty_line{
    height: 5px !important;
}
.projectInformationOptions .projectInformationButton:hover {
	cursor: hand;
	cursor: pointer;
	background-color: #4682b4;
	color: white;
}
.clear {
	clear: both;
}
.projectInformationField > label {
    float: left;
    margin-right: 10px;
    text-align: right;
    width: 50px;
}
.projectInformationField {
    padding: 3px;
}
#solicitorInformation > div {
 	clear: both;
 	height: 170px;
}
#customerContact {
    padding-top: 15px;
}
.projectInformationSubTitle {
    clear: both;
    color: grey;    
    margin-bottom: 10px;
    font-style: italic;
}
.multipleContactWrapperSYContacts{
	max-height: 257px;
	overflow-y: auto;
	overflow-x: hidden !important;	
}
.contactWrapper {
    max-height: 100px;
    min-width: 248px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px 3px;
    white-space: nowrap;   
}
a.contactLine {
    color: #0554b1;
    outline: medium none;
    text-decoration: none;
}
.deleteContact {
	background-image: url("../img/delete.png");
    background-repeat: no-repeat;
	background-position: left center;
    height: 20px;
	padding-left: 20px !important;
	cursor: hand;
	cursor: pointer;
}
.contactWrapper > a {
	line-height: 20px;
}
#hiddenPanel {
	visibility: hidden;
	position: absolute;
	width: 740px;
}
#solicitorInformationD, #solicitorInformationD {
    height: 170px;
}

/* SIMPLE SPECIAL REFERENCE PANEL */
#sy_ss_reference {
    margin-left: 20px;
    background-color: #ddd;
}
.sy_ss_ref, .sy_ref {
	display: none;
}