@import '../../_colors.scss';

.productconfigurator-component {

  //Checkbox
  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox] + label {
    cursor: pointer;
  }

  tr.builder input[type=checkbox] {
    display: block;
  }

  input[type=checkbox] + label:before,
  tr.builder input[type=checkbox]:before,
  #configuration_area tr.configurationRow td input[type="checkbox"] {
    content: "";
    background: white;
    border: 1px solid grey;
    border-radius: 3px;
    display: inline-block;
    margin-right: 5px;
    text-align: center;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border-color: transparent;
  }

  tr.builder input[type=checkbox]:before {
    right: 1px;
    top: -8px;
    position: relative;
  }

  .productconfigurator-component tr.builder input[type=checkbox]:checked:before {
    display: none;
  }

  input[type=checkbox]:checked + label:before,
  tr.builder input[type=checkbox]:checked:before {
    font-family: "smc";
    content: '\79';
    font-size: 11px;
    color: black;
  }

  .productconfigurator-component tr.builder input[type=checkbox]:checked:before {
    display: none;
  }


}
