@import '../../_colors';
@import '../../_mixins';

html.has-header {
    .productconfigurator-component {
        .product-toolbar-component.sticky {
            top: 100px !important;;
        }
    }
}

//[SMCD-184] Remove "display:flex" in IE
body.not_ie {
    .productconfigurator-component {
        .configurator-container {
            #configuration_area {
                tr.configurationRow {
                    display: flex;
                    flex-wrap: wrap;
                }
            }
        }
    }
}

//Featured Options Star icon
.image-star {
    //background: url(../../../../images/star-full-blue.svg) center no-repeat transparent;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 100%;
    position: relative;
    top: 3px;
}

#free_configuration {
    &> .row, #project-section-buttons > .row {
        margin-bottom: 30px;
    }
}

.productconfigurator-component {
    &.is-standalone-page, &.phone {
        width: 98vw;

        #productConfiguratorContainer {
            padding-bottom: 130px;//The height of the Floating part number
        }
    }

    .tab-content {
        width: 100%;
    }

    h3.sub-title {
        color: $blue;
        font-weight: bold;
        margin-bottom: 4rem;
        max-width: 50%;
    }

    .configurator-container {

        #configuration_area {
            margin-bottom: 25px;

            tr.configurationRow,
            tr.builder {
                input[type="text"] {
                    font-size: 16px;
                    height: 42px;
                    padding: 5px 50px 5px 20px;
                    border: 2px solid #cccccc;
                    border-radius: 10px;

                    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                        font-style: italic;
                    }
                    &::-moz-placeholder { /* Firefox 19+ */
                        font-style: italic;
                    }
                    &:-ms-input-placeholder { /* IE 10+ */
                        font-style: italic;
                    }
                    &:-moz-placeholder { /* Firefox 18- */
                        font-style: italic;
                    }
                }

                select {
                    width: 100%;
                    height: 42px;
                    padding: 5px 50px 5px 20px;
                    background-color: #fff;
                    font-size: 16px;
                    line-height: normal;
                    font-family: "Montserrat", sans-serif;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    -ms-appearance: none;
                    appearance: none;
                    display: inline-block;
                    outline: 0;
                    box-sizing: border-box;
                    color: #333;
                    font-weight: 700;
                    background: url(../../../images/select-arrow.png) right center no-repeat #ffffff;
                    border: 2px solid #cccccc;
                    border-radius: 10px;
                    color: dimgrey;
                }

                td.optionValue select option {
                    color: black;
                }

                td.optionStatus {
                    width: 20px;
                    margin-top: auto;
                    margin-left: 8px;
                    margin-bottom: 15px;
                }

                td.optionStatus span {
                    content: '';

                    &:after {
                        position: relative;
                        top: 8px;
                        left: 0;
                        right: 15px;
                        width: 20px;
                        height: 20px;
                        font-family: 'smc';
                        font-size: 20px;
                        color: #0bdf00;
                    }

                    &:first-child:after {
                        content: '\7a';
                        color: #FF191F;
                    }

                    &:nth-child(2):after {
                        content: '\79';
                    }

                    &:nth-child(3):after {
                        content: '\79';
                    }
                }
            }

            tr.configurationRow {
                margin-top: 5px;

                td.optionLabel {
                    text-align: left;
                    // Workarround for IE11 where label tr do not break in two rows but min with should be > 60px
                    min-width: 65px !important;
                }

                td.optionValue {
                    width: calc(100vw - 60px) !important;
                    .rodEndImageDiv{
                        margin-bottom:20px;
                    }
                }
                @media (min-width: 768px) {
                    td.optionValue {
                        width: calc(100% - 60px) !important;
                    }
                }

                /* Stroke hacks */
                td[align="left"] {
                    height: 54px !important;/*input height(42) + border height(2)*/

                    /* For IE11 Fix */
                    width: calc(100% - 60px) !important; // For IE11 Fix
                    table {
                        width: auto;
                    }
                    /* End IE11 Fix */

                    input {
                        width: 150px !important;
                    }

                    @media (min-width: 768px) {
                        input {
                            width: 450px !important;
                            max-width: none;
                        }
                    }

                    /* Stroke with Select*/
                    [id^="selectBox"] {
                        //width: 95% !important;
                        width: 120% !important;
                        z-index: 2 !important;

                        .selectBoxInput {
                            color: $font-gray !important;
                        }

                        .selectBoxOptionContainer {
                            position: absolute;
                            background: white;
                            border: 2px solid $light-gray;
                            border-radius: 0 0 10px 10px;

                            .selectBoxAnOption {
                                width: 100% !important;
                                padding: 3px;

                                &:hover {
                                    background-color: #5897fb !important;
                                    color: white !important;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                    #selectBox0 {
                        z-index: 9 !important;
                    }
                    #selectBox1 {
                        z-index: 8 !important;
                    }
                    #selectBox2 {
                        z-index: 7 !important;
                    }
                }

                td input:disabled, td select:disabled, td textarea:disabled {
                    color: #ccc !important;
                }

                td input, td select, td textarea {
                    color: $font-gray !important;
                }

                td input[type="radio"], td input[type="checkbox"] {
                    margin: 5px;
                }
                td input[type="checkbox"] {
                    margin-bottom: 1rem;
                }

                /*-- size limit div*/
                td[align="left"] span.small {
                    width: 100%;
                    height: 100%;
                }

                @media (min-width: 992px) {
                    td[align="left"] span.small {
                        line-height: 22px;
                    }
                }
                /* End Stroke */
            }

            tr.builder {
                td.optionStatus span {

                    &:after {
                        top: 0;
                    }
                }

                //#rodend_filter {
                //    display: flex;
                //}

                td.optionLabel {
                    width: 100%;
                }
            }

            //Rod End
            #rodEndModButton {
                display: none;
            }

            @media (min-width: 1400px) {
                #divFormFakeButton {
                    //position: absolute;
                    top: 4rem; //The upper <hr> margin
                    //right: 0;
                    //max-width: 50%;
                    .btn-primary {
                        margin-top: 0;
                        margin-bottom: 1rem;
                    }
                }
            }

            #rodEndOptionsSwitch {
                display: flex;

                .switch {
                    margin-right: 10px;
                }

                .switch-label {
                    margin-top: auto;
                    margin-bottom: auto;
                }
            }

            .rod_sel_images_container {
                padding-top: 10px;
                margin-left: 40px;
            }

            .XRodImage {
                cursor: pointer;
                width: 120px;
            }

            .image_sel_class_ok {
                border: 2px solid #fff !important;
            }

            .image_sel_class_hover {
                border: 2px solid #cfe0ef !important;
            }

            .image_sel_class_selected {
                border: 2px solid $blue !important;
            }

            .image_sel_class_prohibit {
                //display: none;
            }

            #rodEndDefText {
                color: $blue;
            }

            #xRodFormError {
                display: none;
            }

            #xRodFormArea {
                #rodEndDefText {
                    display: block;
                    margin-top: 35px;
                    font-size: 1.2em;
                    font-weight: bold;
                }

                table.builder {
                    //#rodEndStatus {
                    //    display: none;
                    //}

                    > tr:nth-child(2) {
                        display: flex;
                        flex-wrap: wrap;
                    }

                    table.rodEndTable {
                        tr.rodEndRow {
                            td.rodInputLabel,
                            td.rodInputValue,
                            td.formStatusOK,
                            td.formStatusNO_OK,
                            td.rodInputMessage {
                                padding-top: 10px;
                            }

                            td.rodInputValue {
                                padding-left: 10px;

                                input {
                                    width: calc(100vw - 200px);
                                    max-width: 250px;
                                }

                                @media (min-width: 992px) {
                                    input {
                                        width: calc(100vw - 125px);
                                    }
                                }
                            }

                            td.formStatusOK,
                            td.formStatusNO_OK {
                                position: relative;
                                left: 0;
                                right: 15px;
                                width: 20px;
                                height: 20px;
                                font-family: 'smc';
                                font-size: 20px;
                            }

                            td.formStatusOK {
                                &::after {
                                    content: '\79';
                                    color: #0bdf00;
                                }
                            }
                            td.formStatusNO_OK {
                                &::after {
                                    content: '\7a';
                                    color: #FF191F;
                                }
                            }

                            td.rodInputMessage {
                                padding-left: 30px;
                            }
                        }
                    }
                }
            }
            // END Rod End
        }

        .rod_sel_images_container {
            .pickImageLabel {
                display: block;
                margin-top: 35px;
                font-size: 1.2em;
                font-weight: bold;
            }

            .image_sel_class_prohibit {
                display: none;
            }
        }

        #related_products {
            display: none;
        }
    }
}


body.mobile {
    //[SMCD-159]
    .modal {
        -webkit-overflow-scrolling: touch;
    }

    .product-configuration-modal {
        //[SMCD-163]
        width: 100%;
        height: 100%;
        margin: 0;
        top: 0;
        left: 0;
        .modal-body {
            overflow-y: scroll;
            height: 100vh;//[SMCD-163]
        }
    }
    // END [SMCD-159]

    /* Stroke with Select*/
    #selectBox0 {
        width: 100% !important;

        > i {
            position: relative;
            right: -15px;
            float: right;
            top: -25px;
        }
    }

    #selectBoxOptions0 {
        width: 100% !important;
        height: auto !important;
    }
}


@include back-button;

.product-configuration-modal {
    .modal-body {
        height: 85vh;
        height: -webkit-calc(100vh - 205px);
        height: -moz-calc(100vh - 205px);
        height: calc(100vh - 205px);
        padding: 0;
    }
}

@media (min-width: 576px) {
    .modal-xl {
        max-width: 550px;
    }
}

@media (min-width: 800px) {
    .modal-xl {
        max-width: 650px;
    }
}

@media (min-width: 992px) {
    .modal-xl {
        max-width: 800px;
    }
}

@media (min-width: 1100px) {
    .modal-xl {
        max-width: 1060px;
    }
}

table#configuration_area,
#configuration_area tbody,
#rodend_filter .re_filter_label {
    display: block;
}
.productconfigurator-component .configurator-container #configuration_area tr.configurationRow,
.productconfigurator-component .configurator-container #configuration_area tr.builder {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px;
    grid-template-columns: 1fr 20px;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
}
.productconfigurator-component .configurator-container #configuration_area tr.configurationRow td.optionLabel {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
}
.productconfigurator-component .configurator-container #configuration_area tr.configurationRow td.optionValue,
.productconfigurator-component .configurator-container #configuration_area tr.configurationRow td[align="left"] {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    display: inline-block;
}
.productconfigurator-component .configurator-container #configuration_area tr.configurationRow td.optionStatus,
.productconfigurator-component .configurator-container #configuration_area tr.builder td.optionStatus {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
    display: flex;
    margin: 0;
}

.configurationRow + tr:not(.configurationRow):not(.builder),
.configurationRow + tr:not(.configurationRow):not(.builder) > td {
    display: block;
}

.productconfigurator-component .product-info-container table.config td#cpn_partnumber table tr td.partnumber_constant_chain,
.productconfigurator-component .product-info-container table.config td#cpn_partnumber table tr td.partnumber_variable_chain,
.productconfigurator-component .product-info-container table.config td#cpn_partnumber table tr td.partnumber_optdash_chain {
    white-space: nowrap;
}
@media (max-width:450px){
    .productconfigurator-component .product-info-container .dc_partnumberContainer table.config,
    .productconfigurator-component .product-info-container .dc_partnumberContainer table.config tbody,
    .productconfigurator-component .product-info-container .dc_partnumberContainer table.config table,
    .productconfigurator-component .product-info-container .dc_partnumberContainer table.config tr,
    .productconfigurator-component .product-info-container .dc_partnumberContainer table.config td {
        max-width: 100%;
    }
}

.productconfigurator-component .product-info-container table.config,
.productconfigurator-component .product-info-container table.config tbody,
.productconfigurator-component .product-info-container table.config table,
.productconfigurator-component .product-info-container table.config tr,
.productconfigurator-component .product-info-container table.config td {
    display: block;
}


@media (-ms-high-contrast:none), (-ms-high-contrast:active) {
    .productconfigurator-component .product-info-container table.config td#cpn_partnumber,
    .productconfigurator-component .product-info-container table.config td#cpn_state {
        display: inline-block;
    }
    .productconfigurator-component .product-info-container table.config td#cpn_partnumber {
        max-width: 100%;
    }
}

.productconfigurator-component .product-info-container table.config tr {
    display: flex;
}

@media (-ms-high-contrast:none), (-ms-high-contrast:active) {
    .productconfigurator-component .product-info-container table.config tr {
        display: block;
    }
}

.product-toolbar-content-js{
    .aument-preview-icon {
        position: relative;
        z-index: 9;
        float: right;
        margin-right: 1rem;
        margin-top: 1rem;
        background-size: 32px;
        width: 44px;
        height: 44px;
        background-position: 50%,50%;
        background-repeat: no-repeat;
        background-color:
                hsla(0,0%,100%,.5);
        box-shadow: 0 2px 10px 0
        rgba(0,0,0,.16),0 2px 5px 0 rgba(0,0,0,.26);
        border-radius: 50%;
        padding-top: 10px;
        padding-left: 14px;
        color: #999;
    }
}

.icon-container-hto {
    font-size: 25px;
}

//#series-configurator-taco{
#copyToClipBoard_btn {
    margin-left: 10px;
    .btn-secondary {
        padding: 6px 8px;
        border-radius: 6px;
    }
}
//}

@media (max-width: 479px) {
    #copyToClipBoard_btn {
        margin-left: 0px;
    }
}

#configuration_area .selectBox {
    z-index: 1!important;
}

@media (-ms-high-contrast:none), (-ms-high-contrast:active) {
    @media (max-width: 991px) {
        .productconfigurator-component .product-info-container table.config tr {
            display: block;
        }
    }
}

.configurator-container {
    #configuration_area {
        .smc-select--radios__option__label {
            display: flex;
            align-items: center;
            .option__image {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                margin-left: 10px;
                min-width: 80px;
                width: 80px;
                min-height: 80px;
                height: 80px;
                & img {
                    background-color: white;
                    max-width: 100%;
                    width: auto;
                    max-height: 100%;
                }
            }
            .option__name {
                margin-left: 10px;
            }

        }   
    }
}
//Series techSpecs for CFG
#series-techspecs .sub-title {
    cursor: pointer;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

#tech_specs_list .detail-table .detail-register {
    .attribute-name {
        padding-left: 40px;
        flex-basis: 55%;
    }

    .attribute-value {
        padding-right: 40px;
        flex-basis: 45%;
    }
}

#tech_specs_list .detail-table .detail-register:nth-child(even) {
    background-color: rgba(230, 230, 230, .25);
}

#tech_specs_list .detail-table .attribute-list-row.detail-register .attribute-name {
    flex: 1 0 auto;
}

#tech_specs_list .detail-table .attribute-list-row.detail-register .attribute-value {
    width: 33%;
}

.tech_specs_area h3.sub-title {
    margin-bottom: 0;
}