.product-details-modal .modal-body,
.accessories-details-modal .modal-body,
.pdm__title_wrapper,
.pdm__info_wrapper {
  display: block;
}

.pdm__image_wrapper img{
  width: 100%;
  height: auto;
}
.pdm__info_wrapper {
  padding: 15px;
}

/** Tabla detail **/
.detail-table {
  padding-top: 20px;
  padding-bottom: 10px;
}
.detail-table .detail-register {
  display: flex;
}
.detail-table .detail-register:nth-child(even) {
  background-color: #eee;
}
.detail-table .detail-register [class*="key-text"] {
  padding-top: 6px;
  padding-bottom: 6px;
}
.detail-table .detail-register .key-text {
  flex: 1 0 35%;
  font-weight: 600;
  color: #aaaaaa;
}
.detail-table .detail-register .key-text-value {
  flex: 1 0 65%;
  font-weight: 600;
}
/****/

.pdm__toolbars_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  .product-toolbar-component {
    margin-bottom: 10px;
  }
}

.pdm__toolbars_wrapper video{
  width: 100%;
}
.pdm__toolbars_wrapper .product-toolbar-component {
  max-width: 90%;
}

.pdm__toolbars_wrapper .product-toolbar-content-js.opened {
  margin-left: 0;
  width: 100%;
}

@media (min-width:768px) {
  .pdm__toolbars_wrapper .product-toolbar-component {
    max-width: 500px;
  }
}

.pdm__image_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  .image {
    max-width: 200px;
  }
}

@media (min-width:992px) {
  .product-details-modal .modal-body, .accessories-details-modal .modal-body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 250px 1fr;
    grid-template-columns: 250px 1fr;
    -ms-grid-rows: max-content auto auto;
    grid-template-rows: max-content auto auto;
  }
  .pdm__image_wrapper {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .pdm__title_wrapper {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
    padding-left: 15px;
    padding-right: 15px;
  }
  .pdm__info_wrapper {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .pdm__toolbars_wrapper {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 3;
    grid-row: 3;
    display: flex;
    flex-wrap: wrap;
  }

  .pdm__toolbars_wrapper video {
    max-width: 500px;
  }
}
@media (min-width:1200px) {
  .product-details-modal .modal-body, .accessories-details-modal .modal-body {
    -ms-grid-columns: 250px 1fr 30%;
    grid-template-columns: 250px 1fr 30%;
    -ms-grid-rows: max-content auto;
    grid-template-rows: max-content auto;
  }
  .pdm__title_wrapper {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .pdm__image_wrapper {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .pdm__info_wrapper {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .pdm__toolbars_wrapper {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / span 2;
  }

  .pdm__toolbars_wrapper video {
    max-width: 500px;
  }

}