@import "../../colors";

.productconfigurator-component {
  .product-sibling-list {
    display: flex;
    flex-wrap: wrap;

    .product-sibling {
      width: 100%;
      //flex: 0 50%;
      margin-top: 5px;

      &.current-product {
        a {
          background-color: $blue;
          color: white;
        }
      }

      a {
        overflow-wrap: break-word;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
      }
    }

    @media (min-width: 1024px) and (max-width: 1199px) {
      .product-sibling {
        width: 45%;
        margin: 5px;
      }
    }

    @media (min-width: 1200px) {
      .product-sibling {
        width: 49%;
        margin: 5px;
      }
    }
  }
}