@import "../../colors";
@import "../../mixins";
@import "../../smc-tabs";

.productconfigurator-component {
  .project-section-block {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .project-section {
    width: 100%;
    margin: 15px 0;
    padding: 0;
    padding-left:5px;
    border-radius: 10px;
    border: 2px solid $blue;

    @include attribute-list;
    @include smc-tabs;

    #project-section-container {
      #project-section-tabs {
        justify-content: normal;

        &::after {
          position: relative;
          top: 4px;
          left: -8px;
          background: linear-gradient(to right, $blue, rgba(0, 116, 190, 0));
        }

      }

      a {
        font-weight: normal;
      }
    }

    .tab-content {
      margin: 0;

      .tab-pane {
        margin: 20px 0;
      }
    }

    .product-toolbar-component-simple-tools {
      .list-items {
        a {
          justify-content: normal;
          font-weight: normal;
          margin-left: 10px;

          span {
            width: 130px;
          }

          i {
            margin-left: 8px;
          }
        }
      }
    }
  }
}

.popover.customer-contact-popover {
  min-width: 200px;
  border: 2px solid $blue;

  .heading {
    color: $blue;
    margin-bottom: 10px;

    &::after {
      content: '';
      width: 100%;
      position: absolute;
      height: 2px;
      background: linear-gradient(to right, $blue, rgba(0, 116, 190, 0));
      top: 30px;
      left: 0;
    }

    .popover-header {
      background-color: transparent;
      border-bottom: none;
    }

    .close-btn-js {
      width: 17px;
      height: 17px;
      position: absolute;
      top: 7px;
      right: 7px;
      text-align: center;
      cursor: pointer;
    }
  }

  .list-items {
    .customer-contact-item {
      margin-bottom: 10px;

      .name {
        color: $blue;
      }

      .name,
      .remove-contact-btn {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
