@import '../../_colors.scss';

.productconfigurator-component {
    .smc-select {
        width: 70%;// [NP-34]
    }

    .select2 .select2-selection {
        width: 100%;
        padding: 5px 50px 5px 20px;
        background-color: #fff;
        font-size: 16px;
        line-height: normal;
        font-family: "Montserrat", sans-serif;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        display: inline-block;
        outline: 0;
        box-sizing: border-box;
        height: 42px;
        border: 2px solid #cccccc;
        border-radius: 10px;
    }

    .select2-container--default {
        &.select2-container--open .select2-selection--single .select2-selection__arrow b {
            border-color: transparent transparent $blue transparent;
        }

        .select2-selection--single .select2-selection__arrow {
            height: 100%;
            width: 35px;
            /*background: url(../images/select-arrow.png) right center no-repeat #ffffff;*/
        }

        .select2-selection--single .select2-selection__arrow b {
            border-color: $blue transparent transparent transparent;
        }
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: $font-gray;
        padding-left: 0;

        /* [NP-34] */
        div {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 110px;

            @media (min-width: 576px) {
                max-width: 180px;
            }
            @media (min-width: 992px) {
                max-width: 230px;
            }
            @media (min-width: 1280px) {
                max-width: 300px;
            }
            @media (min-width: 1350px) {
                max-width: 380px;
            }
        }
        /* END [NP-34] */
    }
    .select2-container--default .select2-selection--single .select2-selection__placeholder {
        font-style: italic;
    }
}

//Featured Options
.select2-dropdown.smc-select {
    .select2-results {
        //The group container
        .select2-results__option[role="group"] {
            margin: 0 5px;
            border-bottom: 1px solid $light-gray;

            //The group title
            .select2-results__group {
                margin-left: -5px;
                padding-bottom: 0;
                font-weight: normal;
                font-size: 0.9em;
                color: $gray;
            }

            //The options inside the group
            .select2-results__options--nested {
                .select2-results__option {
                    color: $blue;

                    .image-star {
                        &:before {
                            background: url("../../../../images/star-full-blue.svg") center no-repeat transparent;
                        }
                        background-image: url("../../../../images/star-full-blue.svg");
                    }
                }

                .select2-results__option--highlighted {
                    color: white;

                    .image-star {
                        &:before {
                            background: url("../../../../images/star-full-white.svg") center no-repeat transparent;
                        }
                        background-image: url("../../../../images/star-full-white.svg");
                    }
                }
            }
        }
    }
}
