@import "../../colors";
@import "../../mixins";

.productconfigurator-component {
  .spares-accessories-container {
    width: 100%;

    .pagination_showing {
      font-family: "Montserrat", sans-serif;

      .changelen.active {
        color: $font-gray;
        text-decoration: none;
        cursor: none;
        pointer-events: none;

        &:hover {
          text-decoration: none;
          cursor: none;
          pointer-events: none;
        }
      }
    }

    .sub-title {
      font-weight: bold;
    }

    .spare-accessory-item {

      .image-icon {
        background: url(../../../../images/picture_btn.gif) center no-repeat #ffffff;
        background-size: 16px 16px;

        &:hover {
          cursor: pointer;
        }

        &:hover + .image-thumbnail {
          display: block;
        }
      }

      .image-thumbnail {
        position: absolute;
        left: -80px;
        top: -5px;
        display: none;
      }
    }
  }
  #free_configuration_spares_container {
    width: 100%;
    .related-products-result-container {
      width: 100%;
    }
  }
}
