@import '../_colors.scss';

.product-catalogue {
  .product-catalogue-item {
    box-shadow: 0 0 0 2px $blue inset;
  }

  .product-catalogue-item a {
    width: 100%;
  }

  .product-catalogue-item__title span {
    margin-right: 0.5rem;
  }
}

@media (min-width: 1200px) {
  .product-catalogue-item:hover {
    transform: scale(1.1);
    z-index: 2;
  }
}

@media (min-width: 992px) {
  .product-catalogue {
    .product-catalogue-item {
      transition: all .15s ease-in-out;
      display: flex;

      .product-catalogue-item__title {
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
        vertical-align: middle;
        flex-wrap: wrap;
        min-height: 80px;
        word-break: break-all;
        padding-left: 0px;
      }

      .product-catalogue-item__title .heading-09 {
        line-height: 23px;
      }

      .product-catalogue-item__image {
        margin-top: auto;
        margin-bottom: auto;
      }
    }
    .product-catalogue-tile-container {
      height:100%;
    }
  }
}

.pagination-container{
  display: flex;
  .pagination{
    margin-top: 1rem;
    margin-left:auto;
    margin-right: auto;
    li {
      font-weight: bold;
      color: #0056b3;
      margin-left:1rem;
      &.active a{
        color: #4D4D4D;
      }
    }
  }
}

.manual-pagination-container {
  margin-bottom:1rem;
  [class^="icon-pagination"], [class*=" icon-pagination"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'smc' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .icon-pagination-single-right:before{
    content: "\73";
  }

  .icon-pagination-single-left:before{
    content: "\74";
  }

  .icon-pagination-double-right:before{
    content: "\75";
  }

  .icon-pagination-double-left:before{
    content: "\76";
  }
  .pagination_showing {
      font-weight: bold;
  }
}

#manual-search-container {
    #query {
      border-radius: 10px;
      border: solid 2px #0074BE;
      background: #FFFFFF;
      padding-right: 40px;
    }
    .icon-search {
      color: #0074BE;
      cursor: pointer;
      font-size: 20px;
      position: relative;
      right: 30px;
      z-index: 5;
      top: 14px;
    }
}

#manualsListForm {
  .search-query {
    color: #0074BE;
    font-weight: 600;
  }
}