/* Category page styles */
.category-spinner-container {
  display: none;
  position: absolute;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
}

.psearch-no-results {
  display: none;
}

#smc-psearch select > option {
  color: #000;
}

.select2-container--default .select2-results__options .select2-results__option[aria-disabled=true] {
  color: #FF191F;
}

#dc_products {
  &.loading {
    opacity: 0.6;
    pointer-events: none;
  }

  &.loading + .category-spinner-container {
    display: block;
  }

  .dc_product_children {
    display: none;
  }
}
/* END Category page styles */

#smc-psearch {
  .filters-categories {
    padding: 0 0 0 0;
  }

  .boxTitle {
    background: url(images/psearch-arrow-up.png) no-repeat right center;
    width: 100%;
    display: block;
    margin-top: 7px;
  }

  .boxTitle.close {
    background: url(images/psearch-arrow-down.png) no-repeat right center;
  }

  .psearch-loading {
    margin-top: 10px
  }

  .psearch-no-results {
    margin-top: 20px !important;
    width: 100%;
  }

  .psearch-no-results span {
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
  }

  .bloque-formu {
    float: left;
    width: 100%;
    margin-top: 13px;
    padding: 0 2.8%;
  }

  .boxTitle img {
    float: right;
    margin-top: 2px;
  }

  label {
    font-weight: bold;
    color: #000;
    display: block;

  }

  label.disabled {
    font-weight: bold;
    color: #AAA;
    display: block;

  }

  .label {
    font-weight: bold;
    color: #000;
    display: block;
    margin-bottom: 5px;
  }

  .combobox {
    width: 100%;
    margin-top: 3px;
  }

  .combobox2 {
    //width: 48%;
    //float: left;
    margin-top: 3px;
  }

  .combobox2 + .combobox2 {
    //margin-left: 4%;
    margin-top: 3px;
  }

  select {
    width: 100%;
    padding: 5px 40px 5px 20px;
    background-color: #fff;
    font-size: 16px;
    line-height: normal;
    font-family: "Montserrat", sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: inline-block;
    outline: 0;
    box-sizing: border-box;
    color: #333;
    font-weight: 700;
    height: 42px;
    border: 2px solid #cccccc;
    border-radius: 10px;

    background-image:
            linear-gradient(45deg, transparent 50%, rgb(0, 116, 190) 50%),
            linear-gradient(135deg, rgb(0, 116, 190) 50%, transparent 50%);
    background-position:
            calc(100% - 20px) calc(1em + 2px),
            calc(100% - 15px) calc(1em + 2px),
            calc(100% - 2.5em) 0.5em;
    background-size:
            5px 4px, 6px 4px, 2px 1.2em;
    background-repeat: no-repeat;
  }

  select:focus {
    background-image:
            linear-gradient(45deg, rgb(0, 116, 190) 50%, transparent 50%),
            linear-gradient(135deg, transparent 50%,rgb(0, 116, 190) 50%);
    background-position:
            calc(100% - 15px) 1em,
            calc(100% - 20px) 1em,
            calc(100% - 2.5em) 0.5em;
    background-size:
            5px 4px, 6px 4px, 2px 1.2em;
    background-repeat: no-repeat;
    outline: 0;
  }

  .from-to-label {
    font-weight: bold;
    margin-top: 5px;
    font-size: 15px;
  }

  .combobox2 {
    select {
      margin-left: 2px;
    }

  }
  .radios {
    margin-top: 5px;
  }

  .radios .col-3 {
    width: 33%;
    float: left;
  }

  .radios .col-2 {
    width: 50%;
    float: left;
  }

  .radios label {
    display: table-cell;
    font-weight: normal;
    vertical-align: text-top;
    cursor: pointer;
    width: 163px;
    font-size: 15px;
  }

  .radios input {
    border: 1px solid #9E9E9E;
    background-color: #F3F3F3;
    height: 18px;
    margin-top: 6px;
  }

  .botonera {
    text-align: right;
  }

  .botonera input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .botonera input:hover{
    box-shadow: none;
  }

  .botonera-classic input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    border: 1px solid #9E9E9E;
    background-color: #F3F3F3;
    color: #000;
    margin-left: 2px;
    width: 88px;
  }

  .botonera-classic input:active {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    border: 1px solid #9E9E9E;
    background-color: #9E9E9E;
    color: #000;
    margin-left: 2px;
    width: 88px;
  }

  input {
    cursor: pointer;
  }

  input.search {
    background: #3270b7
  }

  input.search:active {
    background: #264884
  }

  /** Slider **/

  .psearch-slider {
    margin: 10px 5px;
  }

  .ui-slider-range {
    background: #d6d6d6;
  }

  .ui-state-default.value-selected, .ui-widget-content .ui-state-default.value-selected, .ui-widget-header .ui-state-default.value-selected {
    background: #2471B7 !important;
  }

  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #EEE !important;
    border-radius: 100%;
    border-color: #CCC;
    cursor: pointer;
    top: -0.43em;
    -webkit-box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.35);
    -moz-box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.35);
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.35);
  }

  a.ui-slider-handle.ui-state-default.ui-corner-all:focus {
    outline: none;
  }

  .ui-slider-horizontal {
    height: .3em !important;
    background: #f4f4f4 !important;
    border: none !important;
  }

  .ui-slider .ui-slider-handle {
    width: 1em !important;
    height: 1em !important;
  }

  .valores {
    margin-top: 22px;
    float: left;
    width: 100%;
  }

  .val-min {
    border: none;
    float: left;
    width: 80px;
    font-size: 8pt;
    background: transparent;
  }

  .val-max {
    border: none;
    float: right;
    text-align: right;
    width: 80px;
    font-size: 8pt;
    background: transparent;
  }
  .val-min,
  .val-max {
    padding: .5rem .75rem;
    background-color: white;
    //line-height: normal;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    color: #aaaaaa;
    font-weight: 700;
    height: 42px;
    border: 2px solid #cccccc;
    border-radius: 10px;
    font-size: 14px;
    width: 35%;
  }

  .valores .val-min.value-selected{
    color: #333;
  }
  .valores .val-max.value-selected{
    color: #333;
  }

  .psearch-select-element {
    clear: both;
  }

  .psearch-select-checkbox {
    float: left;
    width: 10%;
  }

  .psearch-select-label {
    float: left;
    width: 88%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
  }

  .dc_products {
    position: relative;
  }

  .psearch-searching-container {
    position: absolute;
    background-color: #F4F4F4;
    opacity: 0.2;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: none;
  }

  .psearch-searching {
    top: 45%;
    left: 45%;
    position: absolute;

  }
}

#smc-psearch select > option {
  color: #333;
}
#smc-psearch select[data-value="-1"],
#smc-psearch select > option[value="-1"]  {
  color: #aaaaaa;
}

#searchParamsBox select option[data-default="disabled"] {
  color: #aaa;
}

#searchParamsBox{
  .select2-container{
    .noactive{
      border: 2px solid #ccc;
    }
  }
  .noactive_text{
    color: #ccc;
    border:none;
  }
  .psearch-searching-container {
    position: absolute;
    background-color: #F4F4F4;
    opacity: 0.2;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: none;
  }
}

.productconfigurator__section{
  .justify-content-between p{
    margin-top: 10px;
  }
  .justify-content-between .reset-label {
    margin-right: 5px;
  }
}