@media (min-width: 576px) {
    /* body {
        border:10px solid red;
    } */
}
@media (min-width: 768px) {
    /* body {
        border:10px solid blue;
    } */
}
@media (min-width: 992px) {
    /* body {
        border:10px solid green;
    } */
    nav.navbar.navbar-expand-lg.navbar-light.bg-light {
        display: none;
    }
}
@media (min-width: 1200px) {
    /* body {
        border:10px solid purple;
    } */
}

@media (min-width: 992px) and (max-width: 1199px) {
    /* body {
        border:10px solid orange;
    } */


    .row-workspace-apps .col-item-app {
        min-width: auto; 
    }


}

@media (max-width: 575px) {
    .container {
        max-width: 100%;
        padding:0;
    }

    .workspace-filters-items .bloqueInfo {
        width: calc(100% / 2) !important;
        }

      .workspace-app-name h1 {
            color: #0074be !important;
            margin-bottom: 0;
            padding-left: 15px;
        }   



}
@media (max-width: 350px) {
    /* body {
        border:10px solid orangered;
    } */
}
@media (max-width: 767px) {

    .workspace-apps-selector {
        height: 100%;
        width: 100%;
        border:0;
        border-top: 2px solid #0074be;
        border-radius: 0;
        top: 60px;
        right: 0;
        margin: 0 auto;
        padding:1em 0;
        box-shadow:none;
        max-width: 100%;
        /*z-index: 8888;*/
    }    
      .workspace-apps-selector .row-workspace-apps {
        height: 85%;
        overflow-y: visible;
        overflow-x: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
      }
      .workspace-apps-selector .row-workspace-apps::-webkit-scrollbar {
        display: none;
      }

      .workspace-apps-selector ul {
        margin: 0px;
        list-style: none;
        padding-left: 0;
        min-height: initial;
    }
   
 
    .row-workspace-apps {
        padding:0.5em 0.5em 2em;
        display: flex;
        flex-flow:column;
    }
    
    .row-workspace-apps .col-item-app {
        border-right: 0;
        flex-grow: 1;
        min-width: auto;
        border-bottom: 1px solid #999;
        margin-bottom: 1.5em;
        }
        .row-workspace-apps .col-item-app:last-child {
            border-right:0;
            border-bottom: 0;
            margin-bottom: 0.5em;
        }   
        .row-workspace-apps .col-item-app .tooltip {
            z-index:9999;
        } 
   
    #global-nav.workspace-global-nav {
        display: none;
    }

    .workspace-app-name {
        display: block;
        }
        section#instance-tabs .container {
            padding:0.5em 0 !important;
            margin: 0.7em auto 1.5em;
            border-top:1px solid #d6d6d6;
            border-bottom:1px solid #d6d6d6;
        }
    .workspace-instance-tabs .flex-container .flex-item {
        background:#fff;
        border-bottom: 1px solid #0074be;
    }
    .instances.flex-item {
        width: 80%;
    }
    .list-instances {
        width: 20%;
    }
    .instance-overlay {
        display: none;
    }
    
        .item-tab {
            display: none;
        }
        .item-tab-active {
            display: flex;
            border-bottom: 0;
            width: 100%;
        }  
        .item-tab-active h2 {
            color: #0074be;
            font-size: 22px;
            font-weight: 700;
        } 

    .workspace-filters-items .bloqueInfo {
        width: calc(100% / 2) !important;
        }


}
@media (max-width: 991px) {

    .row-workspace-apps .col-item-app {
        min-width: auto; 
    }

    .workspace-instance-tabs .flex-container {
        display:none;
    }
    .workspace-apps-selector {
        width: 100%;
    }

    .workspace-filters-items .bloqueInfo {
        width: calc(100% / 3);
    }

}