#interactive.viewport {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: center;
}

#interactive.viewport > canvas, #interactive.viewport > video {
    max-width: 100%;
    width: 100%;
}

canvas.drawing, canvas.drawingBuffer {
    position: absolute;
    left: 0;
    top: 0;
}

.divider-r-vertical{
    border-right: none;
}
.overlay_:before {
    position: relative;
    content: "";
    width: 30px;
    height: 30px;
    top: -66px;
    left: -5px;
    z-index: 60;
    border-left: 2px solid red;
    border-top: 2px solid red;
  }
  .overlay_:after {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    right: -2px;
    bottom: -2px;
    z-index:-1;
    border-right: 2px solid red;
    border-bottom: 2px solid red;
  }

video {
    position: absolute;
    top: 100px;
    width: 94%;
    height: 50%;
    left: 3%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
       border-radius: 1rem;
       border: 2px solid #0074be;
  }
  #video{
    border: 2px solid #0074be;  
  }
  
  .overlay {
    min-height: 28vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .overlay span {
    background: #ff0000 none repeat scroll 0 0;
    color: #ff0000;
    font-weight: 600;
    margin: 0rem 0rem 0;
    mix-blend-mode: overlay;
    padding: 1px 12px;
    text-align: center;
    width: 100%;
  }
@media (min-width: 576px) {
    .modal-dialog {
        max-width:none;
        margin: 30px 10%;
    }
    
}

@media (max-width: 991px) {
    .divider{
        height: 2px;
        background-color: #cccccc;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 991px) {
    
}

@media (min-width: 1200px) {
    .divider-r-vertical{
        border-right: 2px solid rgb(204, 204, 204);
    }
   
}

.modal-footer {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding: 15px;
    border-top: 1px solid #e9ecef;
}