@import '../_colors';
@import '../mixins';
$borderSize: 2px;

//[SMCD-159]
body.mobile {
    .modal {
        -webkit-overflow-scrolling: touch;
    }

    .ask-smc-modal {
        //[SMCD-163]
        width: 100%;
        height: 100%;
        margin: 0;
        top: 0;
        left: 0;
        .modal-body {
            overflow-y: scroll;
            height: 100vh;//[SMCD-163]
        }
    }
}
// END [SMCD-159]

.full-screen {
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
}
.serie-heading .product-toolbar-component-simple {
    height: auto !important;
}

.product-toolbar-component {
    width: 100%;
    font-size: 1rem;
    .product-toolbar-item__content {
        color: $blue;
    }

    .heading-07,
    .product-toolbar-description {
        margin-bottom: 0;
        color: $font-gray;
    }

    //[SMCD-162]
    .empty-list > li {
        margin-bottom: 0;
    }

    .list-items {
        a:hover {
            color: $dark-blue;
            text-decoration: none;
        }

        a.iconed-text {
            padding: 8px 4px 8px 0;

            .loading-container {
                .spinner {
                    font-family: initial;
                    width: 30px;
                    margin: 0;

                    > div {
                        width: 7px;
                        height: 7px;
                    }
                }

                &::before {
                    content: '';
                    display: block;
                }
            }
        }

        a.disabled,
        a:disabled,
        a[disabled] {
            color: $font-gray;
            cursor: pointer;
            pointer-events: none;

            &:hover {
                text-decoration: none;
            }
        }

        .product-toolbar-menu-item {
            line-height: 1;
        }

        .preview-3d-title .product-toolbar-menu-item {
            height: 30px;
            line-height: 30px;
        }

        .product-toolbar-subtitle {
            color: $font-gray;
            font-weight: 600;
        }
    }

    .close-btn {
        width: 17px;
        height: 17px;
        position: absolute;
        top: 13px;
        right: 7px;
        text-align: center;
        cursor: pointer;
    }

    .feature-catalogues-additional-content,
    .technical-documentation-additional-content,
    .additional-content-additional-content {
        display: none;
        position: relative;

        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .heading {
            display: none;
        }

        .product-toolbar-item__content {
            .content-item {
                padding: 8px;

                .list-items {
                    padding: 0 8px 8px 8px;

                    .technical-document-item span {
                        margin-right: 5px;
                    }
                }
            }

            box-shadow: none;
        }

        .loading-container-js {
            display: inline-block;

            .spinner{
                margin: 0;
            }
        }

        @media (min-width: 992px) {
            position: absolute;
            z-index: 1;

            .heading {
                display: block;
            }

            .product-toolbar-item__content {
                .list-items {
                    padding: 8px;
                }
            }
        }
    }

    .no-preview-3D-message {
        text-align: center;
        position: absolute;
        top: 50%;
        margin: 0 auto;
        width: 100%;
    }

    a.no-preview-3D-message {
        background-image: url("../../../images/preview-3d.png");
        top: 0;
        width: 100%;
        height: 100%;
        background-size: 100%;
        padding-top: 35%;
    }
}

.product-toolbar-component-dropdown-plain,
.product-toolbar-component-dropdown-category-item,
.product-toolbar-component-simple,
.product-toolbar-component-simple-description,
.product-toolbar-component-3d-preview {
    .product-toolbar-item__content {
        padding: 0;

        .heading {
            position: relative;
            padding: 8px;
        }

        .heading::after {
            content: '';
            width: 100%;
            position: absolute;
            height: 2px;
            background: linear-gradient(to right, $blue, rgba(0, 116, 190, 0));
            bottom: 0;
            left: 0;
        }

        .product-toolbar-description {
            padding: 8px;
        }

        .list-items {
            padding: 8px;

            li.opened {
                .additional-content-dropdown {
                    .icon-arrow-right {
                        @include rotate-90();
                    }
                }
            }
        }
    }
}

.product-toolbar-component-dropdown-plain,
.product-toolbar-component-dropdown-category-item {
    .product-toolbar-item {
        position: relative;
    }

    .product-toolbar-item__content {
        display: none;
        position: absolute;
        top: 0;
        left: 0;

        .heading::after {
            position: absolute;
            bottom: 0;
            left: 0;
            content: '';
            width: 100%;
            height: 2px;
            background: linear-gradient(to right, #0074be, rgba(0, 116, 190, 0));
        }
    }

    .product-toolbar-item__content:not(.feature-catalogues-template-content):not(.technical-documentation-template-content) {
        width: 100%;
        background: #FFFFFF;
        border: $borderSize solid $blue;
        border-radius: 10px;
        z-index: 48;
    }

    .product-toolbar-item__content.feature-catalogues-template-content,
    .product-toolbar-item__content.technical-documentation-template-content {
        position: relative;
    }

    @media (min-width: 992px) {
        .product-toolbar-item__content.feature-catalogues-template-content,
        .product-toolbar-item__content.technical-documentation-template-content {
            position: relative;
            width: 100%;
            width: -webkit-calc(100% + (#{$borderSize} * 2));
            width: -moz-calc(100% + (#{$borderSize} * 2));
            width: calc(100% + (#{$borderSize} * 2));
            background: #FFFFFF;
            border: $borderSize solid $blue;
            border-radius: 10px;
            z-index: 52;
            margin: -2px;
        }
    }
}

.product-toolbar-component-simple,
.product-toolbar-component-simple-description,
.product-toolbar-component-3d-preview {
    @media (min-width: 992px) {
        .product-toolbar-item {
            /*position: relative;*/
            z-index: 21;
        }

        .product-toolbar-item__content {
            width: 100%;
            background: #FFFFFF;
            box-shadow: none;
            border: $borderSize solid $blue;
            border-radius: 10px;
            z-index: 50;
        }

        .product-toolbar-item__content.no-title {
            width: 100%;
            background: transparent;
            border: $borderSize solid transparent;
            border-radius: 0;
        }


    }
}

.product-toolbar-component-3d-preview {
    .preview-3d-title {
        span {
            color: $font-gray;
            font-weight: bold;
            padding: 4px 4px 4px 0;
            display: block;
        }
    }

    .preview-3d-iframe, .preview-3d-iframe-disabled, .modal-details-preview-3d-iframe {
        position: relative;
        width: 100%;
        padding-bottom: 75%;

        .spinner {
            position: absolute;
            width: 100%;
            height: 100%;
            margin: 0;
            top: 50%;
        }

        iframe {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
}

.product-toolbar-component-dropdown-category-item {
    .product-toolbar-item {
        margin: -$borderSize;

        .category-footer {
            height: 50px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
        }
    }

    @media (min-width: 992px) {
        .product-toolbar-item__content {
            box-shadow: 0 0 20px 0 $dark-blue;
        }
    }
}

.ask-smc-modal {
    .modal-body {
        height: 85vh;
        height: -webkit-calc(100vh - 120px);
        height: -moz-calc(100vh - 120px);
        height: calc(100vh - 120px);
    }
}

.preview-3d-modal {
    .modal-body {
        height: 70vh;
        height: -webkit-calc(100vh - 205px);
        height: -moz-calc(100vh - 205px);
        height: calc(100vh - 205px);
    }
}

.cad-download-modal {
    .modal-body {
        height: 85vh;
        height: -webkit-calc(100vh - 120px);
        height: -moz-calc(100vh - 120px);
        height: calc(100vh - 120px);
    }
}

.video-modal {
    .image,
    .description {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    video {
        width: 100%;
        height: 100%;
        width: -webkit-calc(100% - 30px);
        width: -moz-calc(100% - 30px);
        width: calc(100% - 30px);
        height: -webkit-calc(100% - 30px);
        height: -moz-calc(100% - 30px);
        height: calc(100% - 30px);
        margin: 0 15px;
    }
}

/* Digital catalog */
.dc_product, .dc_product_children, .product-item {
    .category-tile__footer {
        padding: 15px;
    }

    @media (min-width: 768px) {
        .category-tile__footer {
           // padding: 20px;
        }

        .category-tile__footer {
            padding: 40px 20px;
        }
    }
}

/* Category component Styles */
.category-tile-wrapper.category-tile-product-toolbar-opened {
    .category-tile {
        overflow: visible;
        z-index: 21;

        .category-tile__footer {
            padding: 40px 0;

            .list-items li a span,
            .product-toolbar-subtitle,
            .no-results-js span {
                font-weight: normal;
            }
        }
    }
}

.category-tile-wrapper.category-tile-product-toolbar-opened:not(.category-tile--active) {
    .category-tile {
        .category-tile__text__inner {
            max-height: 115px;
            overflow: hidden;
        }
    }
}

span.category-tile__footer__mailIcon.show-ask-smc > a {
    font-size: 1rem;
    display: flex;
    align-items: center;
}

span.category-tile__footer__mailIcon.show-ask-smc > a .show-ask-smc__anchor-text {
    margin-left: 4px;
    margin-bottom: 4px;
}
/* END Category component Styles */

.product-toolbar-item__content .multilingual-documents-template-content .content-body,
.product-toolbar-item__content .technical-documentation-template-content .content-body,
.feature-catalogues-additional-content .feature-catalogues-template-content .content-body,
.additional-content-additional-content .content-body,
.product-toolbar-item__content .product-toolbar-component-dropdown-plain .product-toolbar-item__content .list-items {
    overflow-y: auto;
    max-height: 180px;
}
.product-toolbar-item__content .technical-documentation-template-content .content-body {
    max-height: 210px;
}
.product-toolbar-item__content .product-toolbar-component-dropdown-plain .product-toolbar-item__content .list-items {
    max-height: 160px;
}

#_showDetailsModal{
    .feature-catalogues-additional-content, .technical-documentation-additional-content, .additional-content-additional-content {
        top: auto;
        width: 85%;
        margin-left: 50px;
    }
    
    .aument-preview-link{
        display: none;
    }
}

.additional-content-additional-content .product-toolbar-info, .additional-content .disabled-link{
    color: #4d4d4d;
}

.additional-content .product-toolbar-item {
    padding: 8px;
}


.product-video {
    margin-top: 5px;
}

#pitw-wrapper {
    .simple-collapse.simple-collapse--generic>.simple-collapse__head {
        opacity: 1;
    }
    .ce-certificates {
        .product-toolbar-subtitle {
            font-size: 14px;
        }
    }
    .empty-list {
        padding-top: 0px;
        padding-left: 8px;
    }

    .instructions-maintenance, .operation-manuals, .ce-certificates{
        span {
            color: #0074be;
            font-size: 14px;
        }
    }
}
//Catalogues
#ssi-container .features-catalog-title,
#pitw-wrapper .features-catalog-title {
    font-size: 14px;
    line-height: 19px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #0074be;
    opacity: 1;
}

#pitw-wrapper .show-feature-catalogues.iconed-text {
    padding-bottom: 0;
}


#producttoolbar_related_information_header .series-catalogues-change-language-js {
    padding: 8px;
}

@media (min-width: 992px) {

    #producttoolbar_related_information_header .product-toolbar-item {
        position: relative;
    }

    .dc-navigation-page .product__related_information .simple-collapse.simple-collapse--generic > .simple-collapse__head h2, .dc-navigation-page .product__related_information .filters-wrapper .simple-collapse.simple-collapse--generic.active > .simple-collapse__head h2, .dc-navigation-page .product__related_information .filters-categories__item__level2, .dc-navigation-page .product__related_information .filters-categories__item__level2 > li {
        position: inherit !important;
    }

    #producttoolbar_related_information_header .simple-collapse {
        position: inherit;
    }

    //#producttoolbar_related_information_header .product-toolbar-item__content {
    //    position: absolute;
    //}

    .series-catalogues-additional-content {
        margin: -3px;
        width: 103% !important;
    }
}

#producttoolbar_related_information_header .simple-collapse__head {
    opacity: 0.99;
}

#pitw-wrapper .series-feature-catalogues .content-body-js,
#ssi-container .series-feature-catalogues .content-body-js,
#related_information .product-toolbar-item .content-body-js {
    max-height: 276px !important;
}

#ssi-container .series-feature-catalogues {
    width: 40%;
}

#producttoolbar_related_information_header .series-catalogues-change-language-js {
    padding: 8px;
}

